<!DOCTYPE html> 
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Doccure</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		
		<!-- Favicons -->
		<link href="assets/img/favicon.png" rel="icon">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

		<!-- Feathericon CSS -->
    	<link rel="stylesheet" href="assets/css/feather.css">

		 <!-- Select2 CSS -->
		 <link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">

		 <!-- Owl carousel CSS -->
		<link rel="stylesheet" href="assets/css/owl.carousel.min.css">

		<!-- Apex Chart -->
		<link rel="stylesheet" href="assets/plugins/apex/apexcharts.css">

		<!-- Main CSS -->
		<link rel="stylesheet" href="assets/css/style.css">
	
	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
			<header class="header">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="index.html" class="navbar-brand logo">
							<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="index.html" class="menu-logo">
								<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav">
							<li class="has-submenu">
								<a href="">Home <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="index.html">Home</a></li>
									<li><a href="index-two.html">Home 2</a></li>
									<li><a href="index-three.html">Home 3</a></li>
									<li><a href="index-four.html">Home 4</a></li>
									<li><a href="index-five.html">Home 5</a></li>
									<li><a href="index-six.html">Home 6</a></li>
									<li><a href="index-seven.html">Home 7</a></li>
									<li><a href="index-eight.html">Home 8</a></li>
									<li><a href="index-nine.html">Home 9</a></li>
									<li><a href="index-ten.html">Home 10</a></li>
									<li><a href="index-leven.html">Home 11</a></li>
									<li><a href="index-twelve.html">Home 12</a></li>
									<li><a href="index-thirteen.html">Home 13</a></li>
									<li><a href="index-fourteen.html">Home 14</a></li>
										<li><a href="index-fifteen.html">Home 15</a></li>
								</ul>
							</li>
							<li class="has-submenu active">
								<a href="">Doctors <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li class="active"><a href="doctor-dashboard.html">Doctor Dashboard</a></li>
									<li><a href="appointments.html">Appointments</a></li>
									<li><a href="schedule-timings.html">Schedule Timing</a></li>
									<li><a href="my-patients.html">Patients List</a></li>
									<li><a href="patient-profile.html">Patients Profile</a></li>
									<li><a href="chat-doctor.html">Chat</a></li>
									<li><a href="invoices.html">Invoices</a></li>
									<li><a href="doctor-profile-settings.html">Profile Settings</a></li>
									<li><a href="reviews.html">Reviews</a></li>
									<li><a href="doctor-register.html">Doctor Register</a></li>
									<li class="has-submenu">
										<a href="doctor-blog.html">Blog</a>
										<ul class="submenu">
											<li><a href="doctor-blog.html">Blog</a></li>
											<li><a href="blog-details.html">Blog view</a></li>
											<li><a href="doctor-add-blog.html">Add Blog</a></li>
										</ul>
									</li>
								</ul>
							</li>	
							<li class="has-submenu">
								<a href="">Patients <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li class="has-submenu">
										<a href="#">Doctors</a>
										<ul class="submenu">
											<li><a href="map-grid.html">Map Grid</a></li>
											<li><a href="map-list.html">Map List</a></li>
											<li><a href="map-list-1.html">Map List 1</a></li>
										</ul>
									</li>
									<li><a href="search.html">Search Doctor</a></li>
									<li><a href="doctor-profile.html">Doctor Profile</a></li>
									<li><a href="booking.html">Booking</a></li>
									<li><a href="checkout.html">Checkout</a></li>
									<li><a href="booking-success.html">Booking Success</a></li>
									<li><a href="patient-dashboard.html">Patient Dashboard</a></li>
									<li><a href="favourites.html">Favourites</a></li>
									<li><a href="chat.html">Chat</a></li>
									<li><a href="profile-settings.html">Profile Settings</a></li>
									<li><a href="change-password.html">Change Password</a></li>
								</ul>
							</li>	
							<li class="has-submenu">
								<a href="">Pharmacy <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="pharmacy-index.html">Pharmacy</a></li>
									<li><a href="pharmacy-details.html">Pharmacy Details</a></li>
									<li><a href="pharmacy-search.html">Pharmacy Search</a></li>
									<li><a href="product-all.html">Product</a></li>
									<li><a href="product-description.html">Product Description</a></li>
									<li><a href="cart.html">Cart</a></li>
									<li><a href="product-checkout.html">Product Checkout</a></li>
									<li><a href="payment-success.html">Payment Success</a></li>
									<li><a href="pharmacy-register.html">Pharmacy Register</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="">Pages <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="voice-call.html">Voice Call</a></li>
									<li><a href="video-call.html">Video Call</a></li>
									<li><a href="search.html">Search Doctors</a></li>
									<li><a href="calendar.html">Calendar</a></li>
									<li><a href="onboarding-email.html">Doctor Onboarding</a></li>
									<li><a href="patient-email.html">Patient Onboarding</a></li>
									<li><a href="components.html">Components</a></li>
									<li class="has-submenu">
										<a href="invoices.html">Invoices</a>
										<ul class="submenu">
											<li><a href="invoices.html">Invoices</a></li>
											<li><a href="invoice-view.html">Invoice View</a></li>
										</ul>
									</li>
									<li><a href="blank-page.html">Starter Page</a></li>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="contact-us.html">Contact Us</a></li>
									<li><a href="login.html">Login</a></li>
									<li><a href="register.html">Register</a></li>
									<li><a href="forgot-password.html">Forgot Password</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="">Blog <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="blog-list.html">Blog List</a></li>
									<li><a href="blog-grid.html">Blog Grid</a></li>
									<li><a href="blog-details.html">Blog Details</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="#" target="_blank">Admin <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="admin/index.html" target="_blank">Admin</a></li>
									<li><a href="pharmacy/index.html" target="_blank">Pharmacy Admin</a></li>
								</ul>
							</li>
							<li class="login-link">
								<a href="login.html">Login / Signup</a>
							</li>
						</ul>	 
					</div>		 
					<ul class="nav header-navbar-rht">
						<li class="nav-item contact-item">
							<div class="header-contact-img">
								<i class="far fa-hospital"></i>							
							</div>
							<div class="header-contact-detail">
								<p class="contact-header">Contact</p>
								<p class="contact-info-header"> +1 315 369 5943</p>
							</div>
						</li>
						
						<!-- User Menu -->
						<li class="nav-item dropdown has-arrow logged-item">
							<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
								<span class="user-img">
									<img class="rounded-circle" src="assets/img/doctors/doctor-thumb-02.jpg" width="31" alt="Darren Elder">
								</span>
							</a>
							<div class="dropdown-menu dropdown-menu-end">
								<div class="user-header">
									<div class="avatar avatar-sm">
										<img src="assets/img/doctors/doctor-thumb-02.jpg" alt="User Image" class="avatar-img rounded-circle">
									</div>
									<div class="user-text">
										<h6>Darren Elder</h6>
										<p class="text-muted mb-0">Doctor</p>
									</div>
								</div>
								<a class="dropdown-item" href="doctor-dashboard.html">Dashboard</a>
								<a class="dropdown-item" href="doctor-profile-settings.html">Profile Settings</a>
								<a class="dropdown-item" href="login.html">Logout</a>
							</div>
						</li>
						<!-- /User Menu -->
						
					</ul>
				</nav>
			</header>
			<!-- /Header -->
			
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Dashboard</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
							
							<!-- Profile Sidebar -->
							<div class="profile-sidebar">
								<div class="widget-profile pro-widget-content">
									<div class="profile-info-widget">
										<a href="#" class="booking-doc-img">
											<img src="assets/img/doctors/doctor-thumb-02.jpg" alt="User Image">
										</a>
										<div class="profile-det-info">
											<h3>Dr. Darren Elder</h3>
											
											<div class="patient-details">
												<h5 class="mb-0">BDS, MDS - Oral & Maxillofacial Surgery</h5>
											</div>
										</div>
									</div>
								</div>
								<div class="dashboard-widget">
									<nav class="dashboard-menu">
										<ul>
											<li class="active">
												<a href="doctor-dashboard.html">
													<i class="fas fa-columns"></i>
													<span>Dashboard</span>
												</a>
											</li>
											<li>
												<a href="appointments.html">
													<i class="fas fa-calendar-check"></i>
													<span>Appointments</span>
												</a>
											</li>
											<li>
												<a href="my-patients.html">
													<i class="fas fa-user-injured"></i>
													<span>My Patients</span>
												</a>
											</li>
											<li>
												<a href="schedule-timings.html">
													<i class="fas fa-hourglass-start"></i>
													<span>Schedule Timings</span>
												</a>
											</li>
											<li>
												<a href="available-timings.html">
													<i class="fas fa-clock"></i>
													<span>Available Timings</span>
												</a>
											</li>
											<li>
												<a href="invoices.html">
													<i class="fas fa-file-invoice"></i>
													<span>Invoices</span>
												</a>
											</li>
											<li>
												<a href="accounts.html">
													<i class="fas fa-file-invoice-dollar"></i>
													<span>Accounts</span>
												</a>
											</li>
											<li>
												<a href="reviews.html">
													<i class="fas fa-star"></i>
													<span>Reviews</span>
												</a>
											</li>
											<li>
												<a href="chat-doctor.html">
													<i class="fas fa-comments"></i>
													<span>Message</span>
													<small class="unread-msg">23</small>
												</a>
											</li>
											<li>
												<a href="doctor-profile-settings.html">
													<i class="fas fa-user-cog"></i>
													<span>Profile Settings</span>
												</a>
											</li>
											<li>
												<a href="social-media.html">
													<i class="fas fa-share-alt"></i>
													<span>Social Media</span>
												</a>
											</li>
											<li>
												<a href="doctor-change-password.html">
													<i class="fas fa-lock"></i>
													<span>Change Password</span>
												</a>
											</li>
											<li>
												<a href="index.html">
													<i class="fas fa-sign-out-alt"></i>
													<span>Logout</span>
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
							<!-- /Profile Sidebar -->
							
						</div>
						
						<div class="col-md-7 col-lg-8 col-xl-9">
							<div class="row">
								<div class="col-lg-4 col-md-12">
									<div class="card dash-cards">
										<div class="card-body">
											<div class="dash-top-content">
												<div class="circle-bar circle-bar1">
													<div class="circle-graph1" data-percent="75">
														<img src="assets/img/icon-01.png" class="img-fluid" alt="patient">
													</div>
												</div>
												<div class="dash-widget-info">
													<h6>Total Patient All time</h6>
													<h3>1500</h3>
												</div>
											</div>
											<div class="dash-bottom-content">
												<h6> <span> <i class="fas fa-caret-up"></i> 9.5%</span> last Week</h6>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-12">
									<div class="card dash-cards">
										<div class="card-body">
											<div class="dash-top-content">
												<div class="circle-bar circle-bar2">
													<div class="circle-graph2" data-percent="75">
														<img src="assets/img/icon-03.png" class="img-fluid" alt="patient">
													</div>
												</div>
												<div class="dash-widget-info">
													<h6>Total Appointements</h6>
													<h3>4587</h3>
												</div>
											</div>
											<div class="dash-bottom-content">
												<h6> <span> <i class="fas fa-caret-up"></i> 5.5%</span> last Week</h6>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-12">
									<div class="card dash-cards">
										<div class="card-body">
											<div class="dash-top-content">
												<div class="circle-bar circle-bar3">
													<div class="circle-graph3" data-percent="50">
														<img src="assets/img/icon-4.png" class="img-fluid" alt="patient">
													</div>
												</div>
												<div class="dash-widget-info">
													<h6>Today’s Income</h6>
													<h3>€1454</h3>
												</div>
											</div>
											<div class="dash-bottom-content low-percent">
												<h6> <span> <i class="fas fa-caret-down"></i> 5.5%</span> Yesterday</h6>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-8">
									<div class="card dash-cards">
										<div class="card-header">
											<div class="today-appointment-title">
												<h5 class="mb-0">Today’s Appointments</h5>
												<a href="appointments.html"><h6 class="mb-0">View All <i class="feather-arrow-right"></i></h6></a>
											</div>
										</div>
										<div class="card-body">
											<div class="table-responsive">
												<table class="table table-hover table-center mb-0">
													<tbody>
														<tr>
															<td>
																<h2 class="table-avatar ">
																	<a href="patient-profile.html" class="avatar avatar-m me-2"><img class="avatar-img" src="assets/img/patients/patient.jpg" alt="User Image"></a>
																	<a href="patient-profile.html">Richard<span>#PT0016</span></a>
																</h2>
															</td>
															<td>
																<div class="consult-type d-flex flex-column">
																	<h6 class="mb-0">Online Consultation</h6>
																	<p class="mb-0"><img src="assets/img/icons/video-icon-sm.svg" alt=""> Video Call</p>
															    </div>
															</td>
															<td class="text-center"><a class="call-status" href="video-call.html">Start&nbsp;Call</a></td>
															<td class="text-center"><a href="patient-profile.html"><i class="fas fa-chevron-right"></i></a></td>
														</tr>
														<tr>
															<td>
																<h2 class="table-avatar">
																	<a href="patient-profile.html" class="avatar avatar-m me-2"><img class="avatar-img" src="assets/img/patients/patient2.jpg" alt="User Image"></a>
																	<a href="patient-profile.html">Wilson <span>#PT0016</span></a>
																</h2>
															</td>
															<td>
																<div class="consult-type d-flex flex-column">
																	<h6 class="mb-0">Online Consultation</h6>
																	<p class="mb-0"><img src="assets/img/icons/video-icon-sm.svg" alt=""> Video Call</p>
															    </div>
															</td>
															<td class="text-center"><a class="call-status" href="video-call.html">Join Call</a></td>
															<td class="text-center"><a href="patient-profile.html"><i class="fas fa-chevron-right"></i></a></td>
														</tr>
														<tr>
															<td>
																<h2 class="table-avatar">
																	<a href="patient-profile.html" class="avatar avatar-m me-2"><img class="avatar-img" src="assets/img/patients/patient3.jpg" alt="User Image"></a>
																	<a href="patient-profile.html">James <span>#PT0016</span></a>
																</h2>
															</td>
															<td>
																<div class="consult-type d-flex flex-column">
																	<h6 class="mb-0">Online Consultation</h6>
																	<p class="mb-0"><img src="assets/img/icons/audio-icon-sm.svg" alt="">Audio Call</p>
															    </div>
															</td>
															<td class="text-center"><a class="call-status" href="voice-call.html">Join Call</a></td>
															<td class="text-center"><a href="patient-profile.html"><i class="fas fa-chevron-right"></i></a></td>
														</tr>
														<tr>
															<td>
																<h2 class="table-avatar">
																	<a href="patient-profile.html" class="avatar avatar-m me-2"><img class="avatar-img" src="assets/img/patients/patient4.jpg" alt="User Image"></a>
																	<a href="patient-profile.html">Hendry <span>#PT0016</span></a>
																</h2>
															</td>
															<td>
																<div class="consult-type d-flex flex-column">
																	<h6 class="mb-0">Online Consultation</h6>
																	<p class="mb-0"><img src="assets/img/icons/chat-sm.svg" alt=""> Chat</p>
															    </div>
															</td>
															<td class="text-center"><a class="call-status" href="chat.html">Ongoing</a></td>
															<td class="text-center"><a href="patient-profile.html"><i class="fas fa-chevron-right"></i></a></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="card dash-cards">
										<div class="card-header">
											<div class="today-appointment-title">
												<h5 class="mb-0">Patients</h5>
												<a href="my-patients.html"><h6 class="mb-0">View All<i class="feather-arrow-right"></i></h6></a>
											</div>
										</div>
										<div class="card-body">
											<div class="table-responsive">
												<table class="table table-hover table-center mb-0">
													<tbody>
														<tr>
															<td>
																<h2 class="table-avatar">
																	<a href="patient-profile.html" class="avatar avatar-m me-2"><img class="avatar-img" src="assets/img/patients/patient.jpg" alt="User Image"></a>
																	<a href="patient-profile.html">Richard<span>#PT0016</span></a>
																</h2>
															</td>
															<td class="text-center"><a href="patient-profile.html"><i class="fas fa-chevron-right"></i></a></td>
														</tr>
														<tr>
															<td>
																<h2 class="table-avatar">
																	<a href="patient-profile.html" class="avatar avatar-m me-2"><img class="avatar-img" src="assets/img/patients/patient2.jpg" alt="User Image"></a>
																	<a href="patient-profile.html">Wilson<span>#PT0016</span></a>
																</h2>
															</td>
															<td class="text-center"><a href="patient-profile.html"><i class="fas fa-chevron-right"></i></a></td>
														</tr>
														<tr>
															<td>
																<h2 class="table-avatar">
																	<a href="patient-profile.html" class="avatar avatar-m me-2"><img class="avatar-img" src="assets/img/patients/patient3.jpg" alt="User Image"></a>
																	<a href="patient-profile.html">James <span>#PT0016</span></a>
																</h2>
															</td>
															<td class="text-center"><a href="patient-profile.html"><i class="fas fa-chevron-right"></i></a></td>
														</tr>
														<tr>
															<td>
																<h2 class="table-avatar">
																	<a href="patient-profile.html" class="avatar avatar-m me-2"><img class="avatar-img" src="assets/img/patients/patient4.jpg" alt="User Image"></a>
																	<a href="patient-profile.html">Hendry<span>#PT0016</span></a>
																</h2>
															</td>
															<td class="text-center"><a href="patient-profile.html"><i class="fas fa-chevron-right"></i></a></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="card dash-cards xyz">
										<div class="card-header">
											<div class="row align-items-center">
												<div class="col">
													<h5 class="card-title">Appointments</h5>
												</div>
												<div class="col-auto chart-select d-flex">
													<div class="me-2">
														<select class="select">
															<option >All Calls</option>
															<option>Video</option>
															<option>Audio</option>
															<option>Chat</option>
														</select>
													</div>
													<select class="select">
														<option>2022</option>
														<option>2022</option>
													</select>
													
												</div>
											</div>
										</div>
										<div class="card-body">			
											<div id="call-chart"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-4 d-flex">
									<div class="card dash-cards flex-fill">
										<div class="card-header">
											<div class="today-appointment-title">
												<h5 class="mb-0">Recent Prescriptions</h5>
												<a href="patient-profile.html"><h6 class="mb-0">View All <i class="feather-arrow-right"></i></h6></a>
											</div>
										</div>
										<div class="card-body">
											<div class="table-responsive">
												<table class="table table-hover table-center mb-0">
													<tbody>
														<tr>
															<td>
																<h2 class="table-avatar">
																	<a href="patient-profile.html" class="avatar-m avatar-tablet me-2 d-flex align-items-center justify-content-center">
																		<img src="assets/img/icons/tablets.svg" alt="" >
																	</a>
																	<a href="patient-profile.html">Abacavir<span class="text-danger">#8995447</span></a>
																</h2>
															</td>
															<td>Type : Onetime</td>
															<td class="text-center"><a href="javascript:void(0);"><i class="fas fa-chevron-right"></i></a></td>
														</tr>
														<tr>
															<td>
																<h2 class="table-avatar">
																	<a href="patient-profile.html" class="avatar-m avatar-tablet me-2 d-flex align-items-center justify-content-center">
																		<img src="assets/img/icons/tablets.svg" alt="" >
																	</a>
																	<a href="patient-profile.html">Calcium<span class="text-danger">#8995447</span></a>
																</h2>
															</td>
															<td>Type : Onetime</td>
															<td class="text-center"><a href="javascript:void(0);"><i class="fas fa-chevron-right"></i></a></td>
														</tr>
														<tr>
															<td>
																<h2 class="table-avatar">
																	<a href="patient-profile.html" class="avatar-m avatar-tablet me-2 d-flex align-items-center justify-content-center">
																		<img src="assets/img/icons/tablets.svg" alt="" >
																	</a>
																	<a href="patient-profile.html">Citrizen<span class="text-danger">#8995447</span></a>
																</h2>
															</td>
															<td>Type : Onetime</td>
															<td class="text-center"><a href="javascript:void(0);"><i class="fas fa-chevron-right"></i></a></td>
														</tr>
														<tr>
															<td>
																<h2 class="table-avatar">
																	<a href="patient-profile.html" class="avatar-m avatar-tablet me-2 d-flex align-items-center justify-content-center">
																		<img src="assets/img/icons/tablets.svg" alt="" >
																	</a>
																	<a href="patient-profile.html">Glabton<span class="text-danger">#8995447</span></a>
																</h2>
															</td>
															<td>Type : Onetime</td>
															<td class="text-center"><a href="javascript:void(0);"><i class="fas fa-chevron-right"></i></a></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 d-flex">
									<div class="card dash-cards flex-fill">
										<div class="card-header">
											<div class="today-appointment-title">
												<h5 class="mb-0">Total Earning</h5>
											</div>
										</div>
										<div class="card-body">
											<div id="earnings-chart"></div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 d-flex">
									<div class="card dash-cards flex-fill">
										<div class="card-header">
											<div class="today-appointment-title">
												<h5 class="mb-0">Recent Consultation</h5>
											</div>
										</div>
										<div class="card-body">
											<div class="owl-carousel report-card-slider owl-theme">
												<div class="item">
													<div class="paitents-report-card">
														<div class="paitents-report-card-head d-flex align-items-center">
															<div class="paitent-report-card-photo">
																<a href="patient-profile.html" class="avatar avatar-m me-2"><img class="avatar-img" src="assets/img/patients/patient4.jpg" alt="User Image"></a>
															</div>
															<div class="paitent-report-card-detail d-flex flex-column">
																<a href="patient-profile.html">Hendry</a>
																<p class="text-dark mb-0">Female - 40years </p>
															</div>
														</div>
														<div class="paitents-report-card-body">
															<div class="paitents-report-card-details d-flex flex-column">
																<h3>Problem</h3>
																<h6 class="mb-0">Fever, Soar throat, Allergy </h6>
															</div>
															<div class="paitents-report-card-details d-flex flex-column">
																<h3>Last Checked</h3>
																<h6>Dr Kimberly on Fret Hospital in 29/05/2022</h6>
																<p class="text-danger mb-0">Prescription : #566646</p>
															</div>
															<div class="paitents-report-card-details d-flex flex-column">
																<h3>Observation</h3>
																<h6>Three Sickle cells are sustained at normal hemoglobin Level</h6>
															</div>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="paitents-report-card">
														<div class="paitents-report-card-head d-flex align-items-center">
															<div class="paitent-report-card-photo">
																<a href="patient-profile.html" class="avatar avatar-m me-2"><img class="avatar-img" src="assets/img/patients/patient2.jpg" alt="User Image"></a>
															</div>
															<div class="paitent-report-card-detail d-flex flex-column">
																<a href="patient-profile.html">James</a>
																<p class="text-dark mb-0">Male - 35years </p>
															</div>
														</div>
														<div class="paitents-report-card-body">
															<div class="paitents-report-card-details d-flex flex-column">
																<h3>Problem</h3>
																<h6 class="mb-0">Fever, Soar throat, Allergy </h6>
															</div>
															<div class="paitents-report-card-details d-flex flex-column">
																<h3>Last Checked</h3>
																<h6>Dr Kimberly on Fret Hospital in 29/05/2022</h6>
																<p class="text-danger mb-0">Prescription : #566646</p>
															</div>
															<div class="paitents-report-card-details d-flex flex-column">
																<h3>Observation</h3>
																<h6>Three Sickle cells are sustained at normal hemoglobin Level</h6>
															</div>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="paitents-report-card">
														<div class="paitents-report-card-head d-flex align-items-center">
															<div class="paitent-report-card-photo">
																<a href="patient-profile.html" class="avatar avatar-m me-2"><img class="avatar-img" src="assets/img/patients/patient3.jpg" alt="User Image"></a>
															</div>
															<div class="paitent-report-card-detail d-flex flex-column">
																<a href="patient-profile.html">Richard</a>
																<p class="text-dark mb-0">Male - 30years </p>
															</div>
														</div>
														<div class="paitents-report-card-body">
															<div class="paitents-report-card-details d-flex flex-column">
																<h3>Problem</h3>
																<h6 class="mb-0">Fever, Soar throat, Allergy </h6>
															</div>
															<div class="paitents-report-card-details d-flex flex-column">
																<h3>Last Checked</h3>
																<h6>Dr Kimberly on Fret Hospital in 29/05/2022</h6>
																<p class="text-danger mb-0">Prescription : #566646</p>
															</div>
															<div class="paitents-report-card-details d-flex flex-column">
																<h3>Observation</h3>
																<h6>Three Sickle cells are sustained at normal hemoglobin Level</h6>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>		
			<!-- /Page Content -->
   
			<!-- Footer -->
			<footer class="footer">
				
				<!-- Footer Top -->
				<div class="footer-top">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-about">
									<div class="footer-logo">
										<img src="assets/img/footer-logo.png" alt="logo">
									</div>
									<div class="footer-about-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
										<div class="social-icon">
											<ul>
												<li>
													<a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">For Patients</h2>
									<ul>
										<li><a href="search.html">Search for Doctors</a></li>
										<li><a href="login.html">Login</a></li>
										<li><a href="register.html">Register</a></li>
										<li><a href="booking.html">Booking</a></li>
										<li><a href="patient-dashboard.html">Patient Dashboard</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">For Doctors</h2>
									<ul>
										<li><a href="appointments.html">Appointments</a></li>
										<li><a href="chat.html">Chat</a></li>
										<li><a href="login.html">Login</a></li>
										<li><a href="doctor-register.html">Register</a></li>
										<li><a href="doctor-dashboard.html">Doctor Dashboard</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-contact">
									<h2 class="footer-title">Contact Us</h2>
									<div class="footer-contact-info">
										<div class="footer-address">
											<span><i class="fas fa-map-marker-alt"></i></span>
											<p> 3556  Beech Street, San Francisco,<br> California, CA 94108 </p>
										</div>
										<p>
											<i class="fas fa-phone-alt"></i>
											+1 315 369 5943
										</p>
										<p class="mb-0">
											<i class="fas fa-envelope"></i>
											doccure@example.com
										</p>
									</div>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
						</div>
					</div>
				</div>
				<!-- /Footer Top -->
				
				<!-- Footer Bottom -->
                <div class="footer-bottom">
					<div class="container-fluid">
					
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								<div class="col-md-6 col-lg-6">
									<div class="copyright-text">
										<p class="mb-0">&copy; 2022 Doccure. All rights reserved.</p>
									</div>
								</div>
								<div class="col-md-6 col-lg-6">
								
									<!-- Copyright Menu -->
									<div class="copyright-menu">
										<ul class="policy-menu">
											<li><a href="term-condition.html">Terms and Conditions</a></li>
											<li><a href="privacy-policy.html">Policy</a></li>
										</ul>
									</div>
									<!-- /Copyright Menu -->
								</div>
							</div>
						</div>
						<!-- /Copyright -->
					</div>
				</div>
				<!-- /Footer Bottom -->
			</footer>
			<!-- /Footer -->
		</div>
		<!-- /Main Wrapper -->
	  
		<!-- jQuery -->
		<script src="assets/js/jquery-3.6.0.min.js"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="assets/js/bootstrap.bundle.min.js"></script>
		
		<!-- Sticky Sidebar JS -->
        <script src="assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
        <script src="assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>
		
		<!-- Circle Progress JS -->
		<script src="assets/js/circle-progress.min.js"></script>

		<!-- Feather Icon JS -->
		<script src="assets/js/feather.min.js"></script>

		<!-- Select2 JS -->
		<script src="assets/plugins/select2/js/select2.min.js"></script>

		<!-- Owl Carousel JS -->
		<script src="assets/js/owl.carousel.min.js"></script>

		<!-- Apex Chart -->
		<script src="assets/plugins/apex/apexcharts.min.js"></script>

		<!-- Custom Apex Chart -->
		<script src="assets/plugins/apex/chart-data.js"></script>

		<!-- Custom JS -->
		<script src="assets/js/script.js"></script>
	</body>
</html>