<!DOCTYPE html> 
<html lang="en">
	<head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<title>Doccure</title>
		
		<!-- Favicons -->
		<link type="image/x-icon" href="assets/img/favicon.png" rel="icon">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

		<!-- Swiper CSS -->
		<link rel="stylesheet" href="assets/plugins/swiper/css/swiper.min.css">

		<!-- Animation CSS -->
		<link rel="stylesheet" href="assets/css/aos.css">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="assets/css/style.css">
	
	</head>
<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
			<header class="header header-four">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="index.html" class="navbar-brand logo">
							<img src="assets/img/footer-logo.png" class="img-fluid" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="index.html" class="menu-logo">
								<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav">
							<li class="has-submenu active">
								<a href="">Home <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="index.html">Home</a></li>
									<li><a href="index-two.html">Home 2</a></li>
									<li><a href="index-three.html">Home 3</a></li>
									<li><a href="index-four.html">Home 4</a></li>
									<li class="active"><a href="index-five.html">Home 5</a></li>
									<li><a href="index-six.html">Home 6</a></li>
									<li><a href="index-seven.html">Home 7</a></li>
									<li><a href="index-eight.html">Home 8</a></li>
									<li><a href="index-nine.html">Home 9</a></li>
									<li><a href="index-ten.html">Home 10</a></li>
									<li><a href="index-leven.html">Home 11</a></li>
									<li><a href="index-twelve.html">Home 12</a></li>
									<li><a href="index-thirteen.html">Home 13</a></li>
									<li><a href="index-fourteen.html">Home 14</a></li>
										<li><a href="index-fifteen.html">Home 15</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="">Doctors <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="doctor-dashboard.html">Doctor Dashboard</a></li>
									<li><a href="appointments.html">Appointments</a></li>
									<li><a href="schedule-timings.html">Schedule Timing</a></li>
									<li><a href="my-patients.html">Patients List</a></li>
									<li><a href="patient-profile.html">Patients Profile</a></li>
									<li><a href="chat-doctor.html">Chat</a></li>
									<li><a href="invoices.html">Invoices</a></li>
									<li><a href="doctor-profile-settings.html">Profile Settings</a></li>
									<li><a href="reviews.html">Reviews</a></li>
									<li><a href="doctor-register.html">Doctor Register</a></li>
									<li class="has-submenu">
										<a href="doctor-blog.html">Blog</a>
										<ul class="submenu">
											<li><a href="doctor-blog.html">Blog</a></li>
											<li><a href="blog-details.html">Blog view</a></li>
											<li><a href="doctor-add-blog.html">Add Blog</a></li>
										</ul>
									</li>
								</ul>
							</li>	
							<li class="has-submenu">
								<a href="">Patients <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li class="has-submenu">
										<a href="#">Doctors</a>
										<ul class="submenu">
											<li><a href="map-grid.html">Map Grid</a></li>
											<li><a href="map-list.html">Map List</a></li>
											<li><a href="map-list-1.html">Map List 1</a></li>
										</ul>
									</li>
									<li><a href="search.html">Search Doctor</a></li>
									<li><a href="doctor-profile.html">Doctor Profile</a></li>
									<li><a href="booking.html">Booking</a></li>
									<li><a href="checkout.html">Checkout</a></li>
									<li><a href="booking-success.html">Booking Success</a></li>
									<li><a href="patient-dashboard.html">Patient Dashboard</a></li>
									<li><a href="favourites.html">Favourites</a></li>
									<li><a href="chat.html">Chat</a></li>
									<li><a href="profile-settings.html">Profile Settings</a></li>
									<li><a href="change-password.html">Change Password</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="">Pharmacy <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="pharmacy-index.html">Pharmacy</a></li>
									<li><a href="pharmacy-details.html">Pharmacy Details</a></li>
									<li><a href="pharmacy-search.html">Pharmacy Search</a></li>
									<li><a href="product-all.html">Product</a></li>
									<li><a href="product-description.html">Product Description</a></li>
									<li><a href="cart.html">Cart</a></li>
									<li><a href="product-checkout.html">Product Checkout</a></li>
									<li><a href="payment-success.html">Payment Success</a></li>
									<li><a href="pharmacy-register.html">Pharmacy Register</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="">Pages <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="voice-call.html">Voice Call</a></li>
									<li><a href="video-call.html">Video Call</a></li>
									<li><a href="search.html">Search Doctors</a></li>
									<li><a href="calendar.html">Calendar</a></li>
									<li><a href="onboarding-email.html">Doctor Onboarding</a></li>
									<li><a href="patient-email.html">Patient Onboarding</a></li>
									<li><a href="components.html">Components</a></li>
									<li class="has-submenu">
										<a href="invoices.html">Invoices</a>
										<ul class="submenu">
											<li><a href="invoices.html">Invoices</a></li>
											<li><a href="invoice-view.html">Invoice View</a></li>
										</ul>
									</li>
									<li><a href="blank-page.html">Starter Page</a></li>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="contact-us.html">Contact Us</a></li></li>
									<li><a href="login.html">Login</a></li>
									<li><a href="register.html">Register</a></li>
									<li><a href="forgot-password.html">Forgot Password</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="">Blog <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="blog-list.html">Blog List</a></li>
									<li><a href="blog-grid.html">Blog Grid</a></li>
									<li><a href="blog-details.html">Blog Details</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="#" target="_blank">Admin</a>
							</li>
							<li class="login-link">
								<a href="login.html">Login / Signup</a>
							</li>							
							<li class="nav-item">
								<a class="nav-link header-login" href="login.html"><i class="fas fa-user-circle"></i> login / Signup </a>
							</li>
						</ul>		 
					</div>	
				</nav>
			</header>
			<!-- /Header -->
			
			<!-- Home Banner  -->
			<div class="home-banner">
				<div class="dot-slider slider">
					<!-- Banner Images -->
					<div class="profile-widget">
						<div class="pro-img">
							<a href="javascript:void(0);">
								<img class="img-fluid" src="assets/img/slider/slider-4.jpg" alt="">
							</a>
						</div>
					</div>
					<!-- /Banner Images -->
					<!-- Banner Images -->
					<div class="profile-widget">
						<div class="pro-img">
							<a href="javascript:void(0);">
								<img class="img-fluid" src="assets/img/slider/slider-5.jpg" alt="">
							</a>
						</div>
					</div>
					<!-- /Banner Images -->
					<!-- Banner Images -->
					<div class="profile-widget">
						<div class="pro-img">
							<a href="javascript:void(0);">
								<img class="img-fluid" src="assets/img/slider/slider-6.jpg" alt="">
							</a>
						</div>
					</div>
					<!-- /Banner Images -->
					<!-- Banner Images -->
					<div class="profile-widget">
						<div class="pro-img">
							<a href="javascript:void(0);">
								<img class="img-fluid" src="assets/img/slider/slider-7.jpg" alt="">
							</a>
						</div>
					</div>
					<!-- /Banner Images -->
				</div>		
				<div class="container">
					<div class="banner-wrapper doc-form aos" data-aos="fade-up">
						<div class="app-form">
							<h2>Search Doctor, <br> <span class="header-highlight">Make an Appointment</span></h2>
							<form action="#" class="doctor-search-form">
								<div class="row">
									<div class="col-md-6 col-lg-6">
										<div class="form-group">
											<div class="form-custom">
												<input type="text" class="form-control" value="" placeholder="Search Location">
												<i class="far fa-compass"></i>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-lg-6">
										<div class="form-group">
											<div class="form-custom">
												<input type="text" class="form-control" value="" placeholder="Gender">
												<i class="far fa-smile"></i>
											</div>
										</div>
									</div>
									<div class="col-md-7 col-lg-8">
										<div class="form-group">
											<div class="form-custom">
												<input type="text" class="form-control" value="" placeholder="Department">
												<i class="fas fa-user-check"></i>
											</div>
										</div>
									</div>
									<div class="col-md-5 col-lg-4">
										<a href="search.html" class="btn banner-btn">MAKE APPOINTMENT</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>			
			<!-- /Home Banner -->

			<!-- Category Section -->
			<section class="category-sec">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="set-category aos" data-aos="fade-up">
								<div class="d-flex align-items-center">
									<div class="img-holder">
										<a href="javascript:void(0);"><img src="assets/img/icons/set-cat-01.png" alt="" /></a>
									</div>
									<div class="info-holder">
										<h3>Visit a Doctor</h3>
										<p>We hire the best specialists to deliver top-notch diagnostic services for you.</p>
										<a href="booking.html" class="book-now">Book Now <i class="fas fa-long-arrow-alt-right"></i></a>
									</div>
								</div>
								<h1>01</h1>
							</div>
						</div>
						<div class="col-md-4">
							<div class="set-category light aos" data-aos="fade-up">
								<div class="d-flex align-items-center">
									<div class="img-holder">
										<a href="javascript:void(0);"><img src="assets/img/icons/set-cat-02.png" alt="" /></a>
									</div>
									<div class="info-holder">
										<h3>Find a Pharmacy</h3>
										<p>We provide the a wide range of medical services, so every person could have the opportunity.</p>
										<a href="booking.html" class="book-now">Book Now <i class="fas fa-long-arrow-alt-right"></i></a>
									</div>
								</div>
								<h1>02</h1>
							</div>
						</div>
						<div class="col-md-4">
							<div class="set-category lighter aos" data-aos="fade-up">
								<div class="d-flex align-items-center">
									<div class="img-holder">
										<a href="javascript:void(0);"><img src="assets/img/icons/set-cat-03.png" alt="" /></a>
									</div>
									<div class="info-holder">
										<h3>Find a Lab</h3>
										<p>We use the first-class medical equipment for timely diagnostics of various diseases.</p>
										<a href="booking.html" class="book-now">Book Now <i class="fas fa-long-arrow-alt-right"></i></a>
									</div>
								</div>
								<h1>03</h1>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Category Section -->

			<!-- Clinic and Specialities -->
			<section class="clinic-section">
				<div class="container">
					<div class="sec-header aos" data-aos="fade-up">
						<h2>Clinic and Specialities</h2>
						<span class="bottom-border"></span>
					</div>
					<div class="row">
						<div class="col-md-12 aos" data-aos="fade-up">
							<div class="clinic-slider slider">
								<div class="profile-widget">
									<div class="brower-box">
										<a href="javascript:void(0);">
											<img class="img-fluid" alt="User Image" src="assets/img/icons/clinic-01.png">
											<img class="img-fluid hover" alt="" src="assets/img/icons/clinic-hover-01.png"/>
										</a>
										<h4>Orthopedic</h4>
										<p>124 <span>Doctors</span></p>
										<a href="doctor-profile.html" class="arrow"><i class="fas fa-chevron-right"></i></a>
									</div>
								</div>
								<div class="profile-widget">
									<div class="brower-box">
										<a href="javascript:void(0);">
											<img class="img-fluid" alt="User Image" src="assets/img/icons/clinic-02.png">
											<img class="img-fluid hover" alt="" src="assets/img/icons/clinic-hover-02.png"/>
										</a>
										<h4>Urology</h4>
										<p>124 <span>Doctors</span></p>
										<a href="doctor-profile.html" class="arrow"><i class="fas fa-chevron-right"></i></a>
									</div>
								</div>
								<div class="profile-widget">
									<div class="brower-box">
										<a href="javascript:void(0);">
											<img class="img-fluid" alt="User Image" src="assets/img/icons/clinic-03.png">
											<img class="img-fluid hover" alt="" src="assets/img/icons/clinic-hover-03.png"/>
										</a>
										<h4>Cardiologist</h4>
										<p>124 <span>Doctors</span></p>
										<a href="doctor-profile.html" class="arrow"><i class="fas fa-chevron-right"></i></a>
									</div>
								</div>
								<div class="profile-widget">
									<div class="brower-box">
										<a href="javascript:void(0);">
											<img class="img-fluid" alt="User Image" src="assets/img/icons/clinic-04.png">
											<img class="img-fluid hover" alt="" src="assets/img/icons/clinic-hover-04.png"/>
										</a>
										<h4>Neurology</h4>
										<p>124 <span>Doctors</span></p>
										<a href="doctor-profile.html" class="arrow"><i class="fas fa-chevron-right"></i></a>
									</div>
								</div>
								<div class="profile-widget">
									<div class="brower-box">
										<a href="javascript:void(0);">
											<img class="img-fluid" alt="User Image" src="assets/img/icons/clinic-05.png">
											<img class="img-fluid hover" alt="" src="assets/img/icons/clinic-hover-05.png"/>
										</a>
										<h4>Dentist</h4>
										<p>124 <span>Doctors</span></p>
										<a href="doctor-profile.html" class="arrow"><i class="fas fa-chevron-right"></i></a>
									</div>
								</div>
								<div class="profile-widget">
									<div class="brower-box">
										<a href="javascript:void(0);">
											<img class="img-fluid" alt="User Image" src="assets/img/icons/clinic-06.png">
											<img class="img-fluid hover" alt="" src="assets/img/icons/clinic-hover-06.png"/>
										</a>
										<h4>Laboratry</h4>
										<p>124 <span>Doctors</span></p>
										<a href="doctor-profile.html" class="arrow"><i class="fas fa-chevron-right"></i></a>
									</div>
								</div>
								<div class="profile-widget">
									<div class="brower-box">
										<a href="javascript:void(0);">
											<img class="img-fluid" alt="User Image" src="assets/img/icons/clinic-07.png">
											<img class="img-fluid hover" alt="" src="assets/img/icons/clinic-hover-07.png"/>
										</a>
										<h4>MRI Scans</h4>
										<p>124 <span>Doctors</span></p>
										<a href="doctor-profile.html" class="arrow"><i class="fas fa-chevron-right"></i></a>
									</div>
								</div>
								<div class="profile-widget">
									<div class="brower-box">
										<a href="javascript:void(0);">
											<img class="img-fluid" alt="User Image" src="assets/img/icons/clinic-08.png">
											<img class="img-fluid hover" alt="" src="assets/img/icons/clinic-hover-08.png"/>
										</a>
										<h4>Primary Checkup</h4>
										<p>124 <span>Doctors</span></p>
										<a href="doctor-profile.html" class="arrow"><i class="fas fa-chevron-right"></i></a>
									</div>
								</div>
								<div class="profile-widget">
									<div class="brower-box">
										<a href="javascript:void(0);">
											<img class="img-fluid" alt="User Image" src="assets/img/icons/clinic-09.png">
											<img class="img-fluid hover" alt="" src="assets/img/icons/clinic-hover-09.png"/>
										</a>
										<h4>Testing</h4>
										<p>124 <span>Doctors</span></p>
										<a href="doctor-profile.html" class="arrow"><i class="fas fa-chevron-right"></i></a>
									</div>
								</div>
								<div class="profile-widget">
									<div class="brower-box">
										<a href="javascript:void(0);">
											<img class="img-fluid" alt="User Image" src="assets/img/icons/clinic-10.png">
											<img class="img-fluid hover" alt="" src="assets/img/icons/clinic-hover-10.png"/>
										</a>
										<h4>Pediatrics</h4>
										<p>124 <span>Doctors</span></p>
										<a href="doctor-profile.html" class="arrow"><i class="fas fa-chevron-right"></i></a>
									</div>
								</div>
								<div class="profile-widget">
									<div class="brower-box">
										<a href="javascript:void(0);">
											<img class="img-fluid" alt="User Image" src="assets/img/icons/clinic-01.png">
											<img class="img-fluid hover" alt="" src="assets/img/icons/clinic-hover-01.png"/>
										</a>
										<h4>Orthopedic</h4>
										<p>124 <span>Doctors</span></p>
										<a href="doctor-profile.html" class="arrow"><i class="fas fa-chevron-right"></i></a>
									</div>
								</div>
								<div class="profile-widget">
									<div class="brower-box">
										<a href="javascript:void(0);">
											<img class="img-fluid" alt="User Image" src="assets/img/icons/clinic-02.png">
											<img class="img-fluid hover" alt="" src="assets/img/icons/clinic-hover-02.png"/>
										</a>
										<h4>Urology</h4>
										<p>124 <span>Doctors</span></p>
										<a href="doctor-profile.html" class="arrow"><i class="fas fa-chevron-right"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Clinic and Specialities -->

			<!-- /Browse by Specialities -->
			<section class="browse-speciality">
				<div class="container">
					<div class="sec-header aos" data-aos="fade-up">
						<h2>Browse by Specialities</h2>
						<span class="bottom-border"></span>
					</div>
					<div class="row">
						<div class="col-md-12 aos" data-aos="fade-up">
							<div class="browse-slider slider">
								<div class="profile-widget browse-widget">
									<img src="assets/img/icons/browse-01.jpg" alt="" />
									<div class="overlay">
										<img src="assets/img/icons/clinic-02.png" alt="" />
										<h3>UROLOGY</h3>
										<a href="doctor-profile.html" class="arrows"><i class="fas fa-long-arrow-alt-right"></i></a>
									</div>
								</div>
								<div class="profile-widget browse-widget">
									<img src="assets/img/icons/browse-01.jpg" alt="" />
									<div class="overlay">
										<img src="assets/img/icons/clinic-02.png" alt="" />
										<h3>UROLOGY</h3>
										<a href="doctor-profile.html" class="arrows"><i class="fas fa-long-arrow-alt-right"></i></a>
									</div>
								</div>
								<div class="profile-widget browse-widget">
									<img src="assets/img/icons/browse-02.jpg" alt="" />
									<div class="overlay">
										<img src="assets/img/icons/clinic-11.png" alt="" />
										<h3>Orthopedic</h3>
										<a href="doctor-profile.html" class="arrows"><i class="fas fa-long-arrow-alt-right"></i></a>
									</div>
								</div>
								<div class="profile-widget browse-widget">
									<img src="assets/img/icons/browse-02.jpg" alt="" />
									<div class="overlay">
										<img src="assets/img/icons/clinic-11.png" alt="" />
										<h3>Orthopedic</h3>
										<a href="doctor-profile.html" class="arrows"><i class="fas fa-long-arrow-alt-right"></i></a>
									</div>
								</div>
								<div class="profile-widget browse-widget">
									<img src="assets/img/icons/browse-03.jpg" alt="" />
									<div class="overlay">
										<img src="assets/img/icons/clinic-03.png" alt="" />
										<h3>Cardiologist</h3>
										<a href="doctor-profile.html" class="arrows"><i class="fas fa-long-arrow-alt-right"></i></a>
									</div>
								</div>
								<div class="profile-widget browse-widget">
									<img src="assets/img/icons/browse-03.jpg" alt="" />
									<div class="overlay">
										<img src="assets/img/icons/clinic-03.png" alt="" />
										<h3>Cardiologist</h3>
										<a href="doctor-profile.html" class="arrows"><i class="fas fa-long-arrow-alt-right"></i></a>
									</div>
								</div>
								<div class="profile-widget browse-widget">
									<img src="assets/img/icons/browse-04.jpg" alt="" />
									<div class="overlay">
										<img src="assets/img/icons/clinic-12.png" alt="" />
										<h3>Dentist</h3>
										<a href="doctor-profile.html" class="arrows"><i class="fas fa-long-arrow-alt-right"></i></a>
									</div>
								</div>
								<div class="profile-widget browse-widget">
									<img src="assets/img/icons/browse-04.jpg" alt="" />
									<div class="overlay">
										<img src="assets/img/icons/clinic-12.png" alt="" />
										<h3>Dentist</h3>
										<a href="doctor-profile.html" class="arrows"><i class="fas fa-long-arrow-alt-right"></i></a>
									</div>
								</div>
								<div class="profile-widget browse-widget">
									<img src="assets/img/icons/browse-05.jpg" alt="" />
									<div class="overlay">
										<img src="assets/img/icons/clinic-13.png" alt="" />
										<h3>Neurology</h3>
										<a href="doctor-profile.html" class="arrows"><i class="fas fa-long-arrow-alt-right"></i></a>
									</div>
								</div>
								<div class="profile-widget browse-widget">
									<img src="assets/img/icons/browse-05.jpg" alt="" />
									<div class="overlay">
										<img src="assets/img/icons/clinic-13.png" alt="" />
										<h3>Neurology</h3>
										<a href="doctor-profile.html" class="arrows"><i class="fas fa-long-arrow-alt-right"></i></a>
									</div>
								</div>
								<div class="profile-widget browse-widget">
									<img src="assets/img/icons/browse-01.jpg" alt="" />
									<div class="overlay">
										<img src="assets/img/icons/clinic-03.png" alt="" />
										<h3>Cardiologist</h3>
										<a href="doctor-profile.html" class="arrows"><i class="fas fa-long-arrow-alt-right"></i></a>
									</div>
								</div>
								<div class="profile-widget browse-widget">
									<img src="assets/img/icons/browse-01.jpg" alt="" />
									<div class="overlay">
										<img src="assets/img/icons/clinic-03.png" alt="" />
										<h3>Cardiologist</h3>
										<a href="doctor-profile.html" class="arrows"><i class="fas fa-long-arrow-alt-right"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Browse by Specialities -->

			<!-- Select Sections-->
			<section class="patient-select">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="select-box aos" data-aos="fade-up">
								<div class="d-flex align-items-center">
									<div class="image-holder">
										<span>
											<img src="assets/img/icons/doct-01.png" alt="" />
										</span>
									</div>
									<div>
										<h2>ARE YOU A DOCTOR?</h2>
										<p>The service allows you to get maximum visibility online and to manage 
											appointments and contacts coming from the site, in a simple and fast way.</p>
										<a href="booking.html" class="book-now">Book Now</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">							
							<div class="select-box theme aos" data-aos="fade-up">
								<div class="d-flex align-items-center">
									<div class="image-holder">
										<span>
											<img src="assets/img/icons/doct-02.png" alt="" />
										</span>
									</div>
									<div>
										<h2>ARE YOU A DOCTOR?</h2>
										<p>Choosing a specialist has never been so fast! You can filter search 
											results by location and medical specialization, and book medical examination online.</p>
										<a href="booking.html" class="book-now">Book Now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Select Sections-->

			<!-- Book Doctors-->
			<section class="book-doctor">
				<div class="container">					
					<div class="sec-header aos" data-aos="fade-up">
						<h2>Book Our Best Doctor</h2>
						<span class="bottom-border"></span>
					</div>
					<div class="row">
						<div class="col-md-12 aos" data-aos="fade-up">
							<div class="book-slider slider">
								<div class="profile-widget">
									<a href="doctor-profile.html">
										<img src="assets/img/doctors/book-doc-01.jpg" alt="" />
									</a>
									<div class="pro-content">
										<div  class="row row-sm">	
											<div class="col-md-6">							
												<span class="amt">$20 - $50</span>
											</div>
											<div class="col-md-6 text-end">
												<a href="#" class="star"><i class="fas fa-star"></i></a>	
											</div>
										</div>
										<div class="provider-info">
											<h3><a href="doctor-profile.html">Dr. Ruby Perrin</a></h3>
											<div>
												<h5>PSICOLOGIST </h5>
												<div class="rating">
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star"></i>
													<span class="d-inline-block average-rating">3.5</span>
												</div>
											</div>
											<a href="#" class="side-arrow">
												<i class="fas fa-chevron-right"></i>
											</a>
											<div class="content-info">
												<ul class="available-info">
													<li>
														<i class="fas fa-map-marker-alt"></i> Georgia, USA
													</li>
													<li>
														<i class="far fa-clock"></i> 450 Consultations
													</li>
												</ul>
												<div class="row row-sm">
													<div class="col-6">
														<a href="javascript:void(0);" class="btn view-btn" tabindex="0">View Profile</a>
													</div>
													<div class="col-6">
														<a href="booking.html" class="btn book-btn book-btn-light" tabindex="0">Book Now</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="profile-widget">
									<a href="doctor-profile.html">
										<img src="assets/img/doctors/book-doc-02.jpg" alt="" />
									</a>
									<div class="pro-content">
										<div  class="row row-sm">	
											<div class="col-md-6">							
												<span class="amt">$20 - $50</span>
											</div>
											<div class="col-md-6 text-end">
												<a href="#" class="star"><i class="fas fa-star"></i></a>	
											</div>
										</div>
										<div class="provider-info">
											<h3><a href="doctor-profile.html">Dr. Darren Elder</a></h3>
											<div>
												<h5>PSICOLOGIST </h5>
												<div class="rating">
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star"></i>
													<span class="d-inline-block average-rating">3.5</span>
												</div>
											</div>
											<a href="#" class="side-arrow">
												<i class="fas fa-chevron-right"></i>
											</a>
											<div class="content-info">
												<ul class="available-info">
													<li>
														<i class="fas fa-map-marker-alt"></i> Georgia, USA
													</li>
													<li>
														<i class="far fa-clock"></i> 450 Consultations
													</li>
												</ul>
												<div class="row row-sm">
													<div class="col-6">
														<a href="doctor-profile.html" class="btn view-btn" tabindex="0">View Profile</a>
													</div>
													<div class="col-6">
														<a href="booking.html" class="btn book-btn book-btn-light" tabindex="0">Book Now</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="profile-widget">
									<a href="#">
										<img src="assets/img/doctors/book-doc-03.jpg" alt="" />
									</a>
									<div class="pro-content">
										<div  class="row row-sm">	
											<div class="col-md-6">							
												<span class="amt">$20 - $50</span>
											</div>
											<div class="col-md-6 text-end">
												<a href="#" class="star"><i class="fas fa-star"></i></a>	
											</div>
										</div>
										<div class="provider-info">
											<h3><a href="doctor-profile.html">Dr. Paul Richard</a></h3>
											<div>
												<h5>PSICOLOGIST </h5>
												<div class="rating">
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star"></i>
													<span class="d-inline-block average-rating">3.5</span>
												</div>
											</div>
											<a href="#" class="side-arrow">
												<i class="fas fa-chevron-right"></i>
											</a>
											<div class="content-info">
												<ul class="available-info">
													<li>
														<i class="fas fa-map-marker-alt"></i> Georgia, USA
													</li>
													<li>
														<i class="far fa-clock"></i> 450 Consultations
													</li>
												</ul>
												<div class="row row-sm">
													<div class="col-6">
														<a href="doctor-profile.html" class="btn view-btn" tabindex="0">View Profile</a>
													</div>
													<div class="col-6">
														<a href="booking.html" class="btn book-btn book-btn-light" tabindex="0">Book Now</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="profile-widget">
									<a href="#">
										<img src="assets/img/doctors/book-doc-04.jpg" alt="" />
									</a>
									<div class="pro-content">
										<div  class="row row-sm">	
											<div class="col-md-6">							
												<span class="amt">$20 - $50</span>
											</div>
											<div class="col-md-6 text-end">
												<a href="#" class="star"><i class="fas fa-star"></i></a>	
											</div>
										</div>
										<div class="provider-info">
											<h3><a href="doctor-profile.html">Dr. Linda Tobin</a></h3>
											<div>
												<h5>PSICOLOGIST </h5>
												<div class="rating">
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star"></i>
													<span class="d-inline-block average-rating">3.5</span>
												</div>
											</div>
											<a href="#" class="side-arrow">
												<i class="fas fa-chevron-right"></i>
											</a>
											<div class="content-info">
												<ul class="available-info">
													<li>
														<i class="fas fa-map-marker-alt"></i> Georgia, USA
													</li>
													<li>
														<i class="far fa-clock"></i> 450 Consultations
													</li>
												</ul>
												<div class="row row-sm">
													<div class="col-6">
														<a href="doctor-profile.html" class="btn view-btn" tabindex="0">View Profile</a>
													</div>
													<div class="col-6">
														<a href="booking.html" class="btn book-btn book-btn-light" tabindex="0">Book Now</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="profile-widget">
									<a href="#">
										<img src="assets/img/doctors/book-doc-05.jpg" alt="" />
									</a>
									<div class="pro-content">
										<div  class="row row-sm">	
											<div class="col-md-6">							
												<span class="amt">$20 - $50</span>
											</div>
											<div class="col-md-6 text-end">
												<a href="#" class="star"><i class="fas fa-star"></i></a>	
											</div>
										</div>
										<div class="provider-info">
											<h3><a href="doctor-profile.html">Dr. Marvin Paul</a></h3>
											<div>
												<h5>PSICOLOGIST </h5>
												<div class="rating">
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star"></i>
													<span class="d-inline-block average-rating">3.5</span>
												</div>
											</div>
											<a href="#" class="side-arrow">
												<i class="fas fa-chevron-right"></i>
											</a>
											<div class="content-info">
												<ul class="available-info">
													<li>
														<i class="fas fa-map-marker-alt"></i> Georgia, USA
													</li>
													<li>
														<i class="far fa-clock"></i> 450 Consultations
													</li>
												</ul>
												<div class="row row-sm">
													<div class="col-6">
														<a href="doctor-profile.html" class="btn view-btn" tabindex="0">View Profile</a>
													</div>
													<div class="col-6">
														<a href="booking.html" class="btn book-btn book-btn-light" tabindex="0">Book Now</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row justify-content-center mt-4 aos" data-aos="fade-up">
						<div class="col-md-12 text-center">
							<a href="doctor-profile.html" class="view-btn view-btn-light d-inline-block">View More</a>
						</div>
					</div>
				</div>
			</section>
			<!-- /Book Doctors-->

			<!-- Available Features-->
			<section class="aval-features">
				<div class="custom-contain">
					<div class="row">
						<div class="col-lg-5 col-md-6 feature aos" data-aos="fade-up">
							<div class="info-box">
								<h2>Availabe Features in Our Clinic</h2>
								<p>Meet our Experts & Book Online</p>
								<a href="doctor-profile.html" class="view-btn">View More</a>
							</div>
						</div>
						<div class="col-lg-7 col-md-6 ps-0 aos" data-aos="fade-up">
							<div class="aval-slider slider">
								<div class="aval-widget">
									<div class="features-img">
										<img src="assets/img/clinic/spec-01.jpg" alt="" />
										<p>Operation</p>
									</div>
								</div>
								<div class="aval-widget">
									<div class="features-img">
										<img src="assets/img/clinic/spec-02.jpg" alt="" />
										<p>Medical</p>
									</div>
								</div>
								<div class="aval-widget">
									<div class="features-img">
										<img src="assets/img/clinic/spec-03.jpg" alt="" />
										<p>Patient Ward</p>
									</div>
								</div>
								<div class="aval-widget">
									<div class="features-img">
										<img src="assets/img/clinic/spec-01.jpg" alt="" />
										<p>Operation</p>
									</div>
								</div>
								<div class="aval-widget">
									<div class="features-img">
										<img src="assets/img/clinic/spec-02.jpg" alt="" />
										<p>Medical</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Available Features-->

			<!-- Blog Section-->
			<section class="blogs-section">
				<div class="container">			
					<div class="sec-header aos" data-aos="fade-up">
						<h2>Our Latest Blogs</h2>
						<span class="bottom-border"></span>
					</div>		
					<div class="row">
						<div class="col-md-6 col-lg-3">
							<div class="blog-wrapper aos" data-aos="fade-up">
								<div class="wrap-image">
									<a href="blog-details.html">
										<img src="assets/img/blog/blog-wrap-01.jpg" alt="" />
									</a>
								</div>
								<div class="wrap-content">
									<div class="d-flex">
										<span class="sp-title">Urology</span>
										<div class="post-author">
											<a href="doctor-profile.html">
												<img src="assets/img/doctors/doctor-thumb-01.jpg" alt="Post Author"> 
												<span>Ruby Perrin</span>
											</a>
										</div>
										<p class="date-cart">25 <span>Jan 2021</span></p>
									</div>
									<div class="wrap-content-body">
										<h3><a href="blog-details.html">Doccure – Making your clinic painless visit?</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
										<a href="blog-details.html" class="read-txt">Read More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3">
							<div class="blog-wrapper aos" data-aos="fade-up">
								<div class="wrap-image">
									<a href="blog-details.html">
										<img src="assets/img/blog/blog-wrap-02.jpg" alt="" />
									</a>
								</div>
								<div class="wrap-content">
									<div class="d-flex">
										<span class="sp-title">Urology</span>
										<div class="post-author">
											<a href="doctor-profile.html">
												<img src="assets/img/doctors/doctor-thumb-01.jpg" alt="Post Author"> 
												<span>Ruby Perrin</span>
											</a>
										</div>
										<p class="date-cart">25 <span>Jan 2021</span></p>
									</div>
									<div class="wrap-content-body">
										<h3><a href="blog-details.html">Doccure – Making your clinic painless visit?</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
										<a href="blog-details.html" class="read-txt">Read More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3">
							<div class="blog-wrapper aos" data-aos="fade-up">
								<div class="wrap-image">
									<a href="blog-details.html">
										<img src="assets/img/blog/blog-wrap-03.jpg" alt="" />
									</a>
								</div>
								<div class="wrap-content">
									<div class="d-flex">
										<span class="sp-title">Urology</span>
										<div class="post-author">
											<a href="doctor-profile.html">
												<img src="assets/img/doctors/doctor-thumb-01.jpg" alt="Post Author"> 
												<span>Ruby Perrin</span>
											</a>
										</div>
										<p class="date-cart">25 <span>Jan 2021</span></p>
									</div>
									<div class="wrap-content-body">
										<h3><a href="blog-details.html">Doccure – Making your clinic painless visit?</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
										<a href="blog-details.html" class="read-txt">Read More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3">
							<div class="blog-wrapper aos" data-aos="fade-up">
								<div class="wrap-image">
									<a href="blog-details.html">
										<img src="assets/img/blog/blog-wrap-04.jpg" alt="" />
									</a>
								</div>
								<div class="wrap-content">
									<div class="d-flex">
										<span class="sp-title">Urology</span>
										<div class="post-author">
											<a href="doctor-profile.html">
												<img src="assets/img/doctors/doctor-thumb-01.jpg" alt="Post Author"> 
												<span>Ruby Perrin</span>
											</a>
										</div>
										<p class="date-cart">25 <span>Jan 2021</span></p>
									</div>
									<div class="wrap-content-body">
										<h3><a href="blog-details.html">Doccure – Making your clinic painless visit?</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
										<a href="blog-details.html" class="read-txt">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</div>						
					<div class="row justify-content-center">
						<div class="col-md-12 text-center aos" data-aos="fade-up">
							<a href="blog-details.html" class="view-btn view-btn-light d-inline-block">View More</a>
						</div>
					</div>		
				</div>
			</section>
			<!-- /Blog Section-->

			<!-- Footer -->
			<footer class="footer footer-2 footer-four">
				
				<!-- Footer Top -->
				<div class="footer-top">
					<div class="container-fluid">
						<div class="row aos" data-aos="fade-up">
							
							<div class="col-lg-2 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title footer-title-two">Quick Links</h2>
									<ul>
										<li><a href="#">About Us</a></li>
										<li><a href="#">Our Mission</a></li>
										<li><a href="#">Our Approach</a></li>
										<li><a href="#">Our History</a></li>
										<li><a href="#">Awards And Achievements</a></li>
										<li><a href="#">Careers</a></li>
										<li><a href="#">Appointment</a></li>
										<li><a href="#">Facilities</a></li>
										<li><a href="#">Pricing Plans</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-about">
									<div class="footer-logo">
										<img src="assets/img/footer-logo.png" alt="logo">
									</div>
									<div class="footer-about-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									</div>
									<div class="footer-widget footer-contact mt-4">
										<h2 class="footer-title footer-title-two">Our Location</h2>
										<div class="footer-contact-info">
											<div class="footer-address">
												<span><i class="fas fa-map-marker-alt"></i></span>
												<p> 3556  Beech Street, San Francisco,<br> California, CA 94108 </p>
											</div>
											<p>
												<i class="fas fa-phone-alt"></i>
												+1 315 369 5943
											</p>
											<p class="mb-0">
												<i class="fas fa-envelope"></i>
												doccure@example.com
											</p>
										</div>
									</div>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title footer-title-two">Services</h2>
									<div class="row">
										<div class="col-lg-6">
											<ul>
												<li><a href="#">Cardiology</a></li>
												<li><a href="#">Diabetes</a></li>
												<li><a href="#">Plastic Surgery</a></li>
												<li><a href="#">Gastroenterology</a></li>
												<li><a href="#">Gynecology</a></li>
												<li><a href="#">Hepatology</a></li>
												<li><a href="#">Neurology</a></li>
												<li><a href="#">Radiology</a></li>
												<li><a href="#">Rhinology</a></li>
											</ul>
										</div>
										<div class="col-lg-6">
											<ul>
												<li><a href="#">Obstetrics</a></li>
												<li><a href="#">Ophthalmology</a></li>
												<li><a href="#">Oral Health</a></li>
												<li><a href="#">Orthopedics</a></li>
												<li><a href="#">Osteology</a></li>
												<li><a href="#">Otology</a></li>
												<li><a href="#">Pediatrics</a></li>
												<li><a href="#">Psychiatry</a></li>
												<li><a href="#">Pulmonology</a></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-2 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title footer-title-two">For Patients</h2>
									<ul>
										<li><a href="search.html">Search for Doctors</a></li>
										<li><a href="login.html">Login</a></li>
										<li><a href="register.html">Register</a></li>
										<li><a href="booking.html">Booking</a></li>
										<li><a href="patient-dashboard.html">Patient Dashboard</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-2 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title footer-title-two">For Doctors</h2>
									<ul>
										<li><a href="appointments.html">Appointments</a></li>
										<li><a href="chat.html">Chat</a></li>
										<li><a href="login.html">Login</a></li>
										<li><a href="doctor-register.html">Register</a></li>
										<li><a href="doctor-dashboard.html">Doctor Dashboard</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
						</div>
					</div>
				</div>
				<!-- /Footer Top -->
				
				<!-- Footer Bottom -->
                <div class="footer-bottom">
					<div class="container-fluid">
					
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								<div class="col-md-6 col-lg-6">
									<div class="copyright-text">
										<p class="mb-0">&copy; 2022 <span>Doccure</span>. All rights reserved.</p>
									</div>
								</div>
								<div class="col-md-6 col-lg-6">
								
									<!-- Copyright Menu -->
									<div class="copyright-menu">
										<ul class="policy-menu">
											<li><a href="term-condition.html">Terms and Conditions</a></li>
											<li><a href="privacy-policy.html">Policy</a></li>
										</ul>
									</div>
									<!-- /Copyright Menu -->
									
								</div>
							</div>
						</div>
						<!-- /Copyright -->
						
					</div>
				</div>
				<!-- /Footer Bottom -->
				
			</footer>
			<!-- /Footer -->
		   
	   </div>
	   <!-- /Main Wrapper -->
	  
		<!-- jQuery -->
		<script src="assets/js/jquery-3.6.0.min.js"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="assets/js/bootstrap.bundle.min.js"></script>
		
		<!-- Slick JS -->
		<script src="assets/js/slick.js"></script>

		<!-- Swiper JS -->
		<script src="assets/plugins/swiper/js/swiper.min.js"></script>

		<!-- Animation JS -->
		<script src="assets/js/aos.js"></script>
		
		<!-- Custom JS -->
		<script src="assets/js/script.js"></script>
		
	</body>
</html>