<!DOCTYPE html> 
<html lang="en">
	<head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<title>Doccure</title>
		
		<!-- Favicons -->
		<link type="image/x-icon" href="assets/img/favicon.png" rel="icon">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

		<!-- Feathericon CSS -->
    	<link rel="stylesheet" href="assets/css/feather.css">
		
		<!-- Owl carousel CSS -->
		<link rel="stylesheet" href="assets/css/owl.carousel.min.css">

		<!-- Animation CSS -->
		<link rel="stylesheet" href="assets/css/aos.css">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="assets/css/style.css">
	
	</head>
	<body class="home-five">

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
			<header class="header">
				<div class="container">
					<div class="nav-bg-five">
						<nav class="navbar navbar-expand-lg header-nav nav-transparent">
							<div class="navbar-header">
								<a id="mobile_btn" href="javascript:void(0);">	<span class="bar-icon">
									<span></span>
									<span></span>
									<span></span>
									</span>
								</a>
								<a href="index.html" class="navbar-brand logo">
									<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
								</a>
							</div>
							<div class="main-menu-wrapper">
								<div class="menu-header">
									<a href="index.html" class="menu-logo">
										<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
									</a>
									<a id="menu_close" class="menu-close" href="javascript:void(0);">	<i class="fas fa-times"></i>
									</a>
								</div>
								<ul class="main-nav black-font">
									<li class="has-submenu active">	<a href="">Home <i class="fas fa-chevron-down"></i></a>
										<ul class="submenu">
											<li><a href="index.html">Home</a></li>
											<li><a href="index-two.html">Home 2</a></li>
											<li><a href="index-three.html">Home 3</a></li>
											<li><a href="index-four.html">Home 4</a></li>
											<li><a href="index-five.html">Home 5</a></li>
											<li><a href="index-six.html">Home 6</a></li>
											<li><a href="index-seven.html">Home 7</a></li>
											<li><a href="index-eight.html">Home 8</a></li>
											<li><a href="index-nine.html">Home 9</a></li>
											<li><a href="index-ten.html">Home 10</a></li>
											<li><a href="index-leven.html">Home 11</a></li>
											<li><a href="index-twelve.html">Home 12</a></li>
											<li><a href="index-thirteen.html">Home 13</a></li>
											<li class="active"><a href="index-fourteen.html">Home 14</a></li>
											<li><a href="index-fifteen.html">Home 15</a></li>
										</ul>
									</li>
									<li class="has-submenu"><a href="">Doctors <i class="fas fa-chevron-down"></i></a>
										<ul class="submenu">
											<li><a href="doctor-dashboard.html">Doctor Dashboard</a>
											</li>
											<li><a href="appointments.html">Appointments</a>
											</li>
											<li><a href="schedule-timings.html">Schedule Timing</a>
											</li>
											<li><a href="my-patients.html">Patients List</a>
											</li>
											<li><a href="patient-profile.html">Patients Profile</a>
											</li>
											<li><a href="chat-doctor.html">Chat</a>
											</li>
											<li><a href="invoices.html">Invoices</a>
											</li>
											<li><a href="doctor-profile-settings.html">Profile Settings</a>
											</li>
											<li><a href="reviews.html">Reviews</a>
											</li>
											<li><a href="doctor-register.html">Doctor Register</a>
											</li>
										</ul>
									</li>
									<li class="has-submenu"><a href="">Patients <i class="fas fa-chevron-down"></i></a>
										<ul class="submenu">
											<li class="has-submenu"><a href="#">Doctors</a>
												<ul class="submenu">
													<li><a href="map-grid.html">Map Grid</a>
													</li>
													<li><a href="map-list.html">Map List</a>
													</li>
													<li><a href="map-list-1.html">Map List 1</a>
													</li>
												</ul>
											</li>
											<li><a href="search.html">Search Doctor</a>
											</li>
											<li><a href="doctor-profile.html">Doctor Profile</a>
											</li>
											<li><a href="booking.html">Booking</a>
											</li>
											<li><a href="checkout.html">Checkout</a>
											</li>
											<li><a href="booking-success.html">Booking Success</a>
											</li>
											<li><a href="patient-dashboard.html">Patient Dashboard</a>
											</li>
											<li><a href="favourites.html">Favourites</a>
											</li>
											<li><a href="chat.html">Chat</a>
											</li>
											<li><a href="profile-settings.html">Profile Settings</a>
											</li>
											<li><a href="change-password.html">Change Password</a>
											</li>
										</ul>
									</li>
									<li class="has-submenu"><a href="">Pages <i class="fas fa-chevron-down"></i></a>
										<ul class="submenu">
											<li><a href="voice-call.html">Voice Call</a>
											</li>
											<li><a href="video-call.html">Video Call</a>
											</li>
											<li><a href="search.html">Search Doctors</a>
											</li>
											<li><a href="calendar.html">Calendar</a>
											</li>
											<li><a href="onboarding-email.html">Doctor Onboarding</a>
											</li>
											<li><a href="patient-email.html">Patient Onboarding</a>
											</li>
											<li><a href="components.html">Components</a>
											</li>
											<li class="has-submenu"><a href="invoices.html">Invoices</a>
												<ul class="submenu">
													<li><a href="invoices.html">Invoices</a>
													</li>
													<li><a href="invoice-view.html">Invoice View</a>
													</li>
												</ul>
											</li>
											<li><a href="blank-page.html">Starter Page</a></li>
			                                <li><a href="about-us.html">About Us</a></li>
			                                <li><a href="contact-us.html">Contact Us</a></li>
											<li><a href="login.html">Login</a></li>
											<li><a href="register.html">Register</a></li>
											<li><a href="forgot-password.html">Forgot Password</a></li>
										</ul>
									</li>
									<li class="has-submenu"><a href="">Blog <i class="fas fa-chevron-down"></i></a>
										<ul class="submenu">
											<li><a href="blog-list.html">Blog List</a>
											</li>
											<li><a href="blog-grid.html">Blog Grid</a>
											</li>
											<li><a href="blog-details.html">Blog Details</a>
											</li>
										</ul>
									</li>
									<li>	<a href="admin/index.html" target="_blank">Admin</a>
									</li>
									<li class="login-link">	<a href="login.html">Login / Signup</a>
									</li>
								</ul>
							</div>
							<ul class="nav header-navbar-rht">
								<li class="nav-item contact-item">
									<div class="header-contact-img">
										<i class="feather-phone"></i>
									</div>
									<div class="header-contact-detail">
										<p class="contact-info-header">+1 315 369 5943</p>
									</div>
								</li>
								<li class="nav-item">
									<a class="nav-link btn-five" href="login.html">Sign In</a>
								</li>
								<li class="nav-item">
									<a class="nav-link btn-five-light" href="register.html">Sign Up</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</header>
			<!-- /Header -->

			<!-- Home Five Banner -->
			<section class="home-section-five">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-md-12">
							<div class="banner-wrapper-five aos" data-aos="fade-up">
								<div class="section-search-five text-center">
									<span>World's Largest </span>
									<h2>Search Doctor, Make an Appointment</h2>
									<p>Discover the best doctors, clinic & hospital the city nearest to you.</p>
									<div class="search-box-five">
										<form action="search.html"> 
											<div class="search-input-five">
												<i class="feather-compass bficon compass-icon"></i>
												<div class="form-group mb-0">
													<input type="text" class="form-control search-loc" placeholder="Search Location">
												</div>
											</div>
											<div class="search-input-five line-five">
												<i class="feather-user-check bficon"></i>
												<div class="form-group mb-0">
													<input type="text" class="form-control search-ortho" placeholder="Orthopedic"> 
												</div>
											</div>
											<div class="search-btn-five">
												<button class="btn search_service" type="submit">Search</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Home Five Banner -->

			<!-- Looking Section Five -->
			<section class="looking-section-five">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="section-header section-header-five text-center aos" data-aos="fade-up">
								<h2 class="title-five">What are you looking for?</h2>
							</div>
						</div>
					</div>
					<div class="looking-bg-five">
						<div class="row justify-content-center">
							<div class="col-lg-4 col-md-6 d-flex aos" data-aos="fade-up">
								<div class="looking-grid-five looking-grid-blue w-100">
									<div class="looking-icon-five">
										<i class="fas fa-user-md"></i>
									</div>
									<div class="looking-info-five">
										<a href="search.html">Visit a Doctor</a>
										<p>We hire the best specialists to deliver top-notch diagnostic services for you.</p>
									</div>
									<div class="looking-info-btn">
										<a href="booking.html" class="btn btn-five">Book Now <i class="feather-arrow-right ms-1"></i></a>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 d-flex aos" data-aos="fade-up">
								<div class="looking-grid-five looking-grid-green w-100">
									<div class="looking-icon-five">
										<i class="fas fa-tablets"></i>
									</div>
									<div class="looking-info-five">
										<a href="pharmacy-search.html">Find a Pharmacy</a>
										<p>We provide the a wide range of medical services, so every person could have the opportunity.</p>
									</div>
									<div class="looking-info-btn">
										<a href="booking.html" class="btn btn-five">Find Now <i class="feather-arrow-right ms-1"></i></a>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 d-flex aos" data-aos="fade-up">
								<div class="looking-grid-five looking-grid-orange w-100">
									<div class="looking-icon-five">
										<i class="fas fa-vial"></i>
									</div>
									<div class="looking-info-five">
										<a href="#">Find a Lab</a>
										<p>We use the first-class medical equipment for timely diagnostics of various diseases timely diagnostics of various diseases diseases timely diagnostics of various diseases.</p>
									</div>
									<div class="looking-info-btn">
										<a href="booking.html" class="btn btn-five">Book Now <i class="feather-arrow-right ms-1"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Looking Section Five -->

			<!-- Clinic Section Five -->
			<section class="clinic-section-five">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="section-header section-header-five text-center aos" data-aos="fade-up">
								<h2 class="title-five">Clinic and Specialities</h2>
							</div>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-lg-2 col-md-4 d-flex aos" data-aos="fade-up"> 
							<div class="clinic-grid-five w-100 hvr-bounce-to-bottom">
								<div class="clinic-grid-img">
									<div class="clinic-img-five">
										<img src="assets/img/clinic/clinic-icon1.png" alt="">
									</div>
								</div>
								<div class="clinic-grid-info">
									<p>Urology</p>
									<div class="clinic-five-btn">
										<a href="#" class="btn">Consult Now</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 d-flex aos" data-aos="fade-up">
							<div class="clinic-grid-five w-100 hvr-bounce-to-bottom">
								<div class="clinic-grid-img">
									<div class="clinic-img-five">
										<img src="assets/img/clinic/clinic-icon2.png" alt="">
									</div>
								</div>
								<div class="clinic-grid-info">
									<p>Orthopedic</p>
									<div class="clinic-five-btn">
										<a href="#" class="btn">Consult Now</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 d-flex aos" data-aos="fade-up">
							<div class="clinic-grid-five w-100 hvr-bounce-to-bottom">
								<div class="clinic-grid-img">
									<div class="clinic-img-five">
										<img src="assets/img/clinic/clinic-icon3.png" alt="">
									</div>
								</div>
								<div class="clinic-grid-info">
									<p>MRI Scans</p>
									<div class="clinic-five-btn">
										<a href="#" class="btn">Consult Now</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 d-flex aos" data-aos="fade-up">
							<div class="clinic-grid-five w-100 hvr-bounce-to-bottom">
								<div class="clinic-grid-img">
									<div class="clinic-img-five">
										<img src="assets/img/clinic/clinic-icon4.png" alt="">
									</div>
								</div>
								<div class="clinic-grid-info">
									<p>Dentist</p>
									<div class="clinic-five-btn">
										<a href="#" class="btn">Consult Now</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 d-flex aos" data-aos="fade-up">
							<div class="clinic-grid-five w-100 hvr-bounce-to-bottom">
								<div class="clinic-grid-img">
									<div class="clinic-img-five">
										<img src="assets/img/clinic/clinic-icon5.png" alt="">
									</div>
								</div>
								<div class="clinic-grid-info">
									<p>Cardiologist</p>
									<div class="clinic-five-btn">
										<a href="#" class="btn">Consult Now</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 d-flex aos" data-aos="fade-up">
							<div class="clinic-grid-five w-100 hvr-bounce-to-bottom">
								<div class="clinic-grid-img">
									<div class="clinic-img-five">
										<img src="assets/img/clinic/clinic-icon6.png" alt="">
									</div>
								</div>
								<div class="clinic-grid-info">
									<p>Neurology</p>
									<div class="clinic-five-btn">
										<a href="#" class="btn">Consult Now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="clinic-see-btn text-center aos" data-aos="fade-up">
						<a href="#" class="btn btn-six">See All Specialities</a>
					</div>
				</div>
			</section>
			<!-- Clinic Section Five -->

			<!-- Doctor Section Five -->
			<section class="doctor-section-five">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-6 d-flex aos" data-aos="fade-up">
							<div class="doctor-grid-five w-100">
								<div class="doctor-details">
									<h4>ARE YOU A DOCTOR?</h4>
									<p>The service allows you to get maximum visibility online and to manage appointments and contacts coming from the site, in a simple and fast way.</p>
									<a href="booking.html" class="btn">Book Now</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 doctor-img2 aos" data-aos="fade-up">
							<div class="doctor-grid-five w-100">
								<img src="assets/img/doctors/doctor-img2.png" alt="" class="img-fluid">
							</div>
						</div>
						<div class="col-lg-4 col-md-6 d-flex aos" data-aos="fade-up">
							<div class="doctor-grid-five w-100">
								<div class="doctor-details doctor-details-one">
									<h4>ARE YOU A PATIENT?</h4>
									<p>The service allows you to get maximum visibility online and to manage appointments and contacts coming from the site, in a simple and fast way.</p>
									<a href="booking.html" class="btn">Book Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Doctor Section Five -->

			<!-- Browse Section Five -->
			<section class="browse-section-five">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="section-header section-header-five text-center aos" data-aos="fade-up">
								<h2 class="title-five">Browse by Specialities</h2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
							<div class="specialist-card-five d-flex hvr-bounce-to-right">
								<div class="specialist-img-five">
									<img src="assets/img/icons/icon1.svg" alt="" class="img-fluid">
								</div>
								<div class="specialist-info">
									<a href="#">Urology</a>
								</div>
								<div class="specialist-nav-five ms-auto">
									<a href="#"><i class="feather-arrow-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
							<div class="specialist-card-five d-flex hvr-bounce-to-right">
								<div class="specialist-img-five">
									<img src="assets/img/icons/icon7.svg" alt="" class="img-fluid">
								</div>
								<div class="specialist-info">
									<a href="#">Orthopedic</a>
								</div>
								<div class="specialist-nav-five ms-auto">
									<a href="#"><i class="feather-arrow-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
							<div class="specialist-card-five d-flex hvr-bounce-to-right">
								<div class="specialist-img-five">
									<img src="assets/img/icons/icon4.svg" alt="" class="img-fluid">
								</div>
								<div class="specialist-info">
									<a href="#">Dentist</a>
								</div>
								<div class="specialist-nav-five ms-auto">
									<a href="#"><i class="feather-arrow-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
							<div class="specialist-card-five d-flex hvr-bounce-to-right">
								<div class="specialist-img-five">
									<img src="assets/img/icons/icon3.svg" alt="" class="img-fluid spec-img">
								</div>
								<div class="specialist-info">
									<a href="#">Cardiologist</a>
								</div>
								<div class="specialist-nav-five ms-auto">
									<a href="#"><i class="feather-arrow-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
							<div class="specialist-card-five d-flex hvr-bounce-to-right">
								<div class="specialist-img-five">
									<img src="assets/img/icons/icon8.svg" alt="" class="img-fluid">
								</div>
								<div class="specialist-info">
									<a href="#">MRI Scans</a>
								</div>
								<div class="specialist-nav-five ms-auto">
									<a href="#"><i class="feather-arrow-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
							<div class="specialist-card-five d-flex hvr-bounce-to-right">
								<div class="specialist-img-five">
									<img src="assets/img/icons/icon9.svg" alt="" class="img-fluid">
								</div>
								<div class="specialist-info">
									<a href="#">Neurology</a>
								</div>
								<div class="specialist-nav-five ms-auto">
									<a href="#"><i class="feather-arrow-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
							<div class="specialist-card-five d-flex hvr-bounce-to-right">
								<div class="specialist-img-five">
									<img src="assets/img/icons/icon10.svg" alt="" class="img-fluid">
								</div>
								<div class="specialist-info">
									<a href="#">Laboratory</a>
								</div>
								<div class="specialist-nav-five ms-auto">
									<a href="#"><i class="feather-arrow-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
							<div class="specialist-card-five d-flex hvr-bounce-to-right">
								<div class="specialist-img-five">
									<img src="assets/img/icons/icon11.svg" alt="" class="img-fluid">
								</div>
								<div class="specialist-info">
									<a href="#">Primary Checkup</a>
								</div>
								<div class="specialist-nav-five ms-auto">
									<a href="#"><i class="feather-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Browse Section Five -->

			<!-- Best Section Five -->
			<section class="best-section-five">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="section-header section-header-five text-center aos" data-aos="fade-up">
								<h2 class="title-five">Book Our Best Doctor</h2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-6 d-flex aos" data-aos="fade-up">
							<div class="doctors-grid-five w-100">
								<div class="doctors-img-five">
									<a href="doctor-profile.html">
										<img src="assets/img/doctors/book-doctor-13.jpg" alt="" class="img-fluid">
									</a>
									<div class="social-info">
										<div class="social-inner">
											<a href="#" target="_blank"><i class="fab fa-facebook hi-icon"></i></a>
											<a href="#" target="_blank"><i class="fab fa-linkedin hi-icon"></i></a>
											<a href="#" target="_blank"><i class="fab fa-instagram hi-icon"></i></a>
											<a href="#" target="_blank"><i class="fab fa-twitter hi-icon"></i></a>
										</div>
									</div>
								</div>
								<div class="best-doctors-info">
									<h3><a href="doctor-profile.html">Dr. Deborah Angel</a></h3>
									<p class="doctor-posting">Cardiology Specialist</p>
									<div class="rating">
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star"></i>
										<span class="d-inline-block average-rating">4.9 ( 82 )</span>
									</div>
									<div class="doctors-btn-five">
										<a href="booking.html" class="btn w-100">Book Appointment</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 d-flex aos" data-aos="fade-up">
							<div class="doctors-grid-five w-100">
								<div class="doctors-img-five">
									<a href="doctor-profile.html">
										<img src="assets/img/doctors/book-doctor-14.jpg" alt="" class="img-fluid">
									</a>
									<div class="social-info">
										<div class="social-inner">
											<a href="#" target="_blank"><i class="fab fa-facebook hi-icon"></i></a>
											<a href="#" target="_blank"><i class="fab fa-linkedin hi-icon"></i></a>
											<a href="#" target="_blank"><i class="fab fa-instagram hi-icon"></i></a>
											<a href="#" target="_blank"><i class="fab fa-twitter hi-icon"></i></a>
										</div>
									</div>
								</div>
								<div class="best-doctors-info">
									<h3><a href="doctor-profile.html">Dr. Edward Willey</a></h3>
									<p class="doctor-posting">Dermatologist</p>
									<div class="rating">
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star"></i>
										<span class="d-inline-block average-rating">4.9 ( 82 )</span>
									</div>
									<div class="doctors-btn-five">
										<a href="booking.html" class="btn w-100">Book Appointment</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 d-flex aos" data-aos="fade-up">
							<div class="doctors-grid-five w-100">
								<div class="doctors-img-five">
									<a href="doctor-profile.html">
										<img src="assets/img/doctors/book-doctor-15.jpg" alt="" class="img-fluid">
									</a>
									<div class="social-info">
										<div class="social-inner">
											<a href="#" target="_blank"><i class="fab fa-facebook hi-icon"></i></a>
											<a href="#" target="_blank"><i class="fab fa-linkedin hi-icon"></i></a>
											<a href="#" target="_blank"><i class="fab fa-instagram hi-icon"></i></a>
											<a href="#" target="_blank"><i class="fab fa-twitter hi-icon"></i></a>
										</div>
									</div>
								</div>
								<div class="best-doctors-info">
									<h3><a href="doctor-profile.html">Dr. Merry Anderson</a></h3>
									<p class="doctor-posting">Gastrologic Specialist</p>
									<div class="rating">
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star"></i>
										<span class="d-inline-block average-rating">4.9 ( 82 )</span>
									</div>
									<div class="doctors-btn-five">
										<a href="booking.html" class="btn w-100">Book Appointment</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 d-flex aos" data-aos="fade-up">
							<div class="doctors-grid-five w-100">
								<div class="doctors-img-five">
									<a href="doctor-profile.html">
										<img src="assets/img/doctors/book-doctor-16.jpg" alt="" class="img-fluid">
									</a>
									<div class="social-info">
										<div class="social-inner">
											<a href="#" target="_blank"><i class="fab fa-facebook hi-icon"></i></a>
											<a href="#" target="_blank"><i class="fab fa-linkedin hi-icon"></i></a>
											<a href="#" target="_blank"><i class="fab fa-instagram hi-icon"></i></a>
											<a href="#" target="_blank"><i class="fab fa-twitter hi-icon"></i></a>
										</div>
									</div>
								</div>
								<div class="best-doctors-info">
									<h3><a href="doctor-profile.html">Dr. David Blackwell</a></h3>
									<p class="doctor-posting">Cosmetic Specialist</p>
									<div class="rating">
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star"></i>
										<span class="d-inline-block average-rating">4.9 ( 82 )</span>
									</div>
									<div class="doctors-btn-five">
										<a href="booking.html" class="btn w-100">Book Appointment</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="doctor-see-btn text-center aos" data-aos="fade-up">
						<a href="#" class="btn btn-six">See All Doctors</a>
					</div>
				</div>
			</section>
			<!-- /Best Section Five -->

			<!-- Clinic Section Five -->
			<section class="clinic-section-five">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="section-header section-header-five text-center aos" data-aos="fade-up">
								<h2 class="title-five">Available Features in Our Clinic</h2>
							</div>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-lg-2 col-md-4 d-flex aos" data-aos="fade-up"> 
							<div class="clinic-grid-five w-100 hvr-bounce-to-bottom pb-0">
								<div class="clinic-grid-img">
									<div class="clinic-img-five clinic-img-five1">
										<img src="assets/img/services/features-01.svg" alt="">
									</div>
								</div>
								<div class="clinic-grid-info">
									<p>Operation</p>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 d-flex aos" data-aos="fade-up">
							<div class="clinic-grid-five w-100 hvr-bounce-to-bottom pb-0">
								<div class="clinic-grid-img">
									<div class="clinic-img-five clinic-img-five1">
										<img src="assets/img/services/features-02.svg" alt="">
									</div>
								</div>
								<div class="clinic-grid-info">
									<p>Medical</p>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 d-flex aos" data-aos="fade-up">
							<div class="clinic-grid-five w-100 hvr-bounce-to-bottom pb-0">
								<div class="clinic-grid-img">
									<div class="clinic-img-five clinic-img-five1">
										<img src="assets/img/services/features-03.svg" alt="">
									</div>
								</div>
								<div class="clinic-grid-info">
									<p>Patient Ward</p>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 d-flex aos" data-aos="fade-up">
							<div class="clinic-grid-five w-100 hvr-bounce-to-bottom pb-0">
								<div class="clinic-grid-img">
									<div class="clinic-img-five clinic-img-five1">
										<img src="assets/img/services/features-04.svg" alt="">
									</div>
								</div>
								<div class="clinic-grid-info">
									<p>Test Room</p>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 d-flex aos" data-aos="fade-up">
							<div class="clinic-grid-five w-100 hvr-bounce-to-bottom pb-0">
								<div class="clinic-grid-img">
									<div class="clinic-img-five clinic-img-five1">
										<img src="assets/img/services/features-05.svg" alt="">
									</div>
								</div>
								<div class="clinic-grid-info">
									<p>ICU</p>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 d-flex aos" data-aos="fade-up">
							<div class="clinic-grid-five hvr-bounce-to-bottom w-100 pb-0">
								<div class="clinic-grid-img">
									<div class="clinic-img-five clinic-img-five1">
										<img src="assets/img/services/features-06.svg" alt="">
									</div>
								</div>
								<div class="clinic-grid-info">
									<p>Laboratory</p>
								</div>
							</div>
						</div>
					</div>
					<div class="clinic-see-btn text-center aos" data-aos="fade-up">
						<a href="#" class="btn btn-six">See All Features</a>
					</div>
				</div>
			</section>
			<!-- Clinic Section Five -->

			<!-- News Letter Five -->
			<section class="news-letter-five">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="news-five">
								<div class="news-five-head aos" data-aos="fade-up">
									<h2>Grab Our Newsletter</h2>
									<p>To receive latest offers and discounts from the shop.</p>
								</div>
								<div class="row justify-content-center">
									<div class="col-lg-8 col-md-12">
										<div class="news-five-form aos" data-aos="fade-up">
											<form>
												<div class="form-group mb-0">
													<input type="text" class="form-control" placeholder="Enter Your Email Address">
													<button type="submit" class="btn">Subscribe</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- News Letter Five -->

			<!-- Blog Section Five -->
			<section class="blog-section-five">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="section-header section-header-five text-center aos" data-aos="fade-up">
								<h2 class="title-five">Our Latest Blogs</h2>
							</div>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-lg-4 col-md-6 d-flex aos" data-aos="fade-up">
							<div class="blog-grid-five w-100">
								<div class="blog-five-img">
									<a href="blog-details.html">
										<img src="assets/img/blog/blog-11.jpg" class="img-fluid blog-details-img" alt="">
									</a>
									<div class="blog-item-info">
										<div class="blog-news-date">
											<a href="blog-details.html">
												<i class="feather-calendar me-2"></i>
												<span>10 Dec 2021</span>
											</a>
										</div>
										<div class="blog-doctors-profile">
											<a href="blog-details.html">
												<img src="assets/img/doctors/doctor-thumb-01.jpg" alt="" class="me-2"> 
												<span>Ruby Perrin</span>
											</a>
										</div>
									</div>
								</div>
								<div class="blog-info-five">
									<h3 class="blog-news-title">
										<a href="blog-details.html">How to handle patient body in MRI</a>
									</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									<a href="blog-details.html" class="read-news">Read News</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 d-flex aos" data-aos="fade-up">
							<div class="blog-grid-five w-100">
								<div class="blog-five-img">
									<a href="blog-details.html">
										<img src="assets/img/blog/blog-12.jpg" class="img-fluid blog-details-img" alt="">
									</a>
									<div class="blog-item-info">
										<div class="blog-news-date">
											<a href="blog-details.html">
												<i class="feather-calendar me-2"></i>
												<span>03 Jan 2021</span>
											</a>
										</div>
										<div class="blog-doctors-profile">
											<a href="blog-details.html">
												<img src="assets/img/doctors/doctor-thumb-02.jpg" alt="" class="me-2"> 
												<span>Daren Elder</span>
											</a>
										</div>
									</div>
								</div>
								<div class="blog-info-five">
									<h3 class="blog-news-title">
										<a href="blog-details.html">Doccure – Making your clinic painless visit?</a>
									</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									<a href="blog-details.html" class="read-news">Read News</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 d-flex aos" data-aos="fade-up">
							<div class="blog-grid-five w-100">
								<div class="blog-five-img">
									<a href="blog-details.html">
										<img src="assets/img/blog/blog-13.jpg" class="img-fluid blog-details-img" alt="">
									</a>
									<div class="blog-item-info">
										<div class="blog-news-date">
											<a href="blog-details.html">
												<i class="feather-calendar me-2"></i>
												<span>25 Feb 2021</span>
											</a>
										</div>
										<div class="blog-doctors-profile">
											<a href="blog-details.html">
												<img src="assets/img/doctors/doctor-thumb-03.jpg" alt="" class="me-2"> 
												<span>Dr. Angel</span>
											</a>
										</div>
									</div>
								</div>
								<div class="blog-info-five">
									<h3 class="blog-news-title">
										<a href="blog-details.html">Benefits of consulting with an Online Doctor</a>
									</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									<a href="blog-details.html" class="read-news">Read News</a>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 text-center">
							<div class="blog-five-btn aos" data-aos="fade-up">
								<a href="blog-details.html" class="btn btn-six">View More</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Blog Section Five -->
			
			<!-- Footer Five -->
			<footer class="footer footer-five">
				<!-- Footer Top -->
				<div class="footer-top aos" data-aos="fade-up">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-md-6">
								<!-- Footer Widget -->
								<div class="footer-widget footer-about">
									<div class="footer-logo">
										<img src="assets/img/footer-logo.png" alt="logo">
									</div>
									<div class="footer-about-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
									<div class="footer-widget footer-menu footer-menu-five">
										<ul>
											<li><a href="#" target="_blank"><i class="fab fa-facebook"></i> Facebook</a>
											</li>
											<li><a href="#" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
											</li>
											<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i> Linkedin</a>
											</li>
											<li><a href="#" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
											</li>
										</ul>
									</div>
								</div>
								<!-- /Footer Widget -->
							</div>
							<div class="col-lg-3 col-md-6">
								<!-- Footer Widget -->
								<div class="footer-widget footer-contact">
									<h2 class="footer-title">Contact Us</h2>
									<div class="footer-contact-info">
										<div class="footer-address"><span><i class="feather-map-pin"></i></span>
											<p>3556 Beech Street, San Francisco,
												<br>California, CA <br>94108</p>
										</div>
										<p><i class="feather-phone"></i>
											+1 315 369 5943</p>
										<p class="mb-0"><i class="feather-mail"></i>
											doccure@example.com</p>
									</div>
								</div>
								<!-- /Footer Widget -->
							</div>
							<div class="col-lg-3 col-md-6">
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">For Patients</h2>
									<ul>
										<li><a href="search.html">Search for Doctors</a>
										</li>
										<li><a href="login.html">Login</a>
										</li>
										<li><a href="register.html">Register</a>
										</li>
										<li><a href="booking.html">Booking</a>
										</li>
										<li><a href="patient-dashboard.html">Patient Dashboard</a>
										</li>
									</ul>
								</div>
								<!-- /Footer Widget -->
							</div>
							<div class="col-lg-3 col-md-6">
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">For Doctors</h2>
									<ul>
										<li><a href="appointments.html">Appointments</a>
										</li>
										<li><a href="chat.html">Chat</a>
										</li>
										<li><a href="login.html">Login</a>
										</li>
										<li><a href="doctor-register.html">Register</a>
										</li>
										<li><a href="doctor-dashboard.html">Doctor Dashboard</a>
										</li>
									</ul>
								</div>
								<!-- /Footer Widget -->
							</div>
						</div>
					</div>
				</div>
				<!-- /Footer Top -->

				<!-- Footer Bottom -->
				<div class="footer-bottom">
					<div class="container">
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								<div class="col-md-6 col-lg-6">
									<div class="copyright-text">
										<p class="mb-0">&copy; 2022 Doccure. All rights reserved.</p>
									</div>
								</div>
								<div class="col-md-6 col-lg-6">
									<!-- Copyright Menu -->
									<div class="copyright-menu">
										<ul class="policy-menu">
											<li><a href="term-condition.html">Terms and Conditions</a>
											</li>
											<li><a href="privacy-policy.html">Policy</a>
											</li>
										</ul>
									</div>
									<!-- /Copyright Menu -->
								</div>
							</div>
						</div>
						<!-- /Copyright -->
					</div>
				</div>
				<!-- /Footer Bottom -->
			</footer>
			<!-- /Footer Two-->
		   
	   </div>
	   <!-- /Main Wrapper -->
	  
		<!-- jQuery -->
		<script src="assets/js/jquery-3.6.0.min.js"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="assets/js/bootstrap.bundle.min.js"></script>
		
		<!-- Owl Carousel JS -->
		<script src="assets/js/owl.carousel.min.js"></script>
		
		<!-- Slick JS -->
		<script src="assets/js/slick.js"></script>

		<!-- Feather Icon JS -->
		<script src="assets/js/feather.min.js"></script>

		<!-- Animation JS -->
		<script src="assets/js/aos.js"></script>
		
		<!-- Custom JS -->
		<script src="assets/js/script.js"></script>
		
	</body>
</html>