<!DOCTYPE html> 
<html lang="en">
	<head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<title>Doccure</title>
		
		<!-- Favicons -->
		<link type="image/x-icon" href="assets/img/favicon.png" rel="icon">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">
		
		<!-- Owl carousel CSS -->
		<link rel="stylesheet" href="assets/css/owl.carousel.min.css">

		<!-- Animation CSS -->
		<link rel="stylesheet" href="assets/css/aos.css">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="assets/css/style.css">
	
	</head>
<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper multi-optn">
		
			<!-- Header -->
			<header class="header header-trans custom">
				<nav class="navbar navbar-expand-lg header-nav no-border">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="index.html" class="navbar-brand logo">
							<img src="assets/img/footer-logo.png" class="img-fluid" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="index.html" class="menu-logo">
								<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav white-font">
							<li class="has-submenu active">
								<a href="">Home <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="index.html">Home</a></li>
									<li><a href="index-two.html">Home 2</a></li>
									<li><a href="index-three.html">Home 3</a></li>
									<li><a href="index-four.html">Home 4</a></li>
									<li><a href="index-five.html">Home 5</a></li>
									<li><a href="index-six.html">Home 6</a></li>
									<li><a href="index-seven.html">Home 7</a></li>
									<li class="active"><a href="index-eight.html">Home 8</a></li>
									<li><a href="index-nine.html">Home 9</a></li>
									<li><a href="index-ten.html">Home 10</a></li>
									<li><a href="index-leven.html">Home 11</a></li>
									<li><a href="index-twelve.html">Home 12</a></li>
									<li><a href="index-thirteen.html">Home 13</a></li>
									<li><a href="index-fourteen.html">Home 14</a></li>
										<li><a href="index-fifteen.html">Home 15</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="">Doctors <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="doctor-dashboard.html">Doctor Dashboard</a></li>
									<li><a href="appointments.html">Appointments</a></li>
									<li><a href="schedule-timings.html">Schedule Timing</a></li>
									<li><a href="my-patients.html">Patients List</a></li>
									<li><a href="patient-profile.html">Patients Profile</a></li>
									<li><a href="chat-doctor.html">Chat</a></li>
									<li><a href="invoices.html">Invoices</a></li>
									<li><a href="doctor-profile-settings.html">Profile Settings</a></li>
									<li><a href="reviews.html">Reviews</a></li>
									<li><a href="doctor-register.html">Doctor Register</a></li>
									<li class="has-submenu">
										<a href="doctor-blog.html">Blog</a>
										<ul class="submenu">
											<li><a href="doctor-blog.html">Blog</a></li>
											<li><a href="blog-details.html">Blog view</a></li>
											<li><a href="doctor-add-blog.html">Add Blog</a></li>
										</ul>
									</li>
								</ul>
							</li>	
							<li class="has-submenu">
								<a href="">Patients <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li class="has-submenu">
										<a href="#">Doctors</a>
										<ul class="submenu">
											<li><a href="map-grid.html">Map Grid</a></li>
											<li><a href="map-list.html">Map List</a></li>
											<li><a href="map-list-1.html">Map List 1</a></li>
										</ul>
									</li>
									<li><a href="search.html">Search Doctor</a></li>
									<li><a href="doctor-profile.html">Doctor Profile</a></li>
									<li><a href="booking.html">Booking</a></li>
									<li><a href="checkout.html">Checkout</a></li>
									<li><a href="booking-success.html">Booking Success</a></li>
									<li><a href="patient-dashboard.html">Patient Dashboard</a></li>
									<li><a href="favourites.html">Favourites</a></li>
									<li><a href="chat.html">Chat</a></li>
									<li><a href="profile-settings.html">Profile Settings</a></li>
									<li><a href="change-password.html">Change Password</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="">Pharmacy <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="pharmacy-index.html">Pharmacy</a></li>
									<li><a href="pharmacy-details.html">Pharmacy Details</a></li>
									<li><a href="pharmacy-search.html">Pharmacy Search</a></li>
									<li><a href="product-all.html">Product</a></li>
									<li><a href="product-description.html">Product Description</a></li>
									<li><a href="cart.html">Cart</a></li>
									<li><a href="product-checkout.html">Product Checkout</a></li>
									<li><a href="payment-success.html">Payment Success</a></li>
									<li><a href="pharmacy-register.html">Pharmacy Register</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="">Pages <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="voice-call.html">Voice Call</a></li>
									<li><a href="video-call.html">Video Call</a></li>
									<li><a href="search.html">Search Doctors</a></li>
									<li><a href="calendar.html">Calendar</a></li>
									<li><a href="onboarding-email.html">Doctor Onboarding</a></li>
									<li><a href="patient-email.html">Patient Onboarding</a></li>
									<li><a href="components.html">Components</a></li>
									<li class="has-submenu">
										<a href="invoices.html">Invoices</a>
										<ul class="submenu">
											<li><a href="invoices.html">Invoices</a></li>
											<li><a href="invoice-view.html">Invoice View</a></li>
										</ul>
									</li>
									<li><a href="blank-page.html">Starter Page</a></li>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="contact-us.html">Contact Us</a></li></li>
									<li><a href="login.html">Login</a></li>
									<li><a href="register.html">Register</a></li>
									<li><a href="forgot-password.html">Forgot Password</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="">Blog <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="blog-list.html">Blog List</a></li>
									<li><a href="blog-grid.html">Blog Grid</a></li>
									<li><a href="blog-details.html">Blog Details</a></li>
								</ul>
							</li>
							<li>
								<a href="#" target="_blank">Admin</a>
							</li>
							<li class="login-link">
								<a href="login.html">Login / Signup</a>
							</li>
						</ul>
					</div>
					<ul class="nav header-navbar-rht right-menu">
						<li class="nav-item contact-item">
							<div class="header-contact-img">
								<i class="fas fa-phone-alt"></i>					
							</div>
							<div class="header-contact-detail">
								<p class="contact-info-header">+1 315 369 5943</p>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link header-login white-bg" href="login.html"><i class="fas fa-user-circle me-2"></i>login</a>
						</li>
						<li class="nav-item">
							<a class="nav-link header-login" href="login.html"><i class="fas fa-lock me-2"></i>Sign up</a>
						</li>
					</ul>
				</nav>
			</header>
			<!-- /Header -->
			
			<!-- Home Banner -->
			<section class="section-search-3">
				<div class="container">
					<div class="banner-info">
						<div class="row align-items-center">
							<div class="col-lg-4">
								<div class="header-banner aos" data-aos="fade-up">
									<h2>Search Doctor, <br> <span class="header-highlight">Make an Appointment</span></h2>
									<p>Discover the best doctors, clinic & hospital the city nearest to you.</p>
								</div>
							</div>
							<div class="col-lg-8">
								<div class="doctor-search aos" data-aos="fade-up">
									<div class="doctor-form">
										<form action="#" class="doctor-search-form trans">
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<div class="form-custom">
															<input type="text" class="form-control" value="" placeholder="Search Location">
															<i class="far fa-compass"></i>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<div class="form-custom">
															<input type="text" class="form-control" value="" placeholder="Gender">
															<i class="far fa-smile"></i>
														</div>
													</div>
												</div>
												<div class="col-md-7">
													<div class="form-group">
														<div class="form-custom">
															<input type="text" class="form-control" value="" placeholder="Department">
															<i class="fas fa-user-check"></i>
														</div>
													</div>
												</div>
												<div class="col-md-5">
													<a href="search.html" class="btn banner-btn">MAKE APPOINTMENT</a>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Home Banner -->

			<!-- category select-->
			<section class="doctor-category">
				<div class="container">
					<div class="row">
						<div class="col-md-4 aos" data-aos="fade-up">
							<div class="pop-box">
								<div class="top-section">
									<div class="cat-icon">
										<i class="fas fa-procedures"></i>
									</div>
								</div>
								<div class="body-section">
									<h3>Visit a Doctor</h3>
									<p>250 +  Doctors</p>
									<a href="booking.html" class="btn book-btn" tabindex="0">Book Now</a>
								</div>
							</div>
						</div>
						<div class="col-md-4 aos" data-aos="fade-up">
							<div class="pop-box">
								<div class="top-section two">
									<div class="cat-icon">
										<i class="fas fa-plus-square"></i>
									</div>
								</div>
								<div class="body-section">
									<h3>Find a Pharmacy</h3>
									<p>2560 +  Pharmacy</p>
									<a href="booking.html" class="btn book-btn" tabindex="0">Book Now</a>
								</div>
							</div>
						</div>
						<div class="col-md-4 aos" data-aos="fade-up">
							<div class="pop-box">
								<div class="top-section three">
									<div class="cat-icon">
										<i class="fas fa-city"></i>
									</div>
								</div>
								<div class="body-section">
									<h3>Find a Lab</h3>
									<p>250 +  Testing Labs</p>
									<a href="booking.html" class="btn book-btn" tabindex="0">Book Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /category select-->

			<!-- Clinic Section -->
			<section class="clinic-specialities">
				<div class="container">
					<div class="section-header-three text-center aos" data-aos="fade-up">
						<h2>Clinic & Specialities</h2>
						<p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-4 aos" data-aos="fade-up">
							<div class="special-box text-center">
								<div class="special-body">
									<img src="assets/img/shapes/spec.png" alt=""/>
									<h4>Orthopedic</h4>
									<a href="booking.html" class="spc-book">Book now <i class="fas fa-caret-right"></i> </a>
								</div>
								<div class="row row-sm special-footer">
									<div class="col-6 text-start">
										<a href="#" class="doc-count">124 <span>Doctors</span></a>
									</div>
									<div class="col-6 text-end">
										<a href="#" class="clin-count">24 <span>Clinics</span></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 aos" data-aos="fade-up">
							<div class="special-box text-center">
								<div class="special-body">
									<img src="assets/img/shapes/spec-01.png" alt=""/>
									<h4>Laboratry</h4>
									<a href="booking.html" class="spc-book">Book now <i class="fas fa-caret-right"></i> </a>
								</div>
								<div class="row row-sm special-footer">
									<div class="col-6 text-start">
										<a href="#" class="doc-count">124 <span>Doctors</span></a>
									</div>
									<div class="col-6 text-end">
										<a href="#" class="clin-count">24 <span>Clinics</span></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 aos" data-aos="fade-up">
							<div class="special-box text-center">
								<div class="special-body">
									<img src="assets/img/shapes/spec-02.png" alt=""/>
									<h4>Neurology</h4>
									<a href="booking.html" class="spc-book">Book now <i class="fas fa-caret-right"></i> </a>
								</div>
								<div class="row row-sm special-footer">
									<div class="col-6 text-start">
										<a href="#" class="doc-count">124 <span>Doctors</span></a>
									</div>
									<div class="col-6 text-end">
										<a href="#" class="clin-count">24 <span>Clinics</span></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 aos" data-aos="fade-up">
							<div class="special-box text-center">
								<div class="special-body">
									<img src="assets/img/shapes/spec-03.png" alt=""/>
									<h4>Cardiology</h4>
									<a href="booking.html" class="spc-book">Book now <i class="fas fa-caret-right"></i> </a>
								</div>
								<div class="row row-sm special-footer">
									<div class="col-6 text-start">
										<a href="#" class="doc-count">124 <span>Doctors</span></a>
									</div>
									<div class="col-6 text-end">
										<a href="#" class="clin-count">24 <span>Clinics</span></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 aos" data-aos="fade-up">
							<div class="special-box text-center">
								<div class="special-body">
									<img src="assets/img/shapes/spec-04.png" alt=""/>
									<h4>MRI Scans</h4>
									<a href="booking.html" class="spc-book">Book now <i class="fas fa-caret-right"></i> </a>
								</div>
								<div class="row row-sm special-footer">
									<div class="col-6 text-start">
										<a href="#" class="doc-count">124 <span>Doctors</span></a>
									</div>
									<div class="col-6 text-end">
										<a href="#" class="clin-count">24 <span>Clinics</span></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 aos" data-aos="fade-up">
							<div class="special-box text-center">
								<div class="special-body">
									<img src="assets/img/shapes/spec-05.png" alt=""/>
									<h4>Primary Checkup</h4>
									<a href="booking.html" class="spc-book">Book now <i class="fas fa-caret-right"></i> </a>
								</div>
								<div class="row row-sm special-footer">
									<div class="col-6 text-start">
										<a href="#" class="doc-count">124 <span>Doctors</span></a>
									</div>
									<div class="col-6 text-end">
										<a href="#" class="clin-count">24 <span>Clinics</span></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 aos" data-aos="fade-up">
							<div class="special-box text-center">
								<div class="special-body">
									<img src="assets/img/shapes/spec-06.png" alt=""/>
									<h4>Testing</h4>
									<a href="booking.html" class="spc-book">Book now <i class="fas fa-caret-right"></i> </a>
								</div>
								<div class="row row-sm special-footer">
									<div class="col-6 text-start">
										<a href="#" class="doc-count">124 <span>Doctors</span></a>
									</div>
									<div class="col-6 text-end">
										<a href="#" class="clin-count">24 <span>Clinics</span></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 aos" data-aos="fade-up">
							<div class="special-box text-center">
								<div class="special-body">
									<img src="assets/img/shapes/spec-07.png" alt=""/>
									<h4>Dentist</h4>
									<a href="booking.html" class="spc-book">Book now <i class="fas fa-caret-right"></i> </a>
								</div>
								<div class="row row-sm special-footer">
									<div class="col-6 text-start">
										<a href="#" class="doc-count">124 <span>Doctors</span></a>
									</div>
									<div class="col-6 text-end">
										<a href="#" class="clin-count">24 <span>Clinics</span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="view-all-more text-center aos" data-aos="fade-up">	
						<a href="doctor-profile.html" class="btn btn-primary">View More</a>
					</div>
				</div>
			</section>
			<!-- /Clinic Section -->

			<!-- browse speciality-->
			<section class="browse-section">
				<div class="container">
					<div class="section-header-three text-center aos" data-aos="fade-up">
						<h2>Browse by Specialities</h2>
						<p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div class="row">
						<div class="col-lg-2 col-md-3 aos" data-aos="fade-up">
							<div class="brower-box">
								<div>
									<div class="brower-img">
										<img src="assets/img/shapes/bro-01.png" alt=""/>
									</div>
									<h4>Urology</h4>
									<p>124 <span>Doctors</span></p>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 aos" data-aos="fade-up">
							<div class="brower-box">
								<div>
									<div class="brower-img">
										<img src="assets/img/shapes/bro-02.png" alt=""/>
									</div>
									<h4>Neurology</h4>
									<p>124 <span>Doctors</span></p>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 aos" data-aos="fade-up">
							<div class="brower-box">
								<div>
									<div class="brower-img">
										<img src="assets/img/shapes/bro-03.png" alt=""/>
									</div>
									<h4>Orthopedic</h4>
									<p>124 <span>Doctors</span></p>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 aos" data-aos="fade-up">
							<div class="brower-box">
								<div>
									<div class="brower-img">
										<img src="assets/img/shapes/bro-04.png" alt=""/>
									</div>
									<h4>Cardiologist</h4>
									<p>124 <span>Doctors</span></p>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 aos" data-aos="fade-up">
							<div class="brower-box">
								<div>
									<div class="brower-img">
										<img src="assets/img/shapes/bro-01.png" alt=""/>
									</div>
									<h4>Dentist</h4>
									<p>124 <span>Doctors</span></p>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 aos" data-aos="fade-up">
							<div class="brower-box">
								<div>
									<div class="brower-img">
										<img src="assets/img/shapes/bro-05.png" alt=""/>
									</div>
									<h4>Heart surgery</h4>
									<p>124 <span>Doctors</span></p>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 aos" data-aos="fade-up">
							<div class="brower-box">
								<div>
									<div class="brower-img">
										<img src="assets/img/shapes/bro-01.png" alt=""/>
									</div>
									<h4>Urology</h4>
									<p>124 <span>Doctors</span></p>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 aos" data-aos="fade-up">
							<div class="brower-box">
								<div>
									<div class="brower-img">
										<img src="assets/img/shapes/bro-02.png" alt=""/>
									</div>
									<h4>Neurology</h4>
									<p>124 <span>Doctors</span></p>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 aos" data-aos="fade-up">
							<div class="brower-box">
								<div>
									<div class="brower-img">
										<img src="assets/img/shapes/bro-03.png" alt=""/>
									</div>
									<h4>Orthopedic</h4>
									<p>124 <span>Doctors</span></p>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 aos" data-aos="fade-up">
							<div class="brower-box">
								<div>
									<div class="brower-img">
										<img src="assets/img/shapes/bro-04.png" alt=""/>
									</div>
									<h4>Cardiologist</h4>
									<p>124 <span>Doctors</span></p>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 aos" data-aos="fade-up">
							<div class="brower-box">
								<div>
									<div class="brower-img">
										<img src="assets/img/shapes/bro-01.png" alt=""/>
									</div>
									<h4>Dentist</h4>
									<p>124 <span>Doctors</span></p>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 aos" data-aos="fade-up">
							<div class="brower-box">
								<div>
									<div class="brower-img">
										<img src="assets/img/shapes/bro-05.png" alt=""/>
									</div>
									<h4>Heart surgery</h4>
									<p>124 <span>Doctors</span></p>
								</div>
							</div>
						</div>
					</div>
					<div class="view-all-more text-center aos" data-aos="fade-up">	
						<a href="doctor-profile.html" class="btn btn-primary">View More</a>
					</div>
				</div>
			</section>
			<!-- /browse speciality-->

			<!-- Doctor Section-->
			<section class="doctor-divison">
				<div class="d-flex">
					<div class="doc-background aos" data-aos="fade-up">
						<h3>ARE YOU A DOCTOR?</h3>
						<p>The service allows you to get maximum visibility online and to manage appointments and contacts coming from the site, in a simple and fast way.</p>
						<a href="booking.html" class="doc-bok-btn">Book Now</a>
					</div>
					<div class="pat-background aos" data-aos="fade-up">
						<h3>ARE YOU A PATIENT?</h3>
						<p>The service allows you to get maximum visibility online and to manage appointments and contacts coming from the site, in a simple and fast way.</p>
						<a href="booking.html" class="doc-bok-btn">Book Now</a>
					</div>
				</div>
			</section>
			<!-- /Doctor Section-->

			<!-- Book Doctors-->
			<section class="book-section">
				<div class="container">
					<div class="section-header-three text-center aos" data-aos="fade-up">
						<h2>Book Our Best Doctor</h2>
						<p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
							<div class="book-best-doctors">
								<div class="book-header">
									<a href="doctor-profile.html"><img src="assets/img/doctors/doctor-01.jpg" alt="" class="img-fluid"></a>
									<div class="img-overlay">
										<i class="fas fa-star"></i>
									</div>
								</div>
								<div class="doctors-body">
									<div class="inner-section">
										<span class="float-start">PSICOLOGIST</span>
										<div class="rating text-end">
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star"></i>
											<span class="d-inline-block average-ratings">3.5</span>
										</div>
										<a href="doctor-profile.html"><h4>Dr. Ruby Perrin</h4></a>
										<p>MBBS, MD - General Medicine, DNB - Cardiology</p>
									</div>
									<div class="row row-sm loc-details">
										<div class="col-6">
											<div class="d-flex align-items-center">
												<a href="javascript:void(0);">
													<img src="assets/img/shapes/map-plus.png" alt="" />
												</a> 
												<a href="javascript:void(0);">
													<span class="available-info">Location</span>
													<span class="data-info">Newyork, USA</span>
												</a>
											</div>
										</div>
										<div class="col-6">
											<div class="d-flex align-items-center">
												<a href="javascript:void(0);">
													<img src="assets/img/shapes/alarm.png" alt="" />
												</a> 
												<a href="javascript:void(0);">
													<span class="available-info">Available on</span>
													<span class="data-info">Fri, 22 March</span>
												</a>
											</div>
										</div>
										<div class="col-6">
											<div class="d-flex align-items-center">
												<a href="javascript:void(0);">
													<img src="assets/img/shapes/consult.png" alt="" />
												</a> 
												<a href="javascript:void(0);">
													<span class="available-info">Consulting</span>
													<span class="data-info">500+ Patients</span>
												</a>
											</div>
										</div>
										<div class="col-6">
											<div class="d-flex align-items-center">
												<a href="javascript:void(0);">
													<img src="assets/img/shapes/exper.png" alt="" />
												</a> 
												<a href="javascript:void(0);">
													<span class="available-info">EXPERIENCE</span>
													<span class="data-info">25+ Years</span>
												</a>
											</div>
										</div>
									</div>
									<div class="row row-sm align-items-center p-3">
										<div class="col-6">
											<a href="doctor-profile.html" class="amt-txt" tabindex="0">$50 - $100</a>
										</div>
										<div class="col-6">
											<a href="booking.html" class="btn book-btn" tabindex="0">Book Now</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
							<div class="book-best-doctors">
								<div class="book-header">
									<a href="doctor-profile.html"><img src="assets/img/doctors/doctor-02.jpg" alt="" class="img-fluid"></a>
									<div class="img-overlay">
										<i class="fas fa-star"></i>
									</div>
								</div>
								<div class="doctors-body">
									<div class="inner-section">
										<span class="float-start">PSICOLOGIST</span>
										<div class="rating text-end">
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star"></i>
											<span class="d-inline-block average-ratings">3.5</span>
										</div>
										<a href="doctor-profile.html"><h4>Dr. Darren Elder</h4></a>
										<p>MBBS, MD - General Medicine, DNB - Cardiology</p>
									</div>
									<div class="row row-sm loc-details">
										<div class="col-6">
											<div class="d-flex align-items-center">
												<a href="javascript:void(0);">
													<img src="assets/img/shapes/map-plus.png" alt="" />
												</a> 
												<a href="javascript:void(0);">
													<span class="available-info">Location</span>
													<span class="data-info">Newyork, USA</span>
												</a>
											</div>
										</div>
										<div class="col-6">
											<div class="d-flex align-items-center">
												<a href="javascript:void(0);">
													<img src="assets/img/shapes/alarm.png" alt="" />
												</a> 
												<a href="javascript:void(0);">
													<span class="available-info">Available on</span>
													<span class="data-info">Fri, 22 March</span>
												</a>
											</div>
										</div>
										<div class="col-6">
											<div class="d-flex align-items-center">
												<a href="javascript:void(0);">
													<img src="assets/img/shapes/consult.png" alt="" />
												</a> 
												<a href="javascript:void(0);">
													<span class="available-info">Consulting</span>
													<span class="data-info">500+ Patients</span>
												</a>
											</div>
										</div>
										<div class="col-6">
											<div class="d-flex align-items-center">
												<a href="javascript:void(0);">
													<img src="assets/img/shapes/exper.png" alt="" />
												</a> 
												<a href="javascript:void(0);">
													<span class="available-info">EXPERIENCE</span>
													<span class="data-info">25+ Years</span>
												</a>
											</div>
										</div>
									</div>
									<div class="row row-sm align-items-center p-3">
										<div class="col-6">
											<a href="doctor-profile.html" class="amt-txt" tabindex="0">$50 - $100</a>
										</div>
										<div class="col-6">
											<a href="booking.html" class="btn book-btn" tabindex="0">Book Now</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
							<div class="book-best-doctors">
								<div class="book-header">
									<a href="doctor-profile.html"><img src="assets/img/doctors/doctor-03.jpg" alt="" class="img-fluid"></a>
									<div class="img-overlay">
										<i class="fas fa-star"></i>
									</div>
								</div>
								<div class="doctors-body">
									<div class="inner-section">
										<span class="float-start">PSICOLOGIST</span>
										<div class="rating text-end">
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star"></i>
											<span class="d-inline-block average-ratings">3.5</span>
										</div>
										<a href="doctor-profile.html"><h4>Dr. Deborah Angel</h4></a>
										<p>MBBS, MD - General Medicine, DNB - Cardiology</p>
									</div>
									<div class="row row-sm loc-details">
										<div class="col-6">
											<div class="d-flex align-items-center">
												<a href="javascript:void(0);">
													<img src="assets/img/shapes/map-plus.png" alt="" />
												</a> 
												<a href="javascript:void(0);">
													<span class="available-info">Location</span>
													<span class="data-info">Newyork, USA</span>
												</a>
											</div>
										</div>
										<div class="col-6">
											<div class="d-flex align-items-center">
												<a href="javascript:void(0);">
													<img src="assets/img/shapes/alarm.png" alt="" />
												</a> 
												<a href="javascript:void(0);">
													<span class="available-info">Available on</span>
													<span class="data-info">Fri, 22 March</span>
												</a>
											</div>
										</div>
										<div class="col-6">
											<div class="d-flex align-items-center">
												<a href="javascript:void(0);">
													<img src="assets/img/shapes/consult.png" alt="" />
												</a> 
												<a href="javascript:void(0);">
													<span class="available-info">Consulting</span>
													<span class="data-info">500+ Patients</span>
												</a>
											</div>
										</div>
										<div class="col-6">
											<div class="d-flex align-items-center">
												<a href="javascript:void(0);">
													<img src="assets/img/shapes/exper.png" alt="" />
												</a> 
												<a href="javascript:void(0);">
													<span class="available-info">EXPERIENCE</span>
													<span class="data-info">25+ Years</span>
												</a>
											</div>
										</div>
									</div>
									<div class="row row-sm align-items-center p-3">
										<div class="col-6">
											<a href="doctor-profile.html" class="amt-txt" tabindex="0">$50 - $100</a>
										</div>
										<div class="col-6">
											<a href="booking.html" class="btn book-btn" tabindex="0">Book Now</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
							<div class="book-best-doctors">
								<div class="book-header">
									<a href="doctor-profile.html"><img src="assets/img/doctors/doctor-04.jpg" alt="" class="img-fluid"></a>
									<div class="img-overlay">
										<i class="fas fa-star"></i>
									</div>
								</div>
								<div class="doctors-body">
									<div class="inner-section">
										<span class="float-start">PSICOLOGIST</span>
										<div class="rating text-end">
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star"></i>
											<span class="d-inline-block average-ratings">3.5</span>
										</div>
										<a href="doctor-profile.html"><h4>Dr. Sofia Brient</h4></a>
										<p>MBBS, MD - General Medicine, DNB - Cardiology</p>
									</div>
									<div class="row row-sm loc-details">
										<div class="col-6">
											<div class="d-flex align-items-center">
												<a href="javascript:void(0);">
													<img src="assets/img/shapes/map-plus.png" alt="" />
												</a> 
												<a href="javascript:void(0);">
													<span class="available-info">Location</span>
													<span class="data-info">Newyork, USA</span>
												</a>
											</div>
										</div>
										<div class="col-6">
											<div class="d-flex align-items-center">
												<a href="javascript:void(0);">
													<img src="assets/img/shapes/alarm.png" alt="" />
												</a> 
												<a href="javascript:void(0);">
													<span class="available-info">Available on</span>
													<span class="data-info">Fri, 22 March</span>
												</a>
											</div>
										</div>
										<div class="col-6">
											<div class="d-flex align-items-center">
												<a href="javascript:void(0);">
													<img src="assets/img/shapes/consult.png" alt="" />
												</a> 
												<a href="javascript:void(0);">
													<span class="available-info">Consulting</span>
													<span class="data-info">500+ Patients</span>
												</a>
											</div>
										</div>
										<div class="col-6">
											<div class="d-flex align-items-center">
												<a href="javascript:void(0);">
													<img src="assets/img/shapes/exper.png" alt="" />
												</a> 
												<a href="javascript:void(0);">
													<span class="available-info">EXPERIENCE</span>
													<span class="data-info">25+ Years</span>
												</a>
											</div>
										</div>
									</div>
									<div class="row row-sm align-items-center p-3">
										<div class="col-6">
											<a href="doctor-profile.html" class="amt-txt" tabindex="0">$50 - $100</a>
										</div>
										<div class="col-6">
											<a href="booking.html" class="btn book-btn" tabindex="0">Book Now</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="view-all-more text-center aos" data-aos="fade-up">	
						<a href="doctor-profile.html" class="btn btn-primary">View More</a>
					</div>
				</div>
			</section>
			<!-- /Book Doctors-->

			<!-- Blogs -->
			<section class="latest-blog">
				<div class="container">
					<div class="section-header-three text-center aos" data-aos="fade-up">
						<h2>Our Latest Blogs</h2>
						<p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div class="row">
						<div class="col-md-6 col-lg-4 aos" data-aos="fade-up">
							<div class="blog-wrap">
								<div class="image-holder">
									<a href="blog-details.html">
										<img class="img-fluid" src="assets/img/shapes/blog-img01.jpg" alt="Post Image">
									</a>
								</div>
								<div class="blog-wrap-body">
									<h3><a href="blog-details.html">In this hospital there are special surgeons</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
									ut labore et..</p>
									<div class="blog-footer">
										<div class="row row-sm align-items-center">
											<div class="col-6 text-start">
												<a href="blog-details.html" class="read-txt" tabindex="0">Read More <i class="fas fa-long-arrow-alt-right"></i></a>
											</div>
											<div class="col-6 text-end">
												<a href="javascript:void(0);" class="cal-txt" tabindex="0"><i class="far fa-calendar-alt"></i> Jan 03, 2020</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4 aos" data-aos="fade-up">
							<div class="blog-wrap">
								<div class="image-holder">
									<a href="blog-details.html">
										<img class="img-fluid" src="assets/img/shapes/blog-img02.jpg" alt="Post Image">
									</a>
								</div>
								<div class="blog-wrap-body">
									<h3><a href="blog-details.html">World AIDS Day, designated on 1 December</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
									ut labore et..</p>
									<div class="blog-footer">
										<div class="row row-sm align-items-center">
											<div class="col-6 text-start">
												<a href="blog-details.html" class="read-txt" tabindex="0">Read More <i class="fas fa-long-arrow-alt-right"></i></a>
											</div>
											<div class="col-6 text-end">
												<a href="javascript:void(0);" class="cal-txt" tabindex="0"><i class="far fa-calendar-alt"></i> Jan 03, 2020</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4 aos" data-aos="fade-up">
							<div class="blog-wrap">
								<div class="image-holder">
									<a href="blog-details.html">
										<img class="img-fluid" src="assets/img/shapes/blog-img03.jpg" alt="Post Image">
									</a>
								</div>
								<div class="blog-wrap-body">
									<h3><a href="blog-details.html">More then 80 clinical trials launch to test coronavirus</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
									ut labore et..</p>
									<div class="blog-footer">
										<div class="row row-sm align-items-center">
											<div class="col-6 text-start">
												<a href="blog-details.html" class="read-txt" tabindex="0">Read More <i class="fas fa-long-arrow-alt-right"></i></a>
											</div>
											<div class="col-6 text-end">
												<a href="javascript:void(0);" class="cal-txt" tabindex="0"><i class="far fa-calendar-alt"></i> Jan 03, 2020</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Blogs -->
			
			<!-- Footer -->
			<footer class="footer footer-2 custom-footer">
				
				<!-- Footer Top -->
				<div class="footer-top">
					<div class="container-fluid">
						<div class="row aos" data-aos="fade-up">
							
							<div class="col-lg-2 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title footer-title-two">Quick Links</h2>
									<ul>
										<li><a href="#">About Us</a></li>
										<li><a href="#">Our Mission</a></li>
										<li><a href="#">Our Approach</a></li>
										<li><a href="#">Our History</a></li>
										<li><a href="#">Awards And Achievements</a></li>
										<li><a href="#">Careers</a></li>
										<li><a href="#">Appointment</a></li>
										<li><a href="#">Facilities</a></li>
										<li><a href="#">Pricing Plans</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-about">
									<div class="footer-logo">
										<img src="assets/img/footer-logo.png" alt="logo">
									</div>
									<div class="footer-about-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									</div>
									<div class="footer-widget footer-contact mt-4">
										<h2 class="footer-title footer-title-two">Our Location</h2>
										<div class="footer-contact-info">
											<div class="footer-address">
												<span><i class="fas fa-map-marker-alt"></i></span>
												<p> 3556  Beech Street, San Francisco,<br> California, CA 94108 </p>
											</div>
											<p>
												<i class="fas fa-phone-alt"></i>
												+1 315 369 5943
											</p>
											<p class="mb-0">
												<i class="fas fa-envelope"></i>
												doccure@example.com
											</p>
										</div>
									</div>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title footer-title-two">Services</h2>
									<div class="row">
										<div class="col-lg-6">
											<ul>
												<li><a href="#">Cardiology</a></li>
												<li><a href="#">Diabetes</a></li>
												<li><a href="#">Plastic Surgery</a></li>
												<li><a href="#">Gastroenterology</a></li>
												<li><a href="#">Gynecology</a></li>
												<li><a href="#">Hepatology</a></li>
												<li><a href="#">Neurology</a></li>
												<li><a href="#">Radiology</a></li>
												<li><a href="#">Rhinology</a></li>
											</ul>
										</div>
										<div class="col-lg-6">
											<ul>
												<li><a href="#">Obstetrics</a></li>
												<li><a href="#">Ophthalmology</a></li>
												<li><a href="#">Oral Health</a></li>
												<li><a href="#">Orthopedics</a></li>
												<li><a href="#">Osteology</a></li>
												<li><a href="#">Otology</a></li>
												<li><a href="#">Pediatrics</a></li>
												<li><a href="#">Psychiatry</a></li>
												<li><a href="#">Pulmonology</a></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-2 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title footer-title-two">For Patients</h2>
									<ul>
										<li><a href="search.html">Search for Doctors</a></li>
										<li><a href="login.html">Login</a></li>
										<li><a href="register.html">Register</a></li>
										<li><a href="booking.html">Booking</a></li>
										<li><a href="patient-dashboard.html">Patient Dashboard</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-2 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title footer-title-two">For Doctors</h2>
									<ul>
										<li><a href="appointments.html">Appointments</a></li>
										<li><a href="chat.html">Chat</a></li>
										<li><a href="login.html">Login</a></li>
										<li><a href="doctor-register.html">Register</a></li>
										<li><a href="doctor-dashboard.html">Doctor Dashboard</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
						</div>
					</div>
				</div>
				<!-- /Footer Top -->
				
				<!-- Footer Bottom -->
                <div class="footer-bottom">
					<div class="container-fluid">
					
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								<div class="col-md-6 col-lg-6">
									<div class="copyright-text">
										<p class="mb-0">&copy; 2022 <span class="primary-light">Doccure</span>. All rights reserved.</p>
									</div>
								</div>
								<div class="col-md-6 col-lg-6">
								
									<!-- Copyright Menu -->
									<div class="copyright-menu">
										<ul class="policy-menu">
											<li><a href="term-condition.html">Terms and Conditions</a></li>
											<li><a href="privacy-policy.html">Policy</a></li>
										</ul>
									</div>
									<!-- /Copyright Menu -->
									
								</div>
							</div>
						</div>
						<!-- /Copyright -->
						
					</div>
				</div>
				<!-- /Footer Bottom -->
				
			</footer>
			<!-- /Footer -->
		   
	   </div>
	   <!-- /Main Wrapper -->
	  
		<!-- jQuery -->
		<script src="assets/js/jquery-3.6.0.min.js"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="assets/js/bootstrap.bundle.min.js"></script>
		
		<!-- Owl Carousel JS -->
		<script src="assets/js/owl.carousel.min.js"></script>
		
		<!-- Slick JS -->
		<script src="assets/js/slick.js"></script>

		<!-- Animation JS -->
		<script src="assets/js/aos.js"></script>
		
		<!-- Custom JS -->
		<script src="assets/js/script.js"></script>
		
	</body>
</html>