<!DOCTYPE html>
<html lang="zxx">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Doccure</title>

	<!-- Favicons -->
	<link type="image/x-icon" href="assets/img/favicon.png" rel="icon">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css"> 

	<!-- Feathericon CSS -->
	<link rel="stylesheet" href="assets/css/feather.css">

	<!-- Select2 CSS -->
	<link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">
	
	<!-- Owl carousel CSS -->
	<link rel="stylesheet" href="assets/css/owl.carousel.min.css">

	<!-- Animation CSS -->
	<link rel="stylesheet" href="assets/css/aos.css">
	
	<!-- Main CSS -->
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body class="home-three">

	<!-- Main Wrapper -->
	<div class="main-wrapper">
		<!--Top Header -->
		<div class="header-top home-three-top">
			<div class="left-top aos" data-aos="fade-up">
				<ul>
					<li><i class="feather-phone me-1"></i> +1 315 369 5943</li>
					<li><i class="feather-mail me-1"></i> doccure@example.com</li>
				</ul>
			</div>
			<div class="right-top aos" data-aos="fade-up">
				<ul>
					<li><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
					<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
					<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
					<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
				</ul>
			</div>
		</div>
		<!--/Top Header -->

		<!-- Header -->
		<header class="header">
			<div class="nav-bg home-three-nav">
				<nav class="navbar navbar-expand-lg header-nav nav-transparent">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">	
							<span class="bar-icon blue-bar">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="index.html" class="navbar-brand logo">
							<img src="assets/img/logo-one.png" class="img-fluid" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="index.html" class="menu-logo">
								<img src="assets/img/logo-one.png" class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">	<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav black-font">
							<li class="has-submenu active">	<a href="">Home <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="index.html">Home</a></li>
									<li><a href="index-two.html">Home 2</a></li>
									<li><a href="index-three.html">Home 3</a></li>
									<li><a href="index-four.html">Home 4</a></li>
									<li><a href="index-five.html">Home 5</a></li>
									<li><a href="index-six.html">Home 6</a></li>
									<li><a href="index-seven.html">Home 7</a></li>
									<li><a href="index-eight.html">Home 8</a></li>
									<li><a href="index-nine.html">Home 9</a></li>
									<li><a href="index-ten.html">Home 10</a></li>
									<li><a href="index-leven.html">Home 11</a></li>
									<li class="active"><a href="index-twelve.html">Home 12</a></li>
									<li><a href="index-thirteen.html">Home 13</a></li>
									<li><a href="index-fourteen.html">Home 14</a></li>
										<li><a href="index-fifteen.html">Home 15</a></li>
								</ul>
							</li>
							<li class="has-submenu"><a href="">Doctors <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="doctor-dashboard.html">Doctor Dashboard</a>
									</li>
									<li><a href="appointments.html">Appointments</a>
									</li>
									<li><a href="schedule-timings.html">Schedule Timing</a>
									</li>
									<li><a href="my-patients.html">Patients List</a>
									</li>
									<li><a href="patient-profile.html">Patients Profile</a>
									</li>
									<li><a href="chat-doctor.html">Chat</a>
									</li>
									<li><a href="invoices.html">Invoices</a>
									</li>
									<li><a href="doctor-profile-settings.html">Profile Settings</a>
									</li>
									<li><a href="reviews.html">Reviews</a>
									</li>
									<li><a href="doctor-register.html">Doctor Register</a>
									</li>
								</ul>
							</li>
							<li class="has-submenu"><a href="">Patients <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li class="has-submenu"><a href="#">Doctors</a>
										<ul class="submenu">
											<li><a href="map-grid.html">Map Grid</a>
											</li>
											<li><a href="map-list.html">Map List</a>
											</li>
											<li><a href="map-list-1.html">Map List 1</a>
											</li>
										</ul>
									</li>
									<li><a href="search.html">Search Doctor</a>
									</li>
									<li><a href="doctor-profile.html">Doctor Profile</a>
									</li>
									<li><a href="booking.html">Booking</a>
									</li>
									<li><a href="checkout.html">Checkout</a>
									</li>
									<li><a href="booking-success.html">Booking Success</a>
									</li>
									<li><a href="patient-dashboard.html">Patient Dashboard</a>
									</li>
									<li><a href="favourites.html">Favourites</a>
									</li>
									<li><a href="chat.html">Chat</a>
									</li>
									<li><a href="profile-settings.html">Profile Settings</a>
									</li>
									<li><a href="change-password.html">Change Password</a>
									</li>
								</ul>
							</li>
							<li class="has-submenu"><a href="">Pages <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="voice-call.html">Voice Call</a>
									</li>
									<li><a href="video-call.html">Video Call</a>
									</li>
									<li><a href="search.html">Search Doctors</a>
									</li>
									<li><a href="calendar.html">Calendar</a>
									</li>
									<li><a href="onboarding-email.html">Doctor Onboarding</a>
									</li>
									<li><a href="patient-email.html">Patient Onboarding</a>
									</li>
									<li><a href="components.html">Components</a>
									</li>
									<li class="has-submenu"><a href="invoices.html">Invoices</a>
										<ul class="submenu">
											<li><a href="invoices.html">Invoices</a>
											</li>
											<li><a href="invoice-view.html">Invoice View</a>
											</li>
										</ul>
									</li>
									<li><a href="blank-page.html">Starter Page</a></li>
		                            <li><a href="about-us.html">About Us</a></li>
		                            <li><a href="contact-us.html">Contact Us</a></li>
									<li><a href="login.html">Login</a></li>
									<li><a href="register.html">Register</a></li>
									<li><a href="forgot-password.html">Forgot Password</a></li>
								</ul>
							</li>
							<li class="has-submenu"><a href="">Blog <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="blog-list.html">Blog List</a>
									</li>
									<li><a href="blog-grid.html">Blog Grid</a>
									</li>
									<li><a href="blog-details.html">Blog Details</a>
									</li>
								</ul>
							</li>
							<li><a href="admin/index.html" target="_blank">Admin</a>
							</li>
							<li class="login-link">	<a href="login.html">Login / Signup</a>
							</li>
						</ul>
						<ul class="nav header-navbar-rht right-menu">
							<li class="nav-item">
								<a class="nav-link login-blue-bg btn-one" href="login.html">
									<i class="feather-user me-1"></i> Sign In
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link signup-white-bg btn-one" href="register.html">
									<i class="feather-user me-1"></i> Sign Up
								</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<!-- /Header -->

		<!-- Home Banner -->
		<section class="home-banner-three">
			<div class="owl-carousel home-three-slider owl-theme">
				<div class="item">
					<img src="assets/img/banner-4.jpg" class="img-fluid" alt="">
				</div>
				<div class="item">
					<img src="assets/img/banner-4.jpg" class="img-fluid" alt="">
				</div>
				<div class="item">
					<img src="assets/img/banner-4.jpg" class="img-fluid" alt="">
				</div>
			</div>
			<div class="banner-wrapper-three">
				<div class="container">
					<div class="row justify-content-between align-items-center">
						<div class="col-lg-6 col-md-12" >
							<div class="banner-wrapper doc-form d-lg-block d-md-none banner-wrapper-left">
								<div class="app-form">
									<div class="banner-three-content">
										<h2>We Provide Solution</h2>
										<h2><span>To stressless Life</span></h2>
										<p>People who are more perfectionist are most likely to be depressed, Because they stress themselves out so much.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-12">
							<div class="banner-wrapper doc-form banner-wrapper-right">
								<div class="app-form app-form-one">
									<form action="#" class="doctor-form">
										<div class="row">
											<div class="col-md-12 col-lg-12">
												<div class="form-group">
													<label>Location</label>
													<input type="text" class="form-control" value="">
												</div>
											</div>
											<div class="col-md-6 col-lg-4">
												<div class="form-group">
													<label>Gender</label>
													<select class="select form-control">
														<option>Male</option>
														<option>Female</option>
													</select>
												</div>
											</div>
											<div class="col-md-6 col-lg-8">
												<div class="form-group">
													<label>Department</label>
													<select class="select form-control">
														<option>Surgen</option>
														<option>Cardiologist</option>
														<option>Gynacologist</option>
													</select>
												</div>
											</div>
											<div class="col-md-12 col-lg-12">
												<a href="search.html" class="btn btn-one w-100">Search</a>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /Home Banner -->

		<!-- Looking Section Three -->
		<section class="looking-section-three">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="header-three aos" data-aos="fade-up">
							<h2 class="mb-0">What are you looking for?</h2>
						</div>
					</div>
				</div>
				<div class="row justify-content-center aos" data-aos="fade-up">
					<div class="col-lg-4 col-md-6 d-flex">
						<div class="looking-box w-100 hvr-bounce-to-bottom">
							<div class="looking-icon">
								<div class="icon-inner">
									<i class="fas fa-user-md"></i>
								</div>
							</div>
							<div class="looking-info">
								<a href="search.html" class="looking-link">Visit a Doctor</a>
								<p>We hire the best specialists to deliver top-notch diagnostic services for you.</p>
							</div>
							<div class="looking-btn">
								<a href="booking.html" class="btn btn-one w-100"><span>Book Now</span></a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 d-flex">
						<div class="looking-box w-100 hvr-bounce-to-bottom">
							<div class="looking-icon">
								<div class="icon-inner">
									<i class="fas fa-tablets"></i>
								</div>
							</div>
							<div class="looking-info">
								<a href="pharmacy-search.html" class="looking-link">Find a Pharmacy</a>
								<p>We provide the a wide range of medical services, so every person could have the opportunity.</p>
							</div>
							<div class="looking-btn">
								<a href="booking.html" class="btn btn-one w-100"><span>Find Now</span></a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 d-flex">
						<div class="looking-box w-100 hvr-bounce-to-bottom">
							<div class="looking-icon">
								<div class="icon-inner">
									<i class="fas fa-vial"></i>
								</div>
							</div>
							<div class="looking-info">
								<a href="#" class="looking-link">Find a Lab</a>
								<p>We use the first-class medical equipment for timely diagnostics of various diseases.</p>
							</div>
							<div class="looking-btn">
								<a href="booking.html" class="btn btn-one w-100"><span>Book Now</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /Looking Section Three -->

		<!-- Browse Specialities Section -->
		<section class="browse-section-three">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="header-three aos" data-aos="fade-up">
							<h2>Browse by Specialities</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-3 col-md-6 d-flex aos" data-aos="fade-up">
						<div class="browse-grid w-100">
							<div class="browse-img">
								<img src="assets/img/browse/browse-img1.jpg" class="img-fluid" alt="">
								<div class="overlay"></div>
								<div class="browse-content">
									<h4>Orthopedic</h4>
									<p>50 Doctors</p>
								</div>
								<div class="browse-icon">
									<div class="browse-inner">
										<div class="browse-box-img">
											<img src="assets/img/icons/icon7.svg" class="browse-inner-img" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 d-flex aos" data-aos="fade-up">
						<div class="browse-grid w-100">
							<div class="browse-img">
								<img src="assets/img/browse/browse-img2.jpg" class="img-fluid" alt="">
								<div class="overlay"></div>
								<div class="browse-content">
									<h4>Cardiologist</h4>
									<p>140 Doctors</p>
								</div>
								<div class="browse-icon">
									<div class="browse-inner">
										<div class="browse-box-img">
											<img src="assets/img/icons/icon3.svg" class="browse-inner-img browse-inner-one" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 d-flex aos" data-aos="fade-up">
						<div class="browse-grid w-100">
							<div class="browse-img">
								<img src="assets/img/browse/browse-img3.jpg" class="img-fluid" alt="">
								<div class="overlay"></div>
								<div class="browse-content">
									<h4>Dentist</h4>
									<p>80 Doctors</p>
								</div>
								<div class="browse-icon">
									<div class="browse-inner">
										<div class="browse-box-img">
											<img src="assets/img/icons/icon4.svg" class="browse-inner-img" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 d-flex aos" data-aos="fade-up">
						<div class="browse-grid w-100">
							<div class="browse-img">
								<img src="assets/img/browse/browse-img4.jpg" class="img-fluid" alt="">
								<div class="overlay"></div>
								<div class="browse-content">
									<h4>MRI Scans</h4>
									<p>68 Doctors</p>
								</div>
								<div class="browse-icon">
									<div class="browse-inner">
										<div class="browse-box-img">
											<img src="assets/img/icons/icon8.svg" class="browse-inner-img" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 d-flex aos" data-aos="fade-up">
						<div class="browse-grid w-100">
							<div class="browse-img">
								<img src="assets/img/browse/browse-img5.jpg" class="img-fluid" alt="">
								<div class="overlay"></div>
								<div class="browse-content">
									<h4>Urology</h4>
									<p>124 Doctors</p>
								</div>
								<div class="browse-icon">
									<div class="browse-inner">
										<div class="browse-box-img">
											<img src="assets/img/icons/icon1.svg" class="browse-inner-img" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 d-flex aos" data-aos="fade-up">
						<div class="browse-grid w-100">
							<div class="browse-img">
								<img src="assets/img/browse/browse-img6.jpg" class="img-fluid" alt="">
								<div class="overlay"></div>
								<div class="browse-content">
									<h4>Neurology</h4>
									<p>21 Doctors</p>
								</div>
								<div class="browse-icon">
									<div class="browse-inner">
										<div class="browse-box-img">
											<img src="assets/img/icons/icon9.svg" class="browse-inner-img" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 d-flex aos" data-aos="fade-up">
						<div class="browse-grid w-100">
							<div class="browse-img">
								<img src="assets/img/browse/browse-img7.jpg" class="img-fluid" alt="">
								<div class="overlay"></div>
								<div class="browse-content">
									<h4>Laboratory</h4>
									<p>78 Doctors</p>
								</div>
								<div class="browse-icon">
									<div class="browse-inner">
										<div class="browse-box-img">
											<img src="assets/img/icons/icon10.svg" class="browse-inner-img" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 d-flex aos" data-aos="fade-up">
						<div class="browse-grid w-100">
							<div class="browse-img">
								<img src="assets/img/browse/browse-img8.jpg" class="img-fluid" alt="">
								<div class="overlay"></div>
								<div class="browse-content">
									<h4>Primary Checkup</h4>
									<p>46 Doctors</p>
								</div>
								<div class="browse-icon">
									<div class="browse-inner">
										<div class="browse-box-img">
											<img src="assets/img/icons/icon11.svg" class="browse-inner-img" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /Browse Specialities Section -->

		<!-- Doctor and Patient -->
		<section class="doctor-details-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 d-flex aos" data-aos="fade-up">
						<div class="doctor-grid w-100">
							<div class="doctor-details">
								<h4>ARE YOU A DOCTOR?</h4>
								<p>The service allows you to get maximum visibility online and to manage appointments and contacts coming from the site, in a simple and fast way.</p>
								<a href="booking.html" class="btn btn-one">Book Now</a>
								<div class="doctor-details-img">
									<img src="assets/img/doctors/doctor-img1.png" class="img-fluid" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 d-flex aos" data-aos="fade-up">
						<div class="doctor-grid w-100">
							<div class="doctor-details doctor-details-one">
								<h4>ARE YOU A PATIENT?</h4>
								<p>The service allows you to get maximum visibility online and to manage appointments and contacts coming from the site, in a simple and fast way.</p>
								<a href="booking.html" class="btn btn-one">Book Now</a>
								<div class="doctor-details-img">
									<img src="assets/img/doctors/patient-img1.png" class="img-fluid" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /Doctor and Patient -->

		<!-- Doctor Section Three -->
		<section class="doctor-section-three">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="header-three aos" data-aos="fade-up">
							<h2>Book Our Best Doctor</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="owl-carousel best-our-doctors owl-theme aos" data-aos="fade-up">
							<div class="item">
								<div class="our-doctors-card">
									<div class="doctors-img">
										<a href="doctor-profile.html">
											<img src="assets/img/doctors/book-doctor-09.jpg" alt="" class="img-fluid">
										</a>
									</div>
									<div class="pro-content">
										<div class="provider-info">
											<div class="doctors-amount">
												<span>$20 - $50</span>
											</div>
											<div class="total-patient">
												<p>
													<img src="assets/img/icons/patient-icon.png" alt="" class="me-1">500+ Patients
												</p>
											</div>
											<h3 class="mb-2">
												<a href="doctor-profile.html">Dr. Deborah Angel</a>
											</h3>
											<p class="doctor-post">MBBS, MD - General Medicine, DNB</p>
											<div>
												<div class="rating">
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star"></i>
													<span class="d-inline-block average-rating">4.9 ( 82 )</span>
												</div>
											</div>
											<div class="content-info">
												<div class="booking-btn">
													<a href="booking.html" class="btn book-btn">Book Appointment</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="our-doctors-card">
									<div class="doctors-img">
										<a href="doctor-profile.html">
											<img src="assets/img/doctors/book-doctor-10.jpg" alt="" class="img-fluid">
										</a>
									</div>
									<div class="pro-content">
										<div class="provider-info">
											<div class="doctors-amount">
												<span>$30 - $60</span>
											</div>
											<div class="total-patient">
												<p>
													<img src="assets/img/icons/patient-icon.png" alt="" class="me-1">100+ Patients
												</p>
											</div>
											<h3 class="mb-2">
												<a href="doctor-profile.html">Dr. Darren Elder</a>
											</h3>
											<p class="doctor-post">MBBS, MS - General Surgery, MCh</p>
											<div>
												<div class="rating">
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star"></i>
													<span class="d-inline-block average-rating">4.9 ( 82 )</span>
												</div>
											</div>
											<div class="content-info">
												<div class="booking-btn">
													<a href="booking.html" class="btn book-btn">Book Appointment</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="our-doctors-card">
									<div class="doctors-img">
										<a href="doctor-profile.html">
											<img src="assets/img/doctors/book-doctor-11.jpg" alt="" class="img-fluid">
										</a>
									</div>
									<div class="pro-content">
										<div class="provider-info">
											<div class="doctors-amount">
												<span>$40 - $70</span>
											</div>
											<div class="total-patient">
												<p>
													<img src="assets/img/icons/patient-icon.png" alt="" class="me-1">200+ Patients
												</p>
											</div>
											<h3 class="mb-2">
												<a href="doctor-profile.html">Dr. Sofia Brient</a>
											</h3>
											<p class="doctor-post">MBBS, MD - General Medicine, DNB</p>
											<div>
												<div class="rating">
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star"></i>
													<span class="d-inline-block average-rating">4.9 ( 82 )</span>
												</div>
											</div>
											<div class="content-info">
												<div class="booking-btn">
													<a href="booking.html" class="btn book-btn">Book Appointment</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="our-doctors-card">
									<div class="doctors-img">
										<a href="doctor-profile.html">
											<img src="assets/img/doctors/book-doctor-12.jpg" alt="" class="img-fluid">
										</a>
									</div>
									<div class="pro-content">
										<div class="provider-info">
											<div class="doctors-amount">
												<span>$50 - $80</span>
											</div>
											<div class="total-patient">
												<p>
													<img src="assets/img/icons/patient-icon.png" alt="" class="me-1">300+ Patients
												</p>
											</div>
											<h3 class="mb-2">
												<a href="doctor-profile.html">Dr. Sofia Brient</a>
											</h3>
											<p class="doctor-post">MBBS, MS - General Surgery, MCh</p>
											<div>
												<div class="rating">
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star"></i>
													<span class="d-inline-block average-rating">4.9 ( 82 )</span>
												</div>
											</div>
											<div class="content-info">
												<div class="booking-btn">
													<a href="booking.html" class="btn book-btn">Book Appointment</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 d-flex justify-content-between align-items-center">
						<div class="owl-nav slide-nav-5 nav-control"></div>
						<div class="float-end">
							<div class="text-end">
								<a href="doctor-profile.html" class="btn btn-one">View More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /Doctor Section Three -->

		<!-- Features Clinic -->
		<section class="features-clinic">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="header-three aos" data-aos="fade-up">
							<h2>Available Features in Our Clinic</h2>
							<p>Meet our Experts & Book Online</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 aos" data-aos="fade-up">
						<div class="owl-carousel features-clinic-slider owl-theme">
							<div class="item">
								<div class="features-clinic-grid">
									<div class="features-clinic-img">
										<img src="assets/img/clinic/features-clinic-01.jpg" alt="" class="img-fluid">
									</div>
									<div class="feature-clinic-overlay">
										<p>Medical</p>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="features-clinic-grid">
									<div class="features-clinic-img">
										<img src="assets/img/clinic/features-clinic-02.jpg" alt="" class="img-fluid">
									</div>
									<div class="feature-clinic-overlay">
										<p>Patient Ward</p>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="features-clinic-grid">
									<div class="features-clinic-img">
										<img src="assets/img/clinic/features-clinic-03.jpg" alt="" class="img-fluid">
									</div>
									<div class="feature-clinic-overlay">
										<p>Operation</p>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="features-clinic-grid">
									<div class="features-clinic-img">
										<img src="assets/img/clinic/features-clinic-04.jpg" alt="" class="img-fluid">
									</div>
									<div class="feature-clinic-overlay">
										<p>Laboratory</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 d-flex justify-content-between align-items-center">
						<div class="owl-nav slide-nav-6 nav-control"></div>
						<div class="float-end">
							<div class="text-end">
								<a href="#" class="btn btn-one">View More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /Features Clinic -->

		<!-- Latest Blog Section -->
		<section class="latest-blog-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="header-three aos" data-aos="fade-up">
							<h2>Our Latest Blogs</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 aos" data-aos="fade-up">
						<div class="owl-carousel latest-blog-slider owl-theme">
							<div class="item">
								<div class="latest-blog-grid">
									<div class="latest-blog-img">
										<a href="blog-details.html">
											<img src="assets/img/blog/blog-04.jpg" alt="" class="img-fluid">
										</a>
									</div>
									<div class="lastest-blog-info">
										<div class="lastest-blog-date">
											<h4>20 <span>Jan 2022</span></h4>
										</div>
										<h4 class="latest-blog-title">
											<a href="blog-details.html">Doccure – Making your clinic painless visit?</a>
										</h4>
										<p>Urology</p>
										<div class="lastest-post-author">
											<a href="doctor-profile.html">
												<img src="assets/img/doctors/doctor-thumb-01.jpg" alt="" class="me-2"> 
												<span>Dr. Ruby Perrin</span>
											</a>
										</div>
										<div class="lastest-blod-btn">
											<a href="blog-details.html" class="btn btn-one">Read More</a>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="latest-blog-grid">
									<div class="latest-blog-img">
										<a href="blog-details.html">
											<img src="assets/img/blog/blog-wrap-02.jpg" alt="" class="img-fluid">
										</a>
									</div>
									<div class="lastest-blog-info">
										<div class="lastest-blog-date">
											<h4>13 <span>Feb 2022</span></h4>
										</div>
										<h4 class="latest-blog-title">
											<a href="blog-details.html">What are the benefits of Online Doctor Booking?</a>
										</h4>
										<p>Surgery</p>
										<div class="lastest-post-author">
											<a href="doctor-profile.html">
												<img src="assets/img/doctors/doctor-thumb-02.jpg" alt="" class="me-2"> 
												<span>Dr. Darren Elder</span>
											</a>
										</div>
										<div class="lastest-blod-btn">
											<a href="blog-details.html" class="btn btn-one">Read More</a>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="latest-blog-grid">
									<div class="latest-blog-img">
										<a href="blog-details.html">
											<img src="assets/img/blog/blog-wrap-03.jpg" alt="" class="img-fluid">
										</a>
									</div>
									<div class="lastest-blog-info">
										<div class="lastest-blog-date">
											<h4>05 <span>Mar 2022</span></h4>
										</div>
										<h4 class="latest-blog-title">
											<a href="blog-details.html">Benefits of consulting with an Online Doctor</a>
										</h4>
										<p>Cardiology</p>
										<div class="lastest-post-author">
											<a href="doctor-profile.html">
												<img src="assets/img/doctors/doctor-thumb-03.jpg" alt="" class="me-2"> 
												<span>Dr. Deborah Angel</span>
											</a>
										</div>
										<div class="lastest-blod-btn">
											<a href="blog-details.html" class="btn btn-one">Read More</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 d-flex justify-content-between align-items-center">
						<div class="owl-nav slide-nav-7 nav-control"></div>
						<div class="float-end">
							<div class="text-end">
								<a href="blog-details.html" class="btn btn-one">View More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Latest Blog Section -->

		<!-- News Letter Section -->
		<section class="news-letter-section">
			<div class="container">
				<div class="row">
					<div class="col-md-7 news-left aos" data-aos="fade-up">
						<div class="news-info">
							<h2>Subscribe to our <span>Newsletter</span></h2>
							<p>Subscribe today for our exclusive offers, latest news and updates about health care programs.</p>
						</div>
						<div class="news-info news-info-one">
							<form>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Enter Your Email Address">
								</div>
								<div class="form-group mb-0">
									<button type="submit" class="btn btn-one">Subscribe</button>
								</div>
							</form>
						</div>
					</div>
					<div class="col-md-5 aos" data-aos="fade-up">
						<div class="news-letter-img">
							<img src="assets/img/blog/news-letter-img.png" alt="" class="img-fluid">
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- News Letter Section -->

		<!-- Footer Three -->
		<footer class="footer footer-three">

			<!-- Footer Top -->
			<div class="footer-top">
				<div class="container">
					<div class="row aos" data-aos="fade-up">
						<div class="col-lg-3 col-md-6">
							<!-- Footer Widget -->
							<div class="footer-widget footer-about">
								<div class="footer-logo">
									<img src="assets/img/logo-one.png" alt="logo">
								</div>
								<div class="footer-about-content">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									<div class="social-icon">
										<ul>
											<li><a href="#" target="_blank"><i class="fab fa-facebook"></i> </a>
											</li>
											<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
											</li>
											<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
											</li>
											<li><a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- /Footer Widget -->
						</div>
						<div class="col-lg-3 col-md-6">
							<!-- Footer Widget -->
							<div class="footer-widget footer-menu">
								<h2 class="footer-title">For Patients</h2>
								<ul>
									<li><a href="search.html">Search for Doctors</a>
									</li>
									<li><a href="login.html">Login</a>
									</li>
									<li><a href="register.html">Register</a>
									</li>
									<li><a href="booking.html">Booking</a>
									</li>
									<li><a href="patient-dashboard.html">Patient Dashboard</a>
									</li>
								</ul>
							</div>
							<!-- /Footer Widget -->
						</div>
						<div class="col-lg-3 col-md-6">
							<!-- Footer Widget -->
							<div class="footer-widget footer-menu">
								<h2 class="footer-title">For Doctors</h2>
								<ul>
									<li><a href="appointments.html">Appointments</a>
									</li>
									<li><a href="chat.html">Chat</a>
									</li>
									<li><a href="login.html">Login</a>
									</li>
									<li><a href="doctor-register.html">Register</a>
									</li>
									<li><a href="doctor-dashboard.html">Doctor Dashboard</a>
									</li>
								</ul>
							</div>
							<!-- /Footer Widget -->
						</div>
						<div class="col-lg-3 col-md-6">
							<!-- Footer Widget -->
							<div class="footer-widget footer-contact">
								<h2 class="footer-title">Contact Us</h2>
								<div class="footer-contact-info">
									<div class="footer-address">
										<span><i class="feather-map-pin"></i></span>
										<p>3556 Beech Street, San Francisco,
											<br>California, CA <br>94108
										</p>
									</div>
									<p>
										<i class="feather-phone"></i>
										+1 315 369 5943
									</p>
									<p class="mb-0">
										<i class="feather-mail"></i>
										doccure@example.com
									</p>
								</div>
							</div>
							<!-- /Footer Widget -->
						</div>
					</div>
				</div>
			</div>
			<!-- /Footer Top -->

			<!-- Footer Middle -->
			<div class="footer-middle">
				<div class="container">
					<div class="footer-middle-menu">
						<div class="row aos" data-aos="fade-up">
							<div class="col-lg-3 col-md-6">
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">Services</h2>
									<ul>
										<li><a href="#">Cardiology</a>
										</li>
										<li><a href="#">Diabetes</a>
										</li>
										<li><a href="#">Plastic Surgery</a>
										</li>
										<li><a href="#">Gastroenterology</a>
										</li>
										<li><a href="#">Gynecology</a>
										</li>
									</ul>
								</div>
								<!-- /Footer Widget -->
							</div>
							<div class="col-lg-3 col-md-6">
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu footer-menu-three">
									<ul>
										<li><a href="#">Hepatology</a>
										</li>
										<li><a href="#">Neurology</a>
										</li>
										<li><a href="#">Radiology</a>
										</li>
										<li><a href="#">Rhinology</a>
										</li>
										<li><a href="#">Obstetrics</a>
										</li>
									</ul>
								</div>
								<!-- /Footer Widget -->
							</div>
							<div class="col-lg-3 col-md-6">
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu footer-menu-three">
									<ul>
										<li><a href="#">Ophthalmology</a>
										</li>
										<li><a href="#">Oral Health</a>
										</li>
										<li><a href="#">Orthopedics</a>
										</li>
										<li><a href="#">Osteology</a>
										</li>
										<li><a href="#">Otology</a>
										</li>
									</ul>
								</div>
								<!-- /Footer Widget -->
							</div>
							<div class="col-lg-3 col-md-6">
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu footer-menu-three">
									<ul>
										<li><a href="#">Pediatrics</a>
										</li>
										<li><a href="#">Psychiatry</a>
										</li>
										<li><a href="#">Pulmonology</a>
										</li>
									</ul>
								</div>
								<!-- /Footer Widget -->
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="container">
					<!-- Copyright -->
					<div class="copyright">
						<div class="row">
							<div class="col-md-6 col-lg-6">
								<div class="copyright-text">
									<p class="mb-0">&copy; 2022 Doccure. All rights reserved.</p>
								</div>
							</div>
							<div class="col-md-6 col-lg-6">
								<!-- Copyright Menu -->
								<div class="copyright-menu">
									<ul class="policy-menu">
										<li><a href="term-condition.html">Terms and Conditions</a>
										</li>
										<li><a href="privacy-policy.html">Policy</a>
										</li>
									</ul>
								</div>
								<!-- /Copyright Menu -->
							</div>
						</div>
					</div>
					<!-- /Copyright -->
				</div>
			</div>
			<!-- /Footer Bottom -->
		</footer>
		<!-- /Footer Three -->

		</div>
		<!-- /Main Wrapper -->

		<!-- jQuery -->
		<script src="assets/js/jquery-3.6.0.min.js"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="assets/js/bootstrap.bundle.min.js"></script>
		
		<!-- Owl Carousel JS -->
		<script src="assets/js/owl.carousel.min.js"></script>
		
		<!-- Slick JS -->
		<script src="assets/js/slick.js"></script>

		<!-- Feather Icon JS -->
		<script src="assets/js/feather.min.js"></script>

		<!-- Select2 JS -->
		<script src="assets/plugins/select2/js/select2.min.js"></script>

		<!-- Animation JS -->
		<script src="assets/js/aos.js"></script>
		
		<!-- Custom JS -->
		<script src="assets/js/script.js"></script>
	</body>
</html>