<!DOCTYPE html> 
<html lang="en">
	<head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<title>Doccure</title>
		
		<!-- Favicons -->
		<link type="image/x-icon" href="assets/img/favicon.png" rel="icon">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

		<!-- Swiper CSS -->
		<link rel="stylesheet" href="assets/plugins/swiper/css/swiper.min.css">

		<!-- Animation CSS -->
		<link rel="stylesheet" href="assets/css/aos.css">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="assets/css/style.css">
	
	</head>
<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
			<header class="header header-trans header-five">
				<nav class="navbar navbar-expand-lg header-nav no-border">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="index.html" class="navbar-brand logo">
							<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="index.html" class="menu-logo">
								<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav blue-font">
							<li class="has-submenu active">
								<a href="">Home <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="index.html">Home</a></li>
									<li><a href="index-two.html">Home 2</a></li>
									<li><a href="index-three.html">Home 3</a></li>
									<li><a href="index-four.html">Home 4</a></li>
									<li><a href="index-five.html">Home 5</a></li>
									<li><a href="index-six.html">Home 6</a></li>
									<li><a href="index-seven.html">Home 7</a></li>
									<li><a href="index-eight.html">Home 8</a></li>
									<li class="active"><a href="index-nine.html">Home 9</a></li>
									<li><a href="index-ten.html">Home 10</a></li>
									<li><a href="index-leven.html">Home 11</a></li>
									<li><a href="index-twelve.html">Home 12</a></li>
									<li><a href="index-thirteen.html">Home 13</a></li>
									<li><a href="index-fourteen.html">Home 14</a></li>
										<li><a href="index-fifteen.html">Home 15</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="">Doctors <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="doctor-dashboard.html">Doctor Dashboard</a></li>
									<li><a href="appointments.html">Appointments</a></li>
									<li><a href="schedule-timings.html">Schedule Timing</a></li>
									<li><a href="my-patients.html">Patients List</a></li>
									<li><a href="patient-profile.html">Patients Profile</a></li>
									<li><a href="chat-doctor.html">Chat</a></li>
									<li><a href="invoices.html">Invoices</a></li>
									<li><a href="doctor-profile-settings.html">Profile Settings</a></li>
									<li><a href="reviews.html">Reviews</a></li>
									<li><a href="doctor-register.html">Doctor Register</a></li>
									<li class="has-submenu">
										<a href="doctor-blog.html">Blog</a>
										<ul class="submenu">
											<li><a href="doctor-blog.html">Blog</a></li>
											<li><a href="blog-details.html">Blog view</a></li>
											<li><a href="doctor-add-blog.html">Add Blog</a></li>
										</ul>
									</li>
								</ul>
							</li>	
							<li class="has-submenu">
								<a href="">Patients <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li class="has-submenu">
										<a href="#">Doctors</a>
										<ul class="submenu">
											<li><a href="map-grid.html">Map Grid</a></li>
											<li><a href="map-list.html">Map List</a></li>
											<li><a href="map-list-1.html">Map List 1</a></li>
										</ul>
									</li>
									<li><a href="search.html">Search Doctor</a></li>
									<li><a href="doctor-profile.html">Doctor Profile</a></li>
									<li><a href="booking.html">Booking</a></li>
									<li><a href="checkout.html">Checkout</a></li>
									<li><a href="booking-success.html">Booking Success</a></li>
									<li><a href="patient-dashboard.html">Patient Dashboard</a></li>
									<li><a href="favourites.html">Favourites</a></li>
									<li><a href="chat.html">Chat</a></li>
									<li><a href="profile-settings.html">Profile Settings</a></li>
									<li><a href="change-password.html">Change Password</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="">Pharmacy <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="pharmacy-index.html">Pharmacy</a></li>
									<li><a href="pharmacy-details.html">Pharmacy Details</a></li>
									<li><a href="pharmacy-search.html">Pharmacy Search</a></li>
									<li><a href="product-all.html">Product</a></li>
									<li><a href="product-description.html">Product Description</a></li>
									<li><a href="cart.html">Cart</a></li>
									<li><a href="product-checkout.html">Product Checkout</a></li>
									<li><a href="payment-success.html">Payment Success</a></li>
									<li><a href="pharmacy-register.html">Pharmacy Register</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="">Pages <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="voice-call.html">Voice Call</a></li>
									<li><a href="video-call.html">Video Call</a></li>
									<li><a href="search.html">Search Doctors</a></li>
									<li><a href="calendar.html">Calendar</a></li>
									<li><a href="onboarding-email.html">Doctor Onboarding</a></li>
									<li><a href="patient-email.html">Patient Onboarding</a></li>
									<li><a href="components.html">Components</a></li>
									<li class="has-submenu">
										<a href="invoices.html">Invoices</a>
										<ul class="submenu">
											<li><a href="invoices.html">Invoices</a></li>
											<li><a href="invoice-view.html">Invoice View</a></li>
										</ul>
									</li>
									<li><a href="blank-page.html">Starter Page</a></li>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="contact-us.html">Contact Us</a></li></li>
									<li><a href="login.html">Login</a></li>
									<li><a href="register.html">Register</a></li>
									<li><a href="forgot-password.html">Forgot Password</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="">Blog <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="blog-list.html">Blog List</a></li>
									<li><a href="blog-grid.html">Blog Grid</a></li>
									<li><a href="blog-details.html">Blog Details</a></li>
								</ul>
							</li>
							<li>
								<a href="#" target="_blank">Admin</a>
							</li>
							<li class="login-link">
								<a href="login.html">Login / Signup</a>
							</li>
						</ul>
					</div>
					<ul class="nav header-navbar-rht right-menu">
						<li class="nav-item">
							<a class="nav-link header-login white-bg" href="login.html">login / Signup</a>
						</li>
					</ul>
				</nav>
			</header>
			<!-- /Header -->
			
			<!-- Home Banner -->
			<section class="home-search-section">
				<div class="container">
                    <div class="wrapper-content">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="doctor-search">
                                    <div class="banner-header aos" data-aos="fade-up">
                                        <h2>Search Doctor, <br> <span class="highlighter">Make an Appointment</span></h2>
                                    </div>
                                    <div class="doctor-form aos" data-aos="fade-up">
                                        <form action="#" class="doctor-search-form">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="form-custom">
                                                            <input type="text" class="form-control" value="" placeholder="Location">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="form-custom">
                                                            <input type="text" class="form-control" value="" placeholder="Gender">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="form-custom">
                                                            <select class="form-select form-control">
                                                                <option>Select Department</option>
                                                                <option>Pharmacy</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <a href="search.html" class="btn banner-btn mt-3">MAKE APPOINTMENT</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 aos" data-aos="fade-up">
                                <img src="assets/img/doctor-banner1.png" class="img-fluid dr-img" alt="" >
                            </div>
                        </div>
                    </div>
				</div>
			</section>
			<!-- /Home Banner -->

            <!-- Facilities Sections-->
			<section class="facility-section">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-7 col-md-6 aos" data-aos="fade-up">
							<img src="assets/img/shapes/blog-img01.png" alt="" class="operat-img" />
						</div>
						<div class="col-lg-5 col-md-6">
							<div class="visit-doctor aos" data-aos="fade-up">
								<div class="inner-details">
									<div class="count">
										<h1>01</h1>
									</div>
									<div class="info">
										<h1>Visit a Doctor</h1>
										<p>We hire the best specialists to deliver top-notch diagnostic services for you.</p>
										<a href="booking.html">Book Now <i class="fas fa-long-arrow-alt-right"></i> </a>
									</div>
									<img src="assets/img/icons/visit-01.png" alt="" />
								</div>
							</div>
							<div class="visit-doctor aos" data-aos="fade-up">
								<div class="inner-details pharmacy">
									<div class="count">
										<h1>02</h1>
									</div>
									<div class="info">
										<h1>Find a Pharmacy</h1>
										<p>We provide the a wide range of medical services.</p>
										<a href="booking.html">Book Now <i class="fas fa-long-arrow-alt-right"></i> </a>
									</div>
									<img src="assets/img/icons/visit-02.png" alt="" />
								</div>
							</div>
							<div class="visit-doctor aos" data-aos="fade-up">
								<div class="inner-details lab">
									<div class="count">
										<h1>03</h1>
									</div>
									<div class="info">
										<h1>Find a Lab</h1>
										<p>We hire the best specialists to deliver top-notch diagnostic services for you.</p>
										<a href="booking.html">Book Now <i class="fas fa-long-arrow-alt-right"></i> </a>
									</div>
									<img src="assets/img/icons/visit-03.png" alt="" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Facilities Sections-->

			<!-- Clinic & Speciality-->
			<section class="clinic-speciality">
				<div class="container">
					<div class="row heading-wrapper">
						<div class="col-md-6 aos" data-aos="fade-up">
							<h1>Clinic & Specialities</h1>
						</div>
						<div class="col-md-6 text-end aos" data-aos="fade-up">
							<a href="doctor-profile.html" class="nav-arrow"><i class="fas fa-arrow-right"></i></a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-lg-3 aos" data-aos="fade-up">
							<div class="clinic-wrap">
								<div class="clinic-img">
									<img src="assets/img/shapes/clinic-bg.png" alt="" />
								</div>
								<div class="wrapper-overlay">
									<img src="assets/img/icons/clinic-hover-01.png" alt="" />
									<h3>Orthopedic</h3>
									<div class="row row-sm">
										<div class="col-6">
											<p>124 <span>Doctors</span></p>
										</div>
										<div class="col-6">
											<p class="blue">24 <span>Clinics</span></p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-lg-3 aos" data-aos="fade-up">
							<div class="clinic-wrap">
								<div class="clinic-img">
									<img src="assets/img/shapes/clinic-bg.png" alt="" />
								</div>
								<div class="wrapper-overlay">
									<img src="assets/img/icons/clinic-hover-06.png" alt="" />
									<h3>Laboratry</h3>
									<div class="row row-sm">
										<div class="col-6">
											<p>124 <span>Doctors</span></p>
										</div>
										<div class="col-6">
											<p class="blue">24 <span>Clinics</span></p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-lg-3 aos" data-aos="fade-up">
							<div class="clinic-wrap">
								<div class="clinic-img">
									<img src="assets/img/shapes/clinic-bg.png" alt="" />
								</div>
								<div class="wrapper-overlay">
									<img src="assets/img/icons/clinic-hover-04.png" alt="" />
									<h3>Neurology</h3>
									<div class="row row-sm">
										<div class="col-6">
											<p>124 <span>Doctors</span></p>
										</div>
										<div class="col-6">
											<p class="blue">24 <span>Clinics</span></p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-lg-3 aos" data-aos="fade-up">
							<div class="clinic-wrap">
								<div class="clinic-img">
									<img src="assets/img/shapes/clinic-bg.png" alt="" />
								</div>
								<div class="wrapper-overlay">
									<img src="assets/img/icons/cardiology.png" alt="" />
									<h3>Cardiology</h3>
									<div class="row row-sm">
										<div class="col-6">
											<p>124 <span>Doctors</span></p>
										</div>
										<div class="col-6">
											<p class="blue">24 <span>Clinics</span></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Clinic & Speciality-->

			<!-- browse speciality-->
			<section class="browse-section brower-category">
				<div class="container">					
					<div class="row heading-wrapper">
						<div class="col-md-6 aos" data-aos="fade-up">
							<h1>Browse by Specialities</h1>
						</div>
						<div class="col-md-6 text-end aos" data-aos="fade-up">
							<a href="doctor-profile.html" class="nav-arrow"><i class="fas fa-arrow-right"></i></a>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-2 col-md-3 aos" data-aos="fade-up">
							<div class="brower-box">
								<div>
									<div class="brower-img">
										<img src="assets/img/shapes/bro-01.png" alt=""/>
									</div>
									<h4>Urology</h4>
									<p>124 <span>Doctors</span></p>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 aos" data-aos="fade-up">
							<div class="brower-box">
								<div>
									<div class="brower-img">
										<img src="assets/img/shapes/bro-02.png" alt=""/>
									</div>
									<h4>Neurology</h4>
									<p>124 <span>Doctors</span></p>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 aos" data-aos="fade-up">
							<div class="brower-box">
								<div>
									<div class="brower-img">
										<img src="assets/img/shapes/bro-03.png" alt=""/>
									</div>
									<h4>Orthopedic</h4>
									<p>124 <span>Doctors</span></p>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 aos" data-aos="fade-up">
							<div class="brower-box">
								<div>
									<div class="brower-img">
										<img src="assets/img/shapes/bro-04.png" alt=""/>
									</div>
									<h4>Cardiologist</h4>
									<p>124 <span>Doctors</span></p>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 aos" data-aos="fade-up">
							<div class="brower-box">
								<div>
									<div class="brower-img">
										<img src="assets/img/shapes/bro-01.png" alt=""/>
									</div>
									<h4>Dentist</h4>
									<p>124 <span>Doctors</span></p>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 aos" data-aos="fade-up">
							<div class="brower-box">
								<div>
									<div class="brower-img">
										<img src="assets/img/shapes/bro-05.png" alt=""/>
									</div>
									<h4>Heart surgery</h4>
									<p>124 <span>Doctors</span></p>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 aos" data-aos="fade-up">
							<div class="brower-box">
								<div>
									<div class="brower-img">
										<img src="assets/img/shapes/bro-01.png" alt=""/>
									</div>
									<h4>Urology</h4>
									<p>124 <span>Doctors</span></p>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 aos" data-aos="fade-up">
							<div class="brower-box">
								<div>
									<div class="brower-img">
										<img src="assets/img/shapes/bro-02.png" alt=""/>
									</div>
									<h4>Neurology</h4>
									<p>124 <span>Doctors</span></p>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 aos" data-aos="fade-up">
							<div class="brower-box">
								<div>
									<div class="brower-img">
										<img src="assets/img/shapes/bro-03.png" alt=""/>
									</div>
									<h4>Orthopedic</h4>
									<p>124 <span>Doctors</span></p>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 aos" data-aos="fade-up">
							<div class="brower-box">
								<div>
									<div class="brower-img">
										<img src="assets/img/shapes/bro-04.png" alt=""/>
									</div>
									<h4>Cardiologist</h4>
									<p>124 <span>Doctors</span></p>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 aos" data-aos="fade-up">
							<div class="brower-box">
								<div>
									<div class="brower-img">
										<img src="assets/img/shapes/bro-01.png" alt=""/>
									</div>
									<h4>Dentist</h4>
									<p>124 <span>Doctors</span></p>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 aos" data-aos="fade-up">
							<div class="brower-box">
								<div>
									<div class="brower-img">
										<img src="assets/img/shapes/bro-05.png" alt=""/>
									</div>
									<h4>Heart surgery</h4>
									<p>124 <span>Doctors</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /browse speciality-->

			<!-- Doctor Section-->
			<section class="doctor-divison provider-select">
				<div class="d-flex">
					<div class="doc-background aos" data-aos="fade-up">
						<h3>ARE YOU A DOCTOR?</h3>
						<p>The service allows you to get maximum visibility online and to manage appointments and contacts coming from the site, in a simple and fast way.</p>
						<a href="booking.html" class="doc-bok-btn">Book Now</a>
					</div>
					<div class="pat-background aos" data-aos="fade-up">
						<h3>ARE YOU A PATIENT?</h3>
						<p>The service allows you to get maximum visibility online and to manage appointments and contacts coming from the site, in a simple and fast way.</p>
						<a href="booking.html" class="doc-bok-btn">Book Now</a>
					</div>
				</div>
			</section>
			<!-- /Doctor Section-->

			<!-- Book Doctors-->
			<section class="book-doctor doc-booking">
				<div class="container">					
					<div class="row heading-wrapper">
						<div class="col-md-12 aos" data-aos="fade-up">
							<h1>Book Our Best Doctor</h1>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 aos" data-aos="fade-up">
							<div class="book-slider slider">
								<div class="profile-widget">
									<a href="doctor-profile.html">
										<img src="assets/img/doctors/book-doc-05.jpg" alt="" />
									</a>
									<div class="pro-content">
										<div  class="row row-sm">	
											<div class="col-md-6">							
												<span class="amt">$20 - $50</span>
											</div>
										</div>
										<div class="provider-info">
											<h3><a href="doctor-profile.html">Dr. Marvin Paul</a></h3>
											<h5>PSICOLOGIST </h5>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">3.5</span>
											</div>
											<a href="booking.html" class="btn book-btn">Book Now</a>
										</div>
									</div>
								</div>
								<div class="profile-widget">
									<a href="doctor-profile.html">
										<img src="assets/img/doctors/book-doc-04.jpg" alt="" />
									</a>
									<div class="pro-content">
										<div  class="row row-sm">	
											<div class="col-md-6">							
												<span class="amt">$20 - $50</span>
											</div>
										</div>
										<div class="provider-info">
											<h3><a href="doctor-profile.html">Dr. Linda Tobin</a></h3>
											<h5>PSICOLOGIST </h5>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">3.5</span>
											</div>
											<a href="booking.html" class="btn book-btn">Book Now</a>
										</div>
									</div>
								</div>
								<div class="profile-widget">
									<a href="#">
										<img src="assets/img/doctors/book-doc-03.jpg" alt="" />
									</a>
									<div class="pro-content">
										<div  class="row row-sm">	
											<div class="col-md-6">							
												<span class="amt">$20 - $50</span>
											</div>
										</div>
										<div class="provider-info">
											<h3><a href="doctor-profile.html">Dr. Paul Richard</a></h3>
											<h5>PSICOLOGIST </h5>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">3.5</span>
											</div>
											<a href="booking.html" class="btn book-btn">Book Now</a>
										</div>
									</div>
								</div>
								<div class="profile-widget">
									<a href="#">
										<img src="assets/img/doctors/book-doc-01.jpg" alt="" />
									</a>
									<div class="pro-content">
										<div  class="row row-sm">	
											<div class="col-md-6">							
												<span class="amt">$20 - $50</span>
											</div>
										</div>
										<div class="provider-info">
											<h3><a href="doctor-profile.html">Dr. Ruby Perrin</a></h3>
											<h5>PSICOLOGIST </h5>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">3.5</span>
											</div>
											<a href="booking.html" class="btn book-btn">Book Now</a>
										</div>
									</div>
								</div>
								<div class="profile-widget">
									<a href="#">
										<img src="assets/img/doctors/book-doc-02.jpg" alt="" />
									</a>
									<div class="pro-content">
										<div  class="row row-sm">	
											<div class="col-md-6">							
												<span class="amt">$20 - $50</span>
											</div>
										</div>
										<div class="provider-info">
											<h3><a href="doctor-profile.html">Dr. Darren Elder</a></h3>
											<h5>PSICOLOGIST </h5>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">3.5</span>
											</div>
											<a href="booking.html" class="btn book-btn">Book Now</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Book Doctors-->

			<!-- Blog Section-->
			<section class="blogs-section blog-container">
				<div class="container">	
					<div class="row heading-wrapper">
						<div class="col-md-6 aos" data-aos="fade-up">
							<h1>Our Latest Blog</h1>
						</div>
						<div class="col-md-6 text-end aos" data-aos="fade-up">
							<a href="blog-list.html" class="nav-arrow"><i class="fas fa-arrow-right"></i></a>
						</div>
					</div>		
					<div class="row">						
						<div class="col-md-6 col-lg-3 aos" data-aos="fade-up">
							<div class="blog-wrapper">
								<div class="wrap-image">
									<a href="blog-details.html">
										<img src="assets/img/blog/blog-wrap-03.jpg" alt="" />
									</a>
								</div>
								<div class="wrap-content">
									<p class="date-cart">25 <span>Jan 2021</span></p>
									<div class="d-flex">
										<div class="post-author">
											<a href="doctor-profile.html">
												<img src="assets/img/doctors/doctor-thumb-01.jpg" alt="Post Author"> 
												<span>Ruby Perrin</span>
											</a>
										</div>
									</div>
									<div class="wrap-content-body">
										<h3><a href="blog-details.html">Doccure – Making your clinic painless visit?</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
										<span class="sp-title">Urology</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 aos" data-aos="fade-up">
							<div class="blog-wrapper">
								<div class="wrap-image">
									<a href="blog-details.html">
										<img src="assets/img/blog/blog-wrap-02.jpg" alt="" />
									</a>
								</div>
								<div class="wrap-content">
									<div class="d-flex">
										<div class="post-author">
											<a href="doctor-profile.html">
												<img src="assets/img/doctors/doctor-thumb-01.jpg" alt="Post Author"> 
												<span>Ruby Perrin</span>
											</a>
										</div>
										<p class="date-cart">25 <span>Jan 2021</span></p>
									</div>
									<div class="wrap-content-body">
										<h3><a href="blog-details.html">Doccure – Making your clinic painless visit?</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
										<span class="sp-title">Urology</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 aos" data-aos="fade-up">
							<div class="blog-wrapper">
								<div class="wrap-image">
									<a href="blog-details.html">
										<img src="assets/img/blog/blog-wrap-04.jpg" alt="" />
									</a>
								</div>
								<div class="wrap-content">
									<div class="d-flex">
										<div class="post-author">
											<a href="doctor-profile.html">
												<img src="assets/img/doctors/doctor-thumb-01.jpg" alt="Post Author"> 
												<span>Ruby Perrin</span>
											</a>
										</div>
										<p class="date-cart">25 <span>Jan 2021</span></p>
									</div>
									<div class="wrap-content-body">
										<h3><a href="blog-details.html">Doccure – Making your clinic painless visit?</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
										<span class="sp-title">Urology</span>
									</div>
								</div>
							</div>
						</div>						
						<div class="col-md-6 col-lg-3 aos" data-aos="fade-up">
							<div class="blog-wrapper">
								<div class="wrap-image">
									<a href="blog-details.html">
										<img src="assets/img/blog/blog-wrap-01.jpg" alt="" />
									</a>
								</div>
								<div class="wrap-content">
									<div class="d-flex">
										<div class="post-author">
											<a href="doctor-profile.html">
												<img src="assets/img/doctors/doctor-thumb-01.jpg" alt="Post Author"> 
												<span>Ruby Perrin</span>
											</a>
										</div>
										<p class="date-cart">25 <span>Jan 2021</span></p>
									</div>
									<div class="wrap-content-body">
										<h3><a href="blog-details.html">Doccure – Making your clinic painless visit?</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
										<span class="sp-title">Urology</span>
									</div>
								</div>
							</div>
						</div>
					</div>	
				</div>
			</section>
			<!-- /Blog Section-->

			<!-- Footer -->
			<footer class="footer footer-2 footer-five">
				
				<!-- Footer Top -->
				<div class="footer-top">
					<div class="container-fluid">
						<div class="row aos" data-aos="fade-up">
							
							<div class="col-lg-2 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title footer-title-two">Quick Links</h2>
									<ul>
										<li><a href="#">About Us</a></li>
										<li><a href="#">Our Mission</a></li>
										<li><a href="#">Our Approach</a></li>
										<li><a href="#">Our History</a></li>
										<li><a href="#">Awards And Achievements</a></li>
										<li><a href="#">Careers</a></li>
										<li><a href="#">Appointment</a></li>
										<li><a href="#">Facilities</a></li>
										<li><a href="#">Pricing Plans</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-about">
									<div class="footer-logo">
										<img src="assets/img/footer-logo.png" alt="logo">
									</div>
									<div class="footer-about-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									</div>
									<div class="footer-widget footer-contact mt-4">
										<h2 class="footer-title footer-title-two">Our Location</h2>
										<div class="footer-contact-info">
											<div class="footer-address">
												<span><i class="fas fa-map-marker-alt"></i></span>
												<p> 3556  Beech Street, San Francisco,<br> California, CA 94108 </p>
											</div>
											<p>
												<i class="fas fa-phone-alt"></i>
												+1 315 369 5943
											</p>
											<p class="mb-0">
												<i class="fas fa-envelope"></i>
												doccure@example.com
											</p>
										</div>
									</div>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title footer-title-two">Services</h2>
									<div class="row">
										<div class="col-lg-6">
											<ul>
												<li><a href="#">Cardiology</a></li>
												<li><a href="#">Diabetes</a></li>
												<li><a href="#">Plastic Surgery</a></li>
												<li><a href="#">Gastroenterology</a></li>
												<li><a href="#">Gynecology</a></li>
												<li><a href="#">Hepatology</a></li>
												<li><a href="#">Neurology</a></li>
												<li><a href="#">Radiology</a></li>
												<li><a href="#">Rhinology</a></li>
											</ul>
										</div>
										<div class="col-lg-6">
											<ul>
												<li><a href="#">Obstetrics</a></li>
												<li><a href="#">Ophthalmology</a></li>
												<li><a href="#">Oral Health</a></li>
												<li><a href="#">Orthopedics</a></li>
												<li><a href="#">Osteology</a></li>
												<li><a href="#">Otology</a></li>
												<li><a href="#">Pediatrics</a></li>
												<li><a href="#">Psychiatry</a></li>
												<li><a href="#">Pulmonology</a></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-2 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title footer-title-two">For Patients</h2>
									<ul>
										<li><a href="search.html">Search for Doctors</a></li>
										<li><a href="login.html">Login</a></li>
										<li><a href="register.html">Register</a></li>
										<li><a href="booking.html">Booking</a></li>
										<li><a href="patient-dashboard.html">Patient Dashboard</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-2 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title footer-title-two">For Doctors</h2>
									<ul>
										<li><a href="appointments.html">Appointments</a></li>
										<li><a href="chat.html">Chat</a></li>
										<li><a href="login.html">Login</a></li>
										<li><a href="doctor-register.html">Register</a></li>
										<li><a href="doctor-dashboard.html">Doctor Dashboard</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
						</div>
					</div>
				</div>
				<!-- /Footer Top -->
				
				<!-- Footer Bottom -->
                <div class="footer-bottom">
					<div class="container-fluid">
					
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								<div class="col-md-6 col-lg-6">
									<div class="copyright-text">
										<p class="mb-0">&copy; 2022 <span>Doccure</span>. All rights reserved.</p>
									</div>
								</div>
								<div class="col-md-6 col-lg-6">
								
									<!-- Copyright Menu -->
									<div class="copyright-menu">
										<ul class="policy-menu">
											<li><a href="term-condition.html">Terms and Conditions</a></li>
											<li><a href="privacy-policy.html">Policy</a></li>
										</ul>
									</div>
									<!-- /Copyright Menu -->
									
								</div>
							</div>
						</div>
						<!-- /Copyright -->
						
					</div>
				</div>
				<!-- /Footer Bottom -->
				
			</footer>
			<!-- /Footer -->
		   
	   </div>
	   <!-- /Main Wrapper -->
	  
		<!-- jQuery -->
		<script src="assets/js/jquery-3.6.0.min.js"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="assets/js/bootstrap.bundle.min.js"></script>
		
		<!-- Slick JS -->
		<script src="assets/js/slick.js"></script>

		<!-- Swiper JS -->
		<script src="assets/plugins/swiper/js/swiper.min.js"></script>

		<!-- Animation JS -->
		<script src="assets/js/aos.js"></script>
		
		<!-- Custom JS -->
		<script src="assets/js/script.js"></script>
		
	</body>
</html>