<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Doccure</title>

	<!-- Favicons -->
	<link type="image/x-icon" href="assets/img/favicon.png" rel="icon">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

	<!-- Feathericon CSS -->
    <link rel="stylesheet" href="assets/css/feather.css">

    <!-- Select2 CSS -->
	<link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">

	<!-- Owl carousel CSS -->
	<link rel="stylesheet" href="assets/css/owl.carousel.min.css">

	<!-- Animation CSS -->
	<link rel="stylesheet" href="assets/css/aos.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body class="home-four">

	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Home Banner -->
		<section class="home-four-banner">
			<!--Top Header -->
			<div class="home-four-top">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="left-top aos" data-aos="fade-up">
								<ul>
									<li><i class="feather-phone me-1"></i> +1 315 369 5943</li>
									<li><i class="feather-mail me-1"></i> doccure@example.com</li>
								</ul>
							</div>
						</div>
						<div class="col-md-6 text-end">
							<div class="right-top aos" data-aos="fade-up">
								<ul>
									<li><a href="#" target="_blank"><i class="fab fa-facebook hi-icon"></i></a></li>
									<li><a href="#" target="_blank"><i class="fab fa-linkedin hi-icon"></i></a></li>
									<li><a href="#" target="_blank"><i class="fab fa-instagram hi-icon"></i></a></li>
									<li><a href="#" target="_blank"><i class="fab fa-twitter hi-icon"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/Top Header -->
			<div class="container">

				<!-- Header -->
				<header class="header">
					<div class="nav-bg home-four-nav">
						<nav class="navbar navbar-expand-lg header-nav nav-transparent">
							<div class="navbar-header">
								<a id="mobile_btn" href="javascript:void(0);">	
									<span class="bar-icon blue-bar">
										<span></span>
										<span></span>
										<span></span>
									</span>
								</a>
								<a href="index.html" class="navbar-brand logo">
									<img src="assets/img/logo-one.png" class="img-fluid" alt="Logo">
								</a>
							</div>
							<div class="main-menu-wrapper">
								<div class="menu-header">
									<a href="index.html" class="menu-logo">
										<img src="assets/img/logo-one.png" class="img-fluid" alt="Logo">
									</a>
									<a id="menu_close" class="menu-close" href="javascript:void(0);">	<i class="fas fa-times"></i>
									</a>
								</div>
								<ul class="main-nav black-font">
									<li class="has-submenu active">	<a href="">Home <i class="fas fa-chevron-down"></i></a>
										<ul class="submenu">
											<li><a href="index.html">Home</a></li>
											<li><a href="index-two.html">Home 2</a></li>
											<li><a href="index-three.html">Home 3</a></li>
											<li><a href="index-four.html">Home 4</a></li>
											<li><a href="index-five.html">Home 5</a></li>
											<li><a href="index-six.html">Home 6</a></li>
											<li><a href="index-seven.html">Home 7</a></li>
											<li><a href="index-eight.html">Home 8</a></li>
											<li><a href="index-nine.html">Home 9</a></li>
											<li><a href="index-ten.html">Home 10</a></li>
											<li><a href="index-leven.html">Home 11</a></li>
											<li><a href="index-twelve.html">Home 12</a></li>
											<li class="active"><a href="index-thirteen.html">Home 13</a></li>
											<li><a href="index-fourteen.html">Home 14</a></li>
										<li><a href="index-fifteen.html">Home 15</a></li>
										</ul>
									</li>
									<li class="has-submenu"><a href="">Doctors <i class="fas fa-chevron-down"></i></a>
										<ul class="submenu">
											<li><a href="doctor-dashboard.html">Doctor Dashboard</a>
											</li>
											<li><a href="appointments.html">Appointments</a>
											</li>
											<li><a href="schedule-timings.html">Schedule Timing</a>
											</li>
											<li><a href="my-patients.html">Patients List</a>
											</li>
											<li><a href="patient-profile.html">Patients Profile</a>
											</li>
											<li><a href="chat-doctor.html">Chat</a>
											</li>
											<li><a href="invoices.html">Invoices</a>
											</li>
											<li><a href="doctor-profile-settings.html">Profile Settings</a>
											</li>
											<li><a href="reviews.html">Reviews</a>
											</li>
											<li><a href="doctor-register.html">Doctor Register</a>
											</li>
										</ul>
									</li>
									<li class="has-submenu"><a href="">Patients <i class="fas fa-chevron-down"></i></a>
										<ul class="submenu">
											<li class="has-submenu"><a href="#">Doctors</a>
												<ul class="submenu">
													<li><a href="map-grid.html">Map Grid</a>
													</li>
													<li><a href="map-list.html">Map List</a>
													</li>
													<li><a href="map-list-1.html">Map List 1</a>
													</li>
												</ul>
											</li>
											<li><a href="search.html">Search Doctor</a>
											</li>
											<li><a href="doctor-profile.html">Doctor Profile</a>
											</li>
											<li><a href="booking.html">Booking</a>
											</li>
											<li><a href="checkout.html">Checkout</a>
											</li>
											<li><a href="booking-success.html">Booking Success</a>
											</li>
											<li><a href="patient-dashboard.html">Patient Dashboard</a>
											</li>
											<li><a href="favourites.html">Favourites</a>
											</li>
											<li><a href="chat.html">Chat</a>
											</li>
											<li><a href="profile-settings.html">Profile Settings</a>
											</li>
											<li><a href="change-password.html">Change Password</a>
											</li>
										</ul>
									</li>
									<li class="has-submenu"><a href="">Pages <i class="fas fa-chevron-down"></i></a>
										<ul class="submenu">
											<li><a href="voice-call.html">Voice Call</a>
											</li>
											<li><a href="video-call.html">Video Call</a>
											</li>
											<li><a href="search.html">Search Doctors</a>
											</li>
											<li><a href="calendar.html">Calendar</a>
											</li>
											<li><a href="onboarding-email.html">Doctor Onboarding</a>
											</li>
											<li><a href="patient-email.html">Patient Onboarding</a>
											</li>
											<li><a href="components.html">Components</a>
											</li>
											<li class="has-submenu"><a href="invoices.html">Invoices</a>
												<ul class="submenu">
													<li><a href="invoices.html">Invoices</a>
													</li>
													<li><a href="invoice-view.html">Invoice View</a>
													</li>
												</ul>
											</li>
											<li><a href="blank-page.html">Starter Page</a></li>
		                                    <li><a href="about-us.html">About Us</a></li>
		                                    <li><a href="contact-us.html">Contact Us</a></li>
											<li><a href="login.html">Login</a></li>
											<li><a href="register.html">Register</a></li>
											<li><a href="forgot-password.html">Forgot Password</a></li>
										</ul>
									</li>
									<li class="has-submenu"><a href="">Blog <i class="fas fa-chevron-down"></i></a>
										<ul class="submenu">
											<li><a href="blog-list.html">Blog List</a>
											</li>
											<li><a href="blog-grid.html">Blog Grid</a>
											</li>
											<li><a href="blog-details.html">Blog Details</a>
											</li>
										</ul>
									</li>
									<li><a href="admin/index.html" target="_blank">Admin</a>
									</li>
									<li class="login-link">	<a href="login.html">Login / Signup</a>
									</li>
								</ul>
								<ul class="nav header-navbar-rht right-menu">
									<li class="nav-item">
										<a class="nav-link theme-btn btn-four" href="login.html">Sign In</a>
									</li>
									<li class="nav-item">
										<a class="nav-link theme-btn btn-four-light" href="register.html">Sign Up</a>
									</li>
								</ul>
							</div>
						</nav>
					</div>
				</header>
				<!-- /Header -->

				<div class="row align-items-center">
					<div class="col-lg-5 col-md-12"></div>
					<div class="col-lg-7 col-md-12">
						<div class="home-four-doctor">
							<div class="home-four-header">
                                <h2>Search Doctor, Make an <span>Appointment</span></h2>
                            </div>
                            <div class="banner-four-form">
                                <form action="#" class="banner-four-search">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" value="" placeholder="Search Location">
                                                <i class="far fa-compass"></i>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                             	<select class="select form-control">
                                                    <option>Gender</option>
                                                    <option>Male</option>
                                                    <option>Female</option>
                                                </select>
                                                <i class="far fa-smile"></i>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select class="select form-control">
                                                    <option>Department</option>
                                                    <option>Surgen</option>
                                                    <option>Cardiologist</option>
                                                    <option>Gynacologist</option>
                                                    <option>Pharmacy</option>
                                                </select>
                                                <i class="fas fa-user-check"></i>
                                            </div>
                                        </div>
                                        <div class="col-md-6"></div>
                                        <div class="col-md-6">
                                        	<div class="form-group text-end mb-0">
                                            <a href="search.html" class="btn theme-btn btn-four w-100">MAKE APPOINTMENT</a>
                                        	</div>
                                        </div>
                                    </div>
                                </form>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /Home Banner -->

		<!-- Looking Section Four -->
		<section class="looking-section-four">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-header-four text-center aos" data-aos="fade-up">
							<h2>What are you <span class="color-primary">looking</span> for?</h2>
						</div>
					</div>
				</div>
				<div class="row looking-row justify-content-center aos" data-aos="fade-up">
					<div class="col-lg-4 col-md-6 looking-col d-flex">
						<div class="looking-grid-four w-100">
							<div class="looking-box-four">
								<div class="looking-inner-box">
									<div class="looking-info-four">
										<a href="search.html">
											<i class="fas fa-user-md me-2"></i> Visit a Doctor
										</a>
										<p>We hire the best specialists to deliver top-notch diagnostic services for you diagnostic services for you.</p>
									</div>
									<div class="looking-four-btn">
										<a href="booking.html">
											Book Now <i class="fas fa-arrow-right ms-2"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 d-flex looking-col">
						<div class="looking-grid-four w-100">
							<div class="looking-box-four">
								<div class="looking-inner-box">
									<div class="looking-info-four">
										<a href="pharmacy-search.html">
											<i class="fas fa-tablets me-2"></i> Find a Pharmacy
										</a>
										<p>We provide the a wide range of medical services, so every person could have the opportunity.</p>
									</div>
									<div class="looking-four-btn">
										<a href="booking.html">
											Find Now <i class="fas fa-arrow-right ms-2"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 d-flex looking-col">
						<div class="looking-grid-four w-100">
							<div class="looking-box-four">
								<div class="looking-inner-box">
									<div class="looking-info-four">
										<a href="#">
											<i class="fas fa-vial me-2"></i> Find a Lab
										</a>
										<p>We use the first-class medical equipment for timely diagnostics of various diseases.</p>
									</div>
									<div class="looking-four-btn">
										<a href="booking.html">
											Book Now <i class="fas fa-arrow-right ms-2"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /Looking Section Four -->

		<!-- Clinic Section Four -->
		<section class="clinic-section-four">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-header-four text-center aos" data-aos="fade-up">
							<h2>Clinic & <span class="color-primary">Specialities</span></h2>
							<p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-3 col-md-6 d-flex aos" data-aos="fade-up">
						<div class="clinic-grid-four w-100">
							<div class="clinic-img">
								<img src="assets/img/clinic/clinic-11.jpg" class="img-fluid clinic-image" alt="">
								<div class="clinic-content">
									<h4>Urology</h4>
								</div>
								<div class="clinic-icon-inner">
									<div class="clinic-box-img">
										<img src="assets/img/icons/icon1.svg" class="img-fluid" alt="">
									</div>
								</div>
							</div>
							<div class="overlay">
								<div class="clinic-cricle">
									<div class="clinic-round">
										<img src="assets/img/icons/icon1.svg" class="img-fluid" alt="">
									</div>
								</div>
								<h4>Urology</h4>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 d-flex aos" data-aos="fade-up">
						<div class="clinic-grid-four w-100">
							<div class="clinic-img">
								<img src="assets/img/clinic/clinic-12.jpg" class="img-fluid clinic-image" alt="">
								<div class="clinic-content">
									<h4>Orthopedic</h4>
								</div>
								<div class="clinic-icon-inner">
									<div class="clinic-box-img">
										<img src="assets/img/icons/icon7.svg" class="img-fluid" alt="">
									</div>
								</div>
							</div>
							<div class="overlay">
								<div class="clinic-cricle">
									<div class="clinic-round">
										<img src="assets/img/icons/icon7.svg" class="img-fluid" alt="">
									</div>
								</div>
								<h4>Orthopedic</h4>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 d-flex aos" data-aos="fade-up">
						<div class="clinic-grid-four w-100">
							<div class="clinic-img">
								<img src="assets/img/clinic/clinic-13.jpg" class="img-fluid clinic-image" alt="">
								<div class="clinic-content">
									<h4>Dentist</h4>
								</div>
								<div class="clinic-icon-inner">
									<div class="clinic-box-img">
										<img src="assets/img/icons/icon4.svg" class="img-fluid" alt="">
									</div>
								</div>
							</div>
							<div class="overlay">
								<div class="clinic-cricle">
									<div class="clinic-round">
										<img src="assets/img/icons/icon4.svg" class="img-fluid" alt="">
									</div>
								</div>
								<h4>Dentist</h4>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 d-flex aos" data-aos="fade-up">
						<div class="clinic-grid-four w-100">
							<div class="clinic-img">
								<img src="assets/img/clinic/clinic-14.jpg" class="img-fluid clinic-image" alt="">
								<div class="clinic-content">
									<h4>Cardiologist</h4>
								</div>
								<div class="clinic-icon-inner">
									<div class="clinic-box-img">
										<img src="assets/img/icons/icon3.svg" class="img-fluid clinic-inner-heart" alt="">
									</div>
								</div>
							</div>
							<div class="overlay">
								<div class="clinic-cricle">
									<div class="clinic-round">
										<img src="assets/img/icons/icon3.svg" class="img-fluid clinic-heart-img" alt="">
									</div>
								</div>
								<h4>Cardiologist</h4>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 d-flex aos" data-aos="fade-up">
						<div class="clinic-grid-four w-100">
							<div class="clinic-img">
								<img src="assets/img/clinic/clinic-15.jpg" class="img-fluid clinic-image" alt="">
								<div class="clinic-content">
									<h4>MRI Scans</h4>
								</div>
								<div class="clinic-icon-inner">
									<div class="clinic-box-img">
										<img src="assets/img/icons/icon8.svg" class="img-fluid" alt="">
									</div>
								</div>
							</div>
							<div class="overlay">
								<div class="clinic-cricle">
									<div class="clinic-round">
										<img src="assets/img/icons/icon8.svg" class="img-fluid" alt="">
									</div>
								</div>
								<h4>MRI Scans</h4>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 d-flex aos" data-aos="fade-up">
						<div class="clinic-grid-four w-100">
							<div class="clinic-img">
								<img src="assets/img/clinic/clinic-16.jpg" class="img-fluid clinic-image" alt="">
								<div class="clinic-content">
									<h4>Neurology</h4>
								</div>
								<div class="clinic-icon-inner">
									<div class="clinic-box-img">
										<img src="assets/img/icons/icon1.svg" class="img-fluid" alt="">
									</div>
								</div>
							</div>
							<div class="overlay">
								<div class="clinic-cricle">
									<div class="clinic-round">
										<img src="assets/img/icons/icon1.svg" class="img-fluid" alt="">
									</div>
								</div>
								<h4>Neurology</h4>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 d-flex aos" data-aos="fade-up">
						<div class="clinic-grid-four w-100">
							<div class="clinic-img">
								<img src="assets/img/clinic/clinic-17.jpg" class="img-fluid clinic-image" alt="">
								<div class="clinic-content">
									<h4>Laboratory</h4>
								</div>
								<div class="clinic-icon-inner">
									<div class="clinic-box-img">
										<img src="assets/img/icons/icon10.svg" class="img-fluid" alt="">
									</div>
								</div>
							</div>
							<div class="overlay">
								<div class="clinic-cricle">
									<div class="clinic-round">
										<img src="assets/img/icons/icon10.svg" class="img-fluid" alt="">
									</div>
								</div>
								<h4>Laboratory</h4>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 d-flex aos" data-aos="fade-up">
						<div class="clinic-grid-four w-100">
							<div class="clinic-img">
								<img src="assets/img/clinic/clinic-18.jpg" class="img-fluid clinic-image" alt="">
								<div class="clinic-content">
									<h4>Primary Checkup</h4>
								</div>
								<div class="clinic-icon-inner">
									<div class="clinic-box-img">
										<img src="assets/img/icons/icon11.svg" class="img-fluid" alt="">
									</div>
								</div>
							</div>
							<div class="overlay">
								<div class="clinic-cricle">
									<div class="clinic-round">
										<img src="assets/img/icons/icon11.svg" class="img-fluid" alt="">
									</div>
								</div>
								<h4>Primary Checkup</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /Clinic Section Four -->

		<!-- Doctor Section Four -->
		<section class="doctor-section-four">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-header-four text-center aos" data-aos="fade-up">
							<h2 class="title-four">Book Our <span class="color-primary">Best Doctor</span></h2>
							<p class="sub-title color-grey">Access to expert physicians and surgeons, advanced technologies and top-quality surgery facilities right here.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 aos" data-aos="fade-up">
						<div class="best-doctors-slider slider">
							<div class="best-doctors-grid">
								<div class="best-doctors-img">
									<a href="doctor-profile.html">
										<img src="assets/img/doctors/book-doctor-09.jpg" alt="" class="img-fluid">
									</a>
								</div>
								<div class="best-doctors-info">
									<h3><a href="doctor-profile.html">Dr. Deborah Angel</a></h3>
									<p class="doctor-posting">MBBS, MS - General Surgery, MCh</p>
									<h5 class="doctors-amount">$20 - $50</h5>
									<div class="rating">
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star"></i>
										<span class="d-inline-block average-rating">4.9 ( 82 )</span>
									</div>
									<div class="booking-btn">
										<a href="booking.html" class="btn">
											<span>
												Book Appointment <i class="fas fa-arrow-right ms-2"></i>
											</span>
										</a>
									</div>
								</div>
							</div>
							<div class="best-doctors-grid">
								<div class="best-doctors-img">
									<a href="doctor-profile.html">
										<img src="assets/img/doctors/book-doctor-10.jpg" alt="" class="img-fluid">
									</a>
								</div>
								<div class="best-doctors-info">
									<h3><a href="doctor-profile.html">Dr. Darren Elder</a></h3>
									<p class="doctor-posting">MBBS, MD - General Medicine, DNB</p>
									<h5 class="doctors-amount">$30 - $70</h5>
									<div class="rating">
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star"></i>
										<span class="d-inline-block average-rating">4.9 ( 82 )</span>
									</div>
									<div class="booking-btn">
										<a href="booking.html" class="btn">
											<span>
												Book Appointment <i class="fas fa-arrow-right ms-2"></i>
											</span>
										</a>
									</div>
								</div>
							</div>
							<div class="best-doctors-grid">
								<div class="best-doctors-img">
									<a href="doctor-profile.html">
										<img src="assets/img/doctors/book-doctor-11.jpg" alt="" class="img-fluid">
									</a>
								</div>
								<div class="best-doctors-info">
									<h3><a href="doctor-profile.html">Dr. Sofia Brient</a></h3>
									<p class="doctor-posting">MBBS, MD - General Medicine, DNB</p>
									<h5 class="doctors-amount">$40 - $80</h5>
									<div class="rating">
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star"></i>
										<span class="d-inline-block average-rating">4.9 ( 82 )</span>
									</div>
									<div class="booking-btn">
										<a href="booking.html" class="btn">
											<span>
												Book Appointment <i class="fas fa-arrow-right ms-2"></i>
											</span>
										</a>
									</div>
								</div>
							</div>
							<div class="best-doctors-grid">
								<div class="best-doctors-img">
									<a href="doctor-profile.html">
										<img src="assets/img/doctors/book-doctor-12.jpg" alt="" class="img-fluid">
									</a>
								</div>
								<div class="best-doctors-info">
									<h3><a href="doctor-profile.html">Dr. Ruby Perrin</a></h3>
									<p class="doctor-posting">MBBS, MS - General Surgery, MCh</p>
									<h5 class="doctors-amount">$50 - $90</h5>
									<div class="rating">
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star"></i>
										<span class="d-inline-block average-rating">4.9 ( 82 )</span>
									</div>
									<div class="booking-btn">
										<a href="booking.html" class="btn">
											<span>
												Book Appointment <i class="fas fa-arrow-right ms-2"></i>
											</span>
										</a>
									</div>
								</div>
							</div>
							<div class="best-doctors-grid">
								<div class="best-doctors-img">
									<a href="doctor-profile.html">
										<img src="assets/img/doctors/book-doctor-11.jpg" alt="" class="img-fluid">
									</a>
								</div>
								<div class="best-doctors-info">
									<h3><a href="doctor-profile.html">Dr. Sofia Brient</a></h3>
									<p class="doctor-posting">MBBS, MD - General Medicine, DNB</p>
									<h5 class="doctors-amount">$40 - $80</h5>
									<div class="rating">
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star"></i>
										<span class="d-inline-block average-rating">4.9 ( 82 )</span>
									</div>
									<div class="booking-btn">
										<a href="booking.html" class="btn">
											<span>
												Book Appointment <i class="fas fa-arrow-right ms-2"></i>
											</span>
										</a>
									</div>
								</div>
							</div>
							<div class="best-doctors-grid">
								<div class="best-doctors-img">
									<a href="doctor-profile.html">
										<img src="assets/img/doctors/book-doctor-12.jpg" alt="" class="img-fluid">
									</a>
								</div>
								<div class="best-doctors-info">
									<h3><a href="doctor-profile.html">Dr. Ruby Perrin</a></h3>
									<p class="doctor-posting">MBBS, MS - General Surgery, MCh</p>
									<h5 class="doctors-amount">$50 - $90</h5>
									<div class="rating">
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star"></i>
										<span class="d-inline-block average-rating">4.9 ( 82 )</span>
									</div>
									<div class="booking-btn">
										<a href="booking.html" class="btn">
											<span>
												Book Appointment <i class="fas fa-arrow-right ms-2"></i>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /Doctor Section Four -->

		<!-- Features Clinic Four -->
		<section class="features-clinic-four">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="section-header-four text-center aos" data-aos="fade-up">
							<h2 class="title-four">Available Features <span class="color-primary">in Our Clinic</span></h2>
							<p class="sub-title color-grey">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-12">
						<div class="clinic-big-img aos" data-aos="fade-up">
							<img src="assets/img/clinic/clinic-big-img.png" alt="" class="img-fluid">
						</div>
					</div>
					<div class="col-lg-6 col-md-12">
						<div class="owl-carousel features-clinic-slider-four owl-theme aos" data-aos="fade-up">
							<div class="item ">
								<div class="features-clinic-grid">
									<div class="features-clinic-img">
										<img src="assets/img/clinic/features-clinic-01.jpg" alt="" class="img-fluid">
									</div>
									<div class="feature-clinic-overlay">
										<p>Medical</p>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="features-clinic-grid">
									<div class="features-clinic-img">
										<img src="assets/img/clinic/features-clinic-02.jpg" alt="" class="img-fluid">
									</div>
									<div class="feature-clinic-overlay">
										<p>Patient Ward</p>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="features-clinic-grid">
									<div class="features-clinic-img">
										<img src="assets/img/clinic/features-clinic-03.jpg" alt="" class="img-fluid">
									</div>
									<div class="feature-clinic-overlay">
										<p>Operation</p>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="features-clinic-grid">
									<div class="features-clinic-img">
										<img src="assets/img/clinic/features-clinic-04.jpg" alt="" class="img-fluid">
									</div>
									<div class="feature-clinic-overlay">
										<p>Laboratory</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 d-flex justify-content-between align-items-center">
								<div class="owl-nav slide-nav-8 nav-control"></div>
								<div class="float-end">
									<div class="text-end">
										<a href="#" class="btn btn-one">View More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /Features Clinic Four -->

		<!-- Blog Section Four -->
		<section class="blog-section-four">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-header-four text-center aos" data-aos="fade-up">
							<h2 class="title-four">Our Latest <span class="color-primary">Blogs</span></h2>
							<p class="sub-title color-grey">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-4 col-md-6 d-flex aos" data-aos="fade-up">
						<div class="grid-blog-four w-100">
							<div class="grid-blog-image">
								<a href="blog-details.html">
									<img class="img-fluid" src="assets/img/blog/blog-01.jpg" alt="News Image">
								</a>
								<div class="blog-title-four">
									<a href="blog-details.html" class="btn">Health</a>
								</div>
								<div class="blog-date-four">
									<a href="#">
										<i class="feather-calendar me-2"></i>
										<span>4 Jan 2022</span>
									</a>
								</div>
							</div>
							<div class="blog-info-four">
								<a href="blog-details.html">How to handle patient body in MRI</a>
							</div>
							<div class="blog-doctors-four">
								<div class="d-flex justify-content-between align-items-center">
									<div>
										<a href="doctor-profile.html">
											<img src="assets/img/doctors/doctor-thumb-01.jpg" alt="" class="me-2"><span>Dr. Ruby Perrin</span>
										</a>
									</div>
									<div>
										<p>Urology</p>
									</div>
								</div>
							</div>
							<div class="blog-four-content">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
							<div class="blog-four-arrow">
								<a href="blog-details.html">
									<i class="fas fa-arrow-right"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 d-flex aos" data-aos="fade-up">
						<div class="grid-blog-four w-100">
							<div class="grid-blog-image">
								<a href="blog-details.html">
									<img class="img-fluid" src="assets/img/blog/blog-02.jpg" alt="News Image">
								</a>
								<div class="blog-title-four">
									<a href="blog-details.html" class="btn">General</a>
								</div>
								<div class="blog-date-four">
									<a href="#">
										<i class="feather-calendar me-2"></i>
										<span>13 Feb 2022</span>
									</a>
								</div>
							</div>
							<div class="blog-info-four">
								<a href="blog-details.html">Doccure – Making your clinic painless visit?</a>
							</div>
							<div class="blog-doctors-four">
								<div class="d-flex justify-content-between align-items-center">
									<div>
										<a href="doctor-profile.html">
											<img src="assets/img/doctors/doctor-thumb-02.jpg" alt="" class="me-2"><span>Dr. Darren Elder</span>
										</a>
									</div>
									<div>
										<p>Surgery</p>
									</div>
								</div>
							</div>
							<div class="blog-four-content">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
							<div class="blog-four-arrow">
								<a href="blog-details.html">
									<i class="fas fa-arrow-right"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 d-flex aos" data-aos="fade-up">
						<div class="grid-blog-four w-100">
							<div class="grid-blog-image">
								<a href="blog-details.html">
									<img class="img-fluid" src="assets/img/blog/blog-04.jpg" alt="News Image">
								</a>
								<div class="blog-title-four">
									<a href="blog-details.html" class="btn">Neurology</a>
								</div>
								<div class="blog-date-four">
									<a href="#">
										<i class="feather-calendar me-2"></i>
										<span>26 Mar 2022</span>
									</a>
								</div>
							</div>
							<div class="blog-info-four">
								<a href="blog-details.html">Benefits of consulting with an Online Doctor</a>
							</div>
							<div class="blog-doctors-four">
								<div class="d-flex justify-content-between align-items-center">
									<div>
										<a href="doctor-profile.html">
											<img src="assets/img/doctors/doctor-thumb-03.jpg" alt="" class="me-2">	<span>Dr. Angel</span>
										</a>
									</div>
									<div>
										<p>Cardiology</p>
									</div>
								</div>
							</div>
							<div class="blog-four-content">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
							<div class="blog-four-arrow">
								<a href="blog-details.html">
									<i class="fas fa-arrow-right"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="text-center">
					<a href="blog-details.html" class="btn btn-one">View More</a>
				</div>
			</div>
		</section>
		<!-- /Blog Section Four -->

		<!-- Footer Four -->
		<footer class="footer footer-four">
			<div class="news-section-four">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<div class="news-info">
								<h2>Subscribe to our Newsletter</h2>
								<p>Subscribe today for our exclusive offers, latest news and updates about health care programs.</p>
							</div>
							<div class="footer-news-four">
								<form>
									<div class="form-group mb-0">
										<input type="text" class="form-control" placeholder="Enter Your Email Address">
										<button type="submit" class="btn btn-one">Subscribe</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Footer Top -->
			<div class="footer-top aos" data-aos="fade-up">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6">
							<!-- Footer Widget -->
							<div class="footer-widget footer-contact">
								<h2 class="footer-title">Contact Us</h2>
								<div class="footer-contact-info">
									<div class="footer-address"><span><i class="feather-map-pin"></i></span>
										<p>3556 Beech Street, San Francisco,
											<br>California, CA <br>94108</p>
									</div>
									<p><i class="feather-phone"></i>
										+1 315 369 5943</p>
									<p class="mb-0"><i class="feather-mail"></i>
										doccure@example.com</p>
								</div>
							</div>
							<!-- /Footer Widget -->
						</div>
						<div class="col-lg-3 col-md-6">
							<!-- Footer Widget -->
							<div class="footer-widget footer-menu">
								<h2 class="footer-title">For Patients</h2>
								<ul>
									<li><a href="search.html">Search for Doctors</a>
									</li>
									<li><a href="login.html">Login</a>
									</li>
									<li><a href="register.html">Register</a>
									</li>
									<li><a href="booking.html">Booking</a>
									</li>
									<li><a href="patient-dashboard.html">Patient Dashboard</a>
									</li>
								</ul>
							</div>
							<!-- /Footer Widget -->
						</div>
						<div class="col-lg-3 col-md-6">
							<!-- Footer Widget -->
							<div class="footer-widget footer-menu">
								<h2 class="footer-title">For Doctors</h2>
								<ul>
									<li><a href="appointments.html">Appointments</a>
									</li>
									<li><a href="chat.html">Chat</a>
									</li>
									<li><a href="login.html">Login</a>
									</li>
									<li><a href="doctor-register.html">Register</a>
									</li>
									<li><a href="doctor-dashboard.html">Doctor Dashboard</a>
									</li>
								</ul>
							</div>
							<!-- /Footer Widget -->
						</div>
						<div class="col-lg-3 col-md-6">
							<!-- Footer Widget -->
							<div class="footer-widget footer-menu">
								<h2 class="footer-title">Social Network</h2>
								<ul>
									<li><a href="#" target="_blank"><i class="fab fa-facebook me-2"></i> Facebook</a>
									</li>
									<li><a href="#" target="_blank"><i class="fab fa-twitter me-2"></i> Twitter</a>
									</li>
									<li><a href="#" target="_blank"><i class="fab fa-linkedin me-2"></i> Linkedin</a>
									</li>
									<li><a href="#" target="_blank"><i class="fab fa-instagram me-2"></i> Instagram</a>
									</li>
								</ul>
							</div>
							<!-- /Footer Widget -->
						</div>
					</div>
				</div>
			</div>
			<!-- /Footer Top -->

			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="container">
					<!-- Copyright -->
					<div class="copyright">
						<div class="row">
							<div class="col-md-6 col-lg-6">
								<div class="copyright-text">
									<p class="mb-0">&copy; 2022 Doccure. All rights reserved.</p>
								</div>
							</div>
							<div class="col-md-6 col-lg-6">
								<!-- Copyright Menu -->
								<div class="copyright-menu">
									<ul class="policy-menu">
										<li><a href="term-condition.html">Terms and Conditions</a>
										</li>
										<li><a href="privacy-policy.html">Policy</a>
										</li>
									</ul>
								</div>
								<!-- /Copyright Menu -->
							</div>
						</div>
					</div>
					<!-- /Copyright -->
				</div>
			</div>
			<!-- /Footer Bottom -->
		</footer>
		<!-- /Footer One-->

	</div>
	<!-- /Main Wrapper -->

	<!-- jQuery -->
	<script src="assets/js/jquery-3.6.0.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="assets/js/bootstrap.bundle.min.js"></script>

	<!-- Owl Carousel JS -->
	<script src="assets/js/owl.carousel.min.js"></script>

	<!-- Feather Icon JS -->
	<script src="assets/js/feather.min.js"></script>

	<!-- Select2 JS -->
	<script src="assets/plugins/select2/js/select2.min.js"></script>

	<!-- Slick JS -->
	<script src="assets/js/slick.js"></script>

	<!-- Animation JS -->
	<script src="assets/js/aos.js"></script>

	<!-- Custom JS -->
	<script src="assets/js/script.js"></script>

</body>
</html>