<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Doccure</title>

	<!-- Favicons -->
	<link type="image/x-icon" href="assets/img/favicon.png" rel="icon">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

	<!-- Feathericon CSS -->
    <link rel="stylesheet" href="assets/css/feather.css">

	<!-- Select2 CSS -->
	<link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">

	<!-- Animation CSS -->
	<link rel="stylesheet" href="assets/css/aos.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Home Banner -->
		<div class="home-one-banner">
			<div class="bg-shapes">
				<img src="assets/img/shapes/shape-10.png" class="shape-01 aos" alt="img" data-aos="fade-right">
				<img src="assets/img/shapes/shape-7.png" class="shape-03 aos" alt="img" data-aos="zoom-out">
				<img src="assets/img/shapes/shape-8.png" class="shape-04 aos" alt="img" data-aos="fade-left">
				<img src="assets/img/shapes/shape-6.png" class="shape-02 aos" alt="img" data-aos="fade-down">
			</div>
			<div class="container">

				<!-- Header -->
				<header class="header">
					<div class="nav-bg">
						<nav class="navbar navbar-expand-lg header-nav nav-transparent header-nav-one">
							<div class="navbar-header">
								<a id="mobile_btn" href="javascript:void(0);">	
									<span class="bar-icon blue-bar">
										<span></span>
										<span></span>
										<span></span>
									</span>
								</a>
								<a href="index.html" class="navbar-brand logo">
									<img src="assets/img/logo-one.png" class="img-fluid" alt="Logo">
								</a>
							</div>
							<div class="main-menu-wrapper">
								<div class="menu-header">
									<a href="index.html" class="menu-logo">
										<img src="assets/img/logo-one.png" class="img-fluid" alt="Logo">
									</a>
									<a id="menu_close" class="menu-close" href="javascript:void(0);">	<i class="fas fa-times"></i>
									</a>
								</div>
								<ul class="main-nav black-font">
									<li class="has-submenu active">	<a href="">Home <i class="fas fa-chevron-down"></i></a>
										<ul class="submenu">
											<li><a href="index.html">Home</a></li>
											<li><a href="index-two.html">Home 2</a></li>
											<li><a href="index-three.html">Home 3</a></li>
											<li><a href="index-four.html">Home 4</a></li>
											<li><a href="index-five.html">Home 5</a></li>
											<li><a href="index-six.html">Home 6</a></li>
											<li><a href="index-seven.html">Home 7</a></li>
											<li><a href="index-eight.html">Home 8</a></li>
											<li><a href="index-nine.html">Home 9</a></li>
											<li class="active"><a href="index-ten.html">Home 10</a></li>
											<li><a href="index-leven.html">Home 11</a></li>
											<li><a href="index-twelve.html">Home 12</a></li>
											<li><a href="index-thirteen.html">Home 13</a></li>
											<li><a href="index-fourteen.html">Home 14</a></li>
										<li><a href="index-fifteen.html">Home 15</a></li>
										</ul>
									</li>
									<li class="has-submenu"><a href="">Doctors <i class="fas fa-chevron-down"></i></a>
										<ul class="submenu">
											<li><a href="doctor-dashboard.html">Doctor Dashboard</a>
											</li>
											<li><a href="appointments.html">Appointments</a>
											</li>
											<li><a href="schedule-timings.html">Schedule Timing</a>
											</li>
											<li><a href="my-patients.html">Patients List</a>
											</li>
											<li><a href="patient-profile.html">Patients Profile</a>
											</li>
											<li><a href="chat-doctor.html">Chat</a>
											</li>
											<li><a href="invoices.html">Invoices</a>
											</li>
											<li><a href="doctor-profile-settings.html">Profile Settings</a>
											</li>
											<li><a href="reviews.html">Reviews</a>
											</li>
											<li><a href="doctor-register.html">Doctor Register</a>
											</li>
										</ul>
									</li>
									<li class="has-submenu"><a href="">Patients <i class="fas fa-chevron-down"></i></a>
										<ul class="submenu">
											<li class="has-submenu"><a href="#">Doctors</a>
												<ul class="submenu">
													<li><a href="map-grid.html">Map Grid</a>
													</li>
													<li><a href="map-list.html">Map List</a>
													</li>
													<li><a href="map-list-1.html">Map List 1</a>
													</li>
												</ul>
											</li>
											<li><a href="search.html">Search Doctor</a>
											</li>
											<li><a href="doctor-profile.html">Doctor Profile</a>
											</li>
											<li><a href="booking.html">Booking</a>
											</li>
											<li><a href="checkout.html">Checkout</a>
											</li>
											<li><a href="booking-success.html">Booking Success</a>
											</li>
											<li><a href="patient-dashboard.html">Patient Dashboard</a>
											</li>
											<li><a href="favourites.html">Favourites</a>
											</li>
											<li><a href="chat.html">Chat</a>
											</li>
											<li><a href="profile-settings.html">Profile Settings</a>
											</li>
											<li><a href="change-password.html">Change Password</a>
											</li>
										</ul>
									</li>
									<li class="has-submenu"><a href="">Pages <i class="fas fa-chevron-down"></i></a>
										<ul class="submenu">
											<li><a href="voice-call.html">Voice Call</a>
											</li>
											<li><a href="video-call.html">Video Call</a>
											</li>
											<li><a href="search.html">Search Doctors</a>
											</li>
											<li><a href="calendar.html">Calendar</a>
											</li>
											<li><a href="onboarding-email.html">Doctor Onboarding</a>
											</li>
											<li><a href="patient-email.html">Patient Onboarding</a>
											</li>
											<li><a href="components.html">Components</a>
											</li>
											<li class="has-submenu"><a href="invoices.html">Invoices</a>
												<ul class="submenu">
													<li><a href="invoices.html">Invoices</a>
													</li>
													<li><a href="invoice-view.html">Invoice View</a>
													</li>
												</ul>
											</li>
											<li><a href="blank-page.html">Starter Page</a></li>
		                                    <li><a href="about-us.html">About Us</a></li>
		                                    <li><a href="contact-us.html">Contact Us</a></li>
											<li><a href="login.html">Login</a>
											</li>
											<li><a href="register.html">Register</a>
											</li>
											<li><a href="forgot-password.html">Forgot Password</a>
											</li>
										</ul>
									</li>
									<li class="has-submenu"><a href="">Blog <i class="fas fa-chevron-down"></i></a>
										<ul class="submenu">
											<li><a href="blog-list.html">Blog List</a>
											</li>
											<li><a href="blog-grid.html">Blog Grid</a>
											</li>
											<li><a href="blog-details.html">Blog Details</a>
											</li>
										</ul>
									</li>
									<li><a href="admin/index.html" target="_blank">Admin</a>
									</li>
									<li class="login-link">	<a href="login.html">Login / Signup</a>
									</li>
								</ul>
								<ul class="nav header-navbar-rht right-menu">
									<li class="nav-item">
										<a class="nav-link login-blue-bg" href="login.html">Sign In</a>
									</li>
									<li class="nav-item">
										<a class="nav-link signup-white-bg" href="register.html">Sign Up</a>
									</li>
								</ul>
							</div>
						</nav>
					</div>
				</header>
				<!-- /Header -->

				<div class="row">
					<div class="col-lg-6 col-md-12 banner-left aos" data-aos="fade-up">
						<a class="smooth-menu" href="#appointments">
							<div class="scroll-down">
								<div class="scroll-text">
									<p>scroll down</p>
								</div>
								<div class="scroll-center">
									<div class="scroll-mouse">
										<div class="scroll-wheel"></div>
									</div>
									<div>
										<span class="scroll-arrow-one"></span>
									</div>
									<div>
										<span class="scroll-arrow-two"></span>
									</div>
								</div>
							</div>
						</a>
						<div class="banner-info">
							<h2>Search Doctor,</h2>
							<h2><span>Make an Appointment</span></h2>
						</div>
						<div class="banner-details">
							<h4><img src="assets/img/banner-check.png" class="me-2" alt="" > Instant Operation & Appointment</h4>
							<h4><img src="assets/img/banner-check.png" class="me-2" alt="" > 100% Expert Doctors</h4>
							<p>Discover the best doctors, clinic & hospital the city nearest to you.</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-12 aos" data-aos="fade-up">
						<img src="assets/img/banner-img.png" class="img-fluid dr-img" alt="">
					</div>
				</div>
			</div>
		</div>
		<!-- /Home Banner -->

		<!-- Appoinment -->
		<section class="appoinment-section" id="appointments">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="appoinment-wrapper">
							<div class="appoinment-box aos" data-aos="fade-up">
								<form action="search.html">
									<div class="row">
										<div class="col-lg-6 col-md-12">
											<div class="form-group appoinment-location">
												<i class="feather-search"></i> <input type="text" class="form-control" placeholder="Search Doctors, Clinics, Etc ...">
											</div>
										</div>
										<div class="col-lg-6 col-md-12">
											<div class="appoinment-right">
												<div class="form-group appoinment-location">
													<i class="feather-map-pin"></i> <input type="text" class="form-control" placeholder="Search location">
												</div>
												<div class="form-group">
													<button type="submit" class="btn appoinment-btn">
														<i class="feather-search"></i>
													</button>
													<button type="submit" class="btn appoinment-search-btn">
														<i class="feather-sliders me-2"></i> Advanced Search
													</button>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="appointment-bg">
				<div class="custom-contain">
					<div class="row">
						<div class="col-xl-5 col-lg-4 col-md-12 aos" data-aos="fade-up">
							<div class="appointment-left">
								<img src="assets/img/appoinment-img.png" class="img-fluid" alt="">
							</div>
						</div>
						<div class="col-xl-7 col-lg-8 col-md-12">
							<div class="row justify-content-center">
								<div class="col-lg-4 col-md-6 d-flex aos" data-aos="fade-up">
									<div class="appointment-grid w-100">
										<div class="appointment-icon icon-primary">
											<i class="fas fa-bed"></i>
										</div>
										<div class="appointment-info">
											<a href="search.html" class="appointment-link">Visit a Doctor</a>
											<p>We hire the best specialists to deliver top-notch diagnostic services for you.</p>
											<a href="search.html" class="btn appointment-read-btn">Read More <i class="fas fa-arrow-right ms-2"></i></a>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 d-flex aos" data-aos="fade-up">
									<div class="appointment-grid w-100">
										<div class="appointment-icon icon-green">
											<i class="fas fa-tablets"></i>
										</div>
										<div class="appointment-info">
											<a href="pharmacy-search.html" class="appointment-link">Find a Pharmacy</a>
											<p>We provide the a wide range of medical services, so every person could have the opportunity.</p>
											<a href="pharmacy-search.html" class="btn appointment-read-btn">Read More <i class="fas fa-arrow-right ms-2"></i></a>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 d-flex aos" data-aos="fade-up">
									<div class="appointment-grid w-100">
										<div class="appointment-icon icon-red">
											<i class="fas fa-vial"></i>
										</div>
										<div class="appointment-info">
											<a href="#" class="appointment-link">Find a Lab</a>
											<p>We use the first-class medical equipment for timely diagnostics of various diseases.</p>
											<a href="#" class="btn appointment-read-btn">Coming Soon <i class="fas fa-arrow-right ms-2"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-4 col-md-4 d-flex aos" data-aos="fade-up">
									<div class="appointment-schedule w-100">
										<h2 class="schedule-title">Schedule</h2>
										<ul>
											<li><span>Monday – Friday</span> 8.00 – 13.00</li>
											<li><span>Saturday</span> 8.00 – 15.00</li>
											<li><span>Sunday</span> 8.00 – 18.00</li>
										</ul>
									</div>
								</div>
								<div class="col-lg-8 col-md-8 d-flex aos" data-aos="fade-up">
									<div class="appointment-request w-100">
										<h2 class="schedule-title text-white">REQUEST AN APPOINTMENT</h2>
										<div class="d-flex align-items-center">
											<div class="appointment-img-holder">
												<img src="assets/img/phone-call.png" alt="">
											</div>
											<div class="appointment-info-holder">
												<p>Call us on</p>
												<h2>+1 (208) 567 0707</h2>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /Appoinment -->

		<!-- Service Section -->
		<section class="service-section">
			<div class="container aos" data-aos="fade-up">
				<div class="section-header text-center aos" data-aos="fade-up">
					<h2 class="color-primary">High Quality Service for you</h2>
					<p class="sub-title color-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
						<div class="service-grid">
							<div class="effect-oscar">
								<img src="assets/img/services/services-01.jpg" class="img-fluid services-img" alt="">
								<div class="services-caption">
									<div class="services-inner">
										<div class="service-grid-icon">
											<img src="assets/img/icons/icon6.svg" class="img-fluid" alt="">
										</div>
										<p>Orthopedic</p>
										<a href="doctor-profile.html" class="service-link">
											<i class="fas fa-arrow-right"></i>
										</a>
									</div>
								</div>			
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
						<div class="service-grid">
							<div class="effect-oscar">
								<img src="assets/img/services/services-02.jpg" class="img-fluid services-img" alt="">
								<div class="services-caption">
									<div class="services-inner">
										<div class="service-grid-icon">
											<img src="assets/img/icons/icon3.svg" class="img-fluid" alt="">
										</div>
										<p>Cardiologist</p>
										<a href="doctor-profile.html" class="service-link">
											<i class="fas fa-arrow-right"></i>
										</a>
									</div>
								</div>			
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
						<div class="service-grid">
							<div class="effect-oscar">
								<img src="assets/img/services/services-03.jpg" class="img-fluid services-img" alt="">
								<div class="services-caption">
									<div class="services-inner">
										<div class="service-grid-icon">
											<img src="assets/img/icons/icon4.svg" class="img-fluid" alt="">
										</div>
										<p>Dentist</p>
										<a href="doctor-profile.html" class="service-link">
											<i class="fas fa-arrow-right"></i>
										</a>
									</div>
								</div>			
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
						<div class="service-grid">
							<div class="effect-oscar">
								<img src="assets/img/services/services-04.jpg" class="img-fluid services-img" alt="">
								<div class="services-caption">
									<div class="services-inner">
										<div class="service-grid-icon">
											<img src="assets/img/icons/icon2.svg" class="img-fluid" alt="">
										</div>
										<p>Neurology</p>
										<a href="doctor-profile.html" class="service-link">
											<i class="fas fa-arrow-right"></i>
										</a>
									</div>
								</div>			
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /Service Section -->

		<!-- Doctor Section -->
		<section class="doctor-section">
			<div class="doctor-right-img aos" data-aos="fade-up">
				<img src="assets/img/doctors/doctor-img.jpg" class="img-fluid" alt="">
			</div>
			<div class="container">
				<div class="section-header text-center aos" data-aos="fade-up">
					<h2 class="color-primary">Book Our Doctor</h2>
					<p class="sub-title color-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
				<div class="row">
					<div class="col-md-12 aos" data-aos="fade-up">
						<div class="doctor-book-slider slider">
							<div class="doctor-profile-widget">
								<a href="doctor-profile.html">
									<img src="assets/img/doctors/book-doctor-01.jpg" class="img-fluid book-doctor" alt="">
								</a>
								<div class="pro-content">
									<div class="provider-info">
										<div class="pro-icon">
											<img src="assets/img/icons/icon2.svg" class="img-fluid" alt="">
										</div>
										<h3 class="mb-1">
											<a href="doctor-profile.html" tabindex="0">Edward Willey 
												<img src="assets/img/doctor-check.png" alt="">
											</a>
										</h3>
										<p>Neurologist Specialist</p>
										<div>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">4.9 ( 82 )</span>
											</div>
										</div>
										<div class="content-info">
											<div class="social-info">
												<a href="" target="_blank"><i class="fab fa-facebook hi-icon"></i></a>
												<a href="" target="_blank"><i class="fab fa-linkedin hi-icon"></i></a>
												<a href="" target="_blank"><i class="fab fa-instagram hi-icon"></i></a>
												<a href="" target="_blank"><i class="fab fa-twitter hi-icon"></i></a>
											</div>
											<div class="booking-btn">
												<a href="booking.html" class="btn book-btn">
													Book Appointment
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="doctor-profile-widget">
								<a href="doctor-profile.html">
									<img src="assets/img/doctors/book-doctor-02.jpg" class="img-fluid book-doctor" alt="">
								</a>
								<div class="pro-content">
									<div class="provider-info">
										<div class="pro-icon">
											<img src="assets/img/icons/icon3.svg" class="img-fluid" alt="">
										</div>
										<h3 class="mb-1">
											<a href="doctor-profile.html" tabindex="0">Deborah Angel 
												<img src="assets/img/doctor-check.png" alt="">
											</a>
										</h3>
										<p>Cardiology Specialist</p>
										<div>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">4.9 ( 82 )</span>
											</div>
										</div>
										<div class="content-info">
											<div class="social-info">
												<a href="" target="_blank"><i class="fab fa-facebook hi-icon"></i></a>
												<a href="" target="_blank"><i class="fab fa-linkedin hi-icon"></i></a>
												<a href="" target="_blank"><i class="fab fa-instagram hi-icon"></i></a>
												<a href="" target="_blank"><i class="fab fa-twitter hi-icon"></i></a>
											</div>
											<div class="booking-btn">
												<a href="booking.html" class="btn book-btn">
													Book Appointment
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="doctor-profile-widget">
								<a href="doctor-profile.html">
									<img src="assets/img/doctors/book-doctor-03.jpg" class="img-fluid book-doctor" alt="">
								</a>
								<div class="pro-content">
									<div class="provider-info">
										<div class="pro-icon">
											<img src="assets/img/icons/icon1.svg" class="img-fluid" alt="">
										</div>
										<h3 class="mb-1">
											<a href="doctor-profile.html" tabindex="0">Merry Anderson 
												<img src="assets/img/doctor-check.png" alt="">
											</a>
										</h3>
										<p>Gastrologic Specialist</p>
										<div>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">4.9 ( 82 )</span>
											</div>
										</div>
										<div class="content-info">
											<div class="social-info">
												<a href="" target="_blank"><i class="fab fa-facebook hi-icon"></i></a>
												<a href="" target="_blank"><i class="fab fa-linkedin hi-icon"></i></a>
												<a href="" target="_blank"><i class="fab fa-instagram hi-icon"></i></a>
												<a href="" target="_blank"><i class="fab fa-twitter hi-icon"></i></a>
											</div>
											<div class="booking-btn">
												<a href="booking.html" class="btn book-btn">
													Book Appointment
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="doctor-profile-widget">
								<a href="doctor-profile.html">
									<img src="assets/img/doctors/book-doctor-04.jpg" class="img-fluid book-doctor" alt="">
								</a>
								<div class="pro-content">
									<div class="provider-info">
										<div class="pro-icon">
											<img src="assets/img/icons/icon4.svg" class="img-fluid" alt="">
										</div>
										<h3 class="mb-1">
											<a href="doctor-profile.html" tabindex="0">David Blackwell
												<img src="assets/img/doctor-check.png" alt="">
											</a>
										</h3>
										<p>Dental Specialist</p>
										<div>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">4.9 ( 82 )</span>
											</div>
										</div>
										<div class="content-info">
											<div class="social-info">
												<a href="" target="_blank"><i class="fab fa-facebook hi-icon"></i></a>
												<a href="" target="_blank"><i class="fab fa-linkedin hi-icon"></i></a>
												<a href="" target="_blank"><i class="fab fa-instagram hi-icon"></i></a>
												<a href="" target="_blank"><i class="fab fa-twitter hi-icon"></i></a>
											</div>
											<div class="booking-btn">
												<a href="booking.html" class="btn book-btn">
													Book Appointment
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="doctor-profile-widget">
								<a href="doctor-profile.html">
									<img src="assets/img/doctors/book-doctor-01.jpg" class="img-fluid book-doctor" alt="">
								</a>
								<div class="pro-content">
									<div class="provider-info">
										<div class="pro-icon">
											<img src="assets/img/icons/icon2.svg" class="img-fluid" alt="">
										</div>
										<h3 class="mb-1">
											<a href="doctor-profile.html" tabindex="0">Edward Willey 
												<img src="assets/img/doctor-check.png" alt="">
											</a>
										</h3>
										<p>Dermatologist</p>
										<div>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">4.9 ( 82 )</span>
											</div>
										</div>
										<div class="content-info">
											<div class="social-info">
												<a href="" target="_blank"><i class="fab fa-facebook hi-icon"></i></a>
												<a href="" target="_blank"><i class="fab fa-linkedin hi-icon"></i></a>
												<a href="" target="_blank"><i class="fab fa-instagram hi-icon"></i></a>
												<a href="" target="_blank"><i class="fab fa-twitter hi-icon"></i></a>
											</div>
											<div class="booking-btn">
												<a href="booking.html" class="btn book-btn">
													Book Appointment
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-end">
						<div class="slick-view-btn me-2">
							<a href="doctor-profile.html" class="btn">View More <i class="fas fa-arrow-right ms-2"></i></a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /Doctor Section -->

		<!-- Features Section -->
		<section class="features-section">
			<div class="container">
				<div class="section-header text-center aos" data-aos="fade-up">
					<h2 class="color-primary">Availabe Features in Our Clinic</h2>
					<p class="sub-title color-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
				<div class="row">
					<div class="col-md-12 aos" data-aos="fade-up">
						<div class="features-section-slider slider">
							<div class="features-grid hvr-bounce-to-bottom">
								<div class="features-cricle">
									<div class="features-round">
										<img src="assets/img/services/features-01.svg" class="img-fluid" alt="">
									</div>
								</div>
								<h4>Operation</h4>
							</div>
							<div class="features-grid hvr-bounce-to-bottom">
								<div class="features-cricle">
									<div class="features-round">
										<img src="assets/img/services/features-02.svg" class="img-fluid" alt="">
									</div>
								</div>
								<h4>Medical</h4>
							</div>
							<div class="features-grid hvr-bounce-to-bottom">
								<div class="features-cricle">
									<div class="features-round">
										<img src="assets/img/services/features-03.svg" class="img-fluid" alt="">
									</div>
								</div>
								<h4>Patient Ward</h4>
							</div>
							<div class="features-grid hvr-bounce-to-bottom">
								<div class="features-cricle">
									<div class="features-round">
										<img src="assets/img/services/features-04.svg" class="img-fluid" alt="">
									</div>
								</div>
								<h4>Laboratory</h4>
							</div>
							<div class="features-grid hvr-bounce-to-bottom">
								<div class="features-cricle">
									<div class="features-round">
										<img src="assets/img/services/features-01.svg" class="img-fluid" alt="">
									</div>
								</div>
								<h4>Operation</h4>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-end">
						<div class="slick-view-btn me-2">
							<a href="#" class="btn">
								View More <i class="fas fa-arrow-right ms-2"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /Features Section -->

		<!-- News Section -->
		<section class="news-letter-bg">
			<div class="container">
				<div class="news-bg">
					<div class="row">
						<div class="col-lg-8 col-md-12 news-left aos" data-aos="fade-up">
							<div>
								<h2>Grab Our Newsletter</h2>
								<P>To receive latest offers and discounts from the shop.</P>
							</div>
							<div>
								<form>
									<div class="form-group">
										<input type="text" class="form-control me-2" placeholder="Enter Your Email Address">
										<button type="submit" class="btn">Subscribe</button>
									</div>
								</form>
							</div>
						</div>
						<div class="col-lg-4 col-md-12 aos" data-aos="fade-up">
							<div class="news-img">
								<img src="assets/img/blog/news-img.png" class="img-fluid" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /News Section -->

		<!-- News Section -->
		<section class="news-section">
			<div class="container">
				<div class="section-header text-center aos" data-aos="fade-up">
					<h2 class="color-primary">Let’s See Our Latest News</h2>
					<p class="sub-title color-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-4 col-md-6 d-flex aos" data-aos="fade-up">
						<div class="grid-news w-100">
							<div class="news-image">
								<a href="blog-details.html">
									<img class="img-fluid" src="assets/img/blog/blog-11.jpg" alt="News Image">
								</a>
							</div>
							<div class="news-content">
								<ul>
									<li>
										<div class="news-date">
											<a href="#">
												<i class="feather-calendar me-2"></i>
												<span>4 Dec 2021</span>
											</a>
										</div>
									</li>
									<li>
										<div class="news-date">
											<a href="#" class="news-light-btn">
												<i class="feather-tag me-2"></i>
												<span>Heath Care</span>
											</a>
										</div>
									</li>
								</ul>
								<h3 class="news-title">
									<a href="blog-details.html">How to handle patient body in MRI</a>
								</h3>
								<p>
									<a href="blog-details.html">Read News</a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 d-flex aos" data-aos="fade-up">
						<div class="grid-news w-100">
							<div class="news-image">
								<a href="blog-details.html">
									<img class="img-fluid" src="assets/img/blog/blog-12.jpg" alt="News Image">
								</a>
							</div>
							<div class="news-content">
								<ul>
									<li>
										<div class="news-date">
											<a href="#">
												<i class="feather-calendar me-2"></i>
												<span>10 Dec 2021</span>
											</a>
										</div>
									</li>
									<li>
										<div class="news-date">
											<a href="#" class="news-light-btn">
												<i class="feather-tag me-2"></i>
												<span>Surgery</span>
											</a>
										</div>
									</li>
								</ul>
								<h3 class="news-title">
									<a href="blog-details.html">Doccure – Making your clinic painless visit?</a>
								</h3>
								<p>
									<a href="blog-details.html">Read News</a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 d-flex aos" data-aos="fade-up">
						<div class="grid-news w-100">
							<div class="news-image">
								<a href="blog-details.html">
									<img class="img-fluid" src="assets/img/blog/blog-13.jpg" alt="News Image">
								</a>
							</div>
							<div class="news-content">
								<ul>
									<li>
										<div class="news-date">
											<a href="#">
												<i class="feather-calendar me-2"></i>
												<span>15 Dec 2021</span>
											</a>
										</div>
									</li>
									<li>
										<div class="news-date">
											<a href="#" class="news-light-btn">
												<i class="feather-tag me-2"></i>
												<span>General</span>
											</a>
										</div>
									</li>
								</ul>
								<h3 class="news-title">
									<a href="blog-details.html">Benefits of consulting with an Online Doctor</a>
								</h3>
								<p>
									<a href="blog-details.html">Read News</a>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="blog-details-btn text-center">
					<a href="blog-details.html" class="btn view-more">View More <i class="fas fa-arrow-right ms-2"></i></a>
				</div>
			</div>
		</section>
		<!-- /News Section -->

		<!-- Footer One -->
		<footer class="footer footer-one">
			<!-- Footer Top -->
			<div class="footer-top aos" data-aos="fade-up">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6">
							<!-- Footer Widget -->
							<div class="footer-widget footer-about">
								<div class="footer-logo">
									<img src="assets/img/footer-logo.png" alt="logo">
								</div>
								<div class="footer-about-content">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									<div class="social-icon">
										<ul>
											<li><a href="#" target="_blank"><i class="fab fa-facebook"></i> </a>
											</li>
											<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
											</li>
											<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
											</li>
											<li><a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- /Footer Widget -->
						</div>
						<div class="col-lg-3 col-md-6">
							<!-- Footer Widget -->
							<div class="footer-widget footer-menu">
								<h2 class="footer-title">For Patients</h2>
								<ul>
									<li><a href="search.html">Search for Doctors</a>
									</li>
									<li><a href="login.html">Login</a>
									</li>
									<li><a href="register.html">Register</a>
									</li>
									<li><a href="booking.html">Booking</a>
									</li>
									<li><a href="patient-dashboard.html">Patient Dashboard</a>
									</li>
								</ul>
							</div>
							<!-- /Footer Widget -->
						</div>
						<div class="col-lg-3 col-md-6">
							<!-- Footer Widget -->
							<div class="footer-widget footer-menu">
								<h2 class="footer-title">For Doctors</h2>
								<ul>
									<li><a href="appointments.html">Appointments</a>
									</li>
									<li><a href="chat.html">Chat</a>
									</li>
									<li><a href="login.html">Login</a>
									</li>
									<li><a href="doctor-register.html">Register</a>
									</li>
									<li><a href="doctor-dashboard.html">Doctor Dashboard</a>
									</li>
								</ul>
							</div>
							<!-- /Footer Widget -->
						</div>
						<div class="col-lg-3 col-md-6">
							<!-- Footer Widget -->
							<div class="footer-widget footer-contact">
								<h2 class="footer-title">Contact Us</h2>
								<div class="footer-contact-info">
									<div class="footer-address"><span><i class="feather-map-pin"></i></span>
										<p>3556 Beech Street, San Francisco,
											<br>California, CA <br>94108</p>
									</div>
									<p><i class="feather-phone"></i>
										+1 315 369 5943</p>
									<p class="mb-0"><i class="feather-mail"></i>
										doccure@example.com</p>
								</div>
							</div>
							<!-- /Footer Widget -->
						</div>
					</div>
				</div>
			</div>
			<!-- /Footer Top -->

			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="container">
					<!-- Copyright -->
					<div class="copyright">
						<div class="row">
							<div class="col-md-6 col-lg-6">
								<div class="copyright-text">
									<p class="mb-0">&copy; 2022 Doccure. All rights reserved.</p>
								</div>
							</div>
							<div class="col-md-6 col-lg-6">
								<!-- Copyright Menu -->
								<div class="copyright-menu">
									<ul class="policy-menu">
										<li><a href="term-condition.html">Terms and Conditions</a>
										</li>
										<li><a href="privacy-policy.html">Policy</a>
										</li>
									</ul>
								</div>
								<!-- /Copyright Menu -->
							</div>
						</div>
					</div>
					<!-- /Copyright -->
				</div>
			</div>
			<!-- /Footer Bottom -->
		</footer>
		<!-- /Footer One-->

	</div>
	<!-- /Main Wrapper -->

	<!-- jQuery -->
	<script src="assets/js/jquery-3.6.0.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="assets/js/bootstrap.bundle.min.js"></script>

	<!-- Feather Icon JS -->
	<script src="assets/js/feather.min.js"></script>

	<!-- Select2 JS -->
	<script src="assets/plugins/select2/js/select2.min.js"></script>

	<!-- Slick JS -->
	<script src="assets/js/slick.js"></script>

	<!-- Animation JS -->
	<script src="assets/js/aos.js"></script>

	<!-- Custom JS -->
	<script src="assets/js/script.js"></script>

</body>
</html>