<!DOCTYPE html> 
<html lang="en">
	<head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<title>Doccure</title>
		
		<!-- Favicons -->
		<link type="image/x-icon" href="assets/img/favicon.png" rel="icon">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">
		
		<!-- Owl carousel CSS -->
		<link rel="stylesheet" href="assets/css/owl.carousel.min.css">

		<!-- Animation CSS -->
		<link rel="stylesheet" href="assets/css/aos.css">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="assets/css/style.css">
	
	</head>
<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
			<header class="header header-trans">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="index.html" class="navbar-brand logo">
							<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="index.html" class="menu-logo">
								<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav">
							<li class="has-submenu active">
								<a href="">Home <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="index.html">Home</a></li>
									<li><a href="index-two.html">Home 2</a></li>
									<li><a href="index-three.html">Home 3</a></li>
									<li><a href="index-four.html">Home 4</a></li>
									<li><a href="index-five.html">Home 5</a></li>
									<li><a href="index-six.html">Home 6</a></li>
									<li class="active"><a href="index-seven.html">Home 7</a></li>
									<li><a href="index-eight.html">Home 8</a></li>
									<li><a href="index-nine.html">Home 9</a></li>
									<li><a href="index-ten.html">Home 10</a></li>
									<li><a href="index-leven.html">Home 11</a></li>
									<li><a href="index-twelve.html">Home 12</a></li>
									<li><a href="index-thirteen.html">Home 13</a></li>
									<li><a href="index-fourteen.html">Home 14</a></li>
										<li><a href="index-fifteen.html">Home 15</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="">Doctors <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="doctor-dashboard.html">Doctor Dashboard</a></li>
									<li><a href="appointments.html">Appointments</a></li>
									<li><a href="schedule-timings.html">Schedule Timing</a></li>
									<li><a href="my-patients.html">Patients List</a></li>
									<li><a href="patient-profile.html">Patients Profile</a></li>
									<li><a href="chat-doctor.html">Chat</a></li>
									<li><a href="invoices.html">Invoices</a></li>
									<li><a href="doctor-profile-settings.html">Profile Settings</a></li>
									<li><a href="reviews.html">Reviews</a></li>
									<li><a href="doctor-register.html">Doctor Register</a></li>
									<li class="has-submenu">
										<a href="doctor-blog.html">Blog</a>
										<ul class="submenu">
											<li><a href="doctor-blog.html">Blog</a></li>
											<li><a href="blog-details.html">Blog view</a></li>
											<li><a href="doctor-add-blog.html">Add Blog</a></li>
										</ul>
									</li>
								</ul>
							</li>	
							<li class="has-submenu">
								<a href="">Patients <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li class="has-submenu">
										<a href="#">Doctors</a>
										<ul class="submenu">
											<li><a href="map-grid.html">Map Grid</a></li>
											<li><a href="map-list.html">Map List</a></li>
											<li><a href="map-list-1.html">Map List 1</a></li>
										</ul>
									</li>
									<li><a href="search.html">Search Doctor</a></li>
									<li><a href="doctor-profile.html">Doctor Profile</a></li>
									<li><a href="booking.html">Booking</a></li>
									<li><a href="checkout.html">Checkout</a></li>
									<li><a href="booking-success.html">Booking Success</a></li>
									<li><a href="patient-dashboard.html">Patient Dashboard</a></li>
									<li><a href="favourites.html">Favourites</a></li>
									<li><a href="chat.html">Chat</a></li>
									<li><a href="profile-settings.html">Profile Settings</a></li>
									<li><a href="change-password.html">Change Password</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="">Pharmacy <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="pharmacy-index.html">Pharmacy</a></li>
									<li><a href="pharmacy-details.html">Pharmacy Details</a></li>
									<li><a href="pharmacy-search.html">Pharmacy Search</a></li>
									<li><a href="product-all.html">Product</a></li>
									<li><a href="product-description.html">Product Description</a></li>
									<li><a href="cart.html">Cart</a></li>
									<li><a href="product-checkout.html">Product Checkout</a></li>
									<li><a href="payment-success.html">Payment Success</a></li>
									<li><a href="pharmacy-register.html">Pharmacy Register</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="">Pages <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="voice-call.html">Voice Call</a></li>
									<li><a href="video-call.html">Video Call</a></li>
									<li><a href="search.html">Search Doctors</a></li>
									<li><a href="calendar.html">Calendar</a></li>
									<li><a href="onboarding-email.html">Doctor Onboarding</a></li>
									<li><a href="patient-email.html">Patient Onboarding</a></li>
									<li><a href="components.html">Components</a></li>
									<li class="has-submenu">
										<a href="invoices.html">Invoices</a>
										<ul class="submenu">
											<li><a href="invoices.html">Invoices</a></li>
											<li><a href="invoice-view.html">Invoice View</a></li>
										</ul>
									</li>
									<li><a href="blank-page.html">Starter Page</a></li>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="contact-us.html">Contact Us</a></li></li>
									<li><a href="login.html">Login</a></li>
									<li><a href="register.html">Register</a></li>
									<li><a href="forgot-password.html">Forgot Password</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="">Blog <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="blog-list.html">Blog List</a></li>
									<li><a href="blog-grid.html">Blog Grid</a></li>
									<li><a href="blog-details.html">Blog Details</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="#" target="_blank">Admin <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="admin/index.html" target="_blank">Admin</a></li>
									<li><a href="pharmacy/index.html" target="_blank">Pharmacy Admin</a></li>
								</ul>
							</li>
							<li class="login-link">
								<a href="login.html">Login / Signup</a>
							</li>
						</ul>		 
					</div>		 
					<ul class="nav header-navbar-rht">
						<li class="nav-item contact-item">
							<div class="header-contact-img">
								<i class="fas fa-phone-alt"></i>					
							</div>
							<div class="header-contact-detail">
								<p class="contact-info-header">Contact: +1 315 369 5943</p>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link header-login" href="login.html"><img src="assets/img/login-btn.png" alt="" class="img-fluid me-2">login / Signup </a>
						</li>
					</ul>
				</nav>
			</header>
			<!-- /Header -->
			
			<!-- Home Banner -->
			<section class="doctor-search-section">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6">
							<div class="doctor-search">
								<div class="banner-header aos" data-aos="fade-up">
									<h2>Search Doctor, <br> Make an Appointment</h2>
								</div>
								<div class="doctor-form aos" data-aos="fade-up">
									<form action="#" class="doctor-search-form">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label>Location</label>
													<div class="form-custom">
														<input type="text" class="form-control" value="">
														<i class="far fa-compass"></i>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>Gender</label>
													<div class="form-custom">
														<input type="text" class="form-control" value="">
														<i class="far fa-smile"></i>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>Department</label>
													<div class="form-custom">
														<input type="text" class="form-control" value="">
														<i class="fas fa-user-check"></i>
													</div>
												</div>
											</div>
											<div class="col-md-12">
												<a href="search.html" class="btn banner-btn mt-3">MAKE APPOINTMENT</a>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<img src="assets/img/doctor-banner.png" class="img-fluid dr-img" alt="" >
						</div>
					</div>
				</div>
			</section>
			<!-- /Home Banner -->

			<!-- Clinic Section -->
			<section class="clinics-section">
				<div class="shapes">
					<img src="assets/img/shapes/shape-1.png" alt="" class="img-fluid shape-1">
					<img src="assets/img/shapes/shape-2.png" alt="" class="img-fluid shape-2">
				</div>
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="section-heading aos" data-aos="fade-up">
								<h2>Clinic & Specialities</h2>
								<p>Access to expert physicians and surgeons, advanced technologies and top-quality surgery facilities right here.</p>
							</div>
						</div>
						<div class="col-md-6 text-end aos" data-aos="fade-up">
							<div class="owl-nav slide-nav-1 text-end nav-control"></div>
						</div>
					</div>
					<div class="owl-carousel clinics owl-theme aos" data-aos="fade-up">
						<div class="item">
							<div class="clinic-item">
								<div class="clinics-card">
									<div class="clinics-img">
										<img src="assets/img/clinic/clinic-1.jpg" alt="" class="img-fluid">
									</div>
									<div class="clinics-info">
										<img src="assets/img/category/1.png" alt="" class="img-fluid">
										<a href="#"><span>UROLOGY</span></a>
									</div>
								</div>
								<div class="clinics-icon">
									<a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="clinic-item">
								<div class="clinics-card">
									<div class="clinics-img">
										<img src="assets/img/clinic/clinic-2.jpg" alt="" class="img-fluid">
									</div>
									<div class="clinics-info">
										<img src="assets/img/category/2.png" alt="" class="img-fluid">
										<a href="#"><span>Orthopedic</span></a>
									</div>
								</div>
								<div class="clinics-icon">
									<a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="clinic-item">
								<div class="clinics-card">
									<div class="clinics-img">
										<img src="assets/img/clinic/clinic-4.jpg" alt="" class="img-fluid">
									</div>
									<div class="clinics-info">
										<img src="assets/img/category/4.png" alt="" class="img-fluid">
										<a href="#"><span>Cardiologist</span></a>
									</div>
								</div>
								<div class="clinics-icon">
									<a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="clinic-item">
								<div class="clinics-card">
									<div class="clinics-img">
										<img src="assets/img/clinic/clinic-3.jpg" alt="" class="img-fluid">
									</div>
									<div class="clinics-info">
										<img src="assets/img/category/5.png" alt="" class="img-fluid">
										<a href="#"><span>Dentist</span></a>
									</div>
								</div>
								<div class="clinics-icon">
									<a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="clinic-item">
								<div class="clinics-card">
									<div class="clinics-img">
										<img src="assets/img/clinic/clinic-5.jpg" alt="" class="img-fluid">
									</div>
									<div class="clinics-info">
										<img src="assets/img/category/3.png" alt="" class="img-fluid">
										<a href="#"><span>Neurology</span></a>
									</div>
								</div>
								<div class="clinics-icon">
									<a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="clinic-item">
								<div class="clinics-card">
									<div class="clinics-img">
										<img src="assets/img/clinic/clinic-1.jpg" alt="" class="img-fluid">
									</div>
									<div class="clinics-info">
										<img src="assets/img/category/4.png" alt="" class="img-fluid">
										<a href="#"><span>Cardiologist</span></a>
									</div>
								</div>
								<div class="clinics-icon">
									<a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Clinic Section -->

			<!-- Specialities Section -->
			<section class="specialities-section">
				<div class="shapes">
					<img src="assets/img/shapes/shape-3.png" alt="" class="img-fluid shape-3">
					<img src="assets/img/shapes/shape-4.png" alt="" class="img-fluid shape-4">
				</div>
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="section-heading bg-area aos" data-aos="fade-up">
								<h2>Browse by Specialities</h2>
								<p>Find experienced doctors across all specialties</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
							<div class="specialist-card d-flex">
								<div class="specialist-img">
									<img src="assets/img/category/1.png" alt="" class="img-fluid">
								</div>
								<div class="specialist-info">
									<a href="#"><h4>Urology</h4></a>
									<p>21 Doctors</p>
								</div>
								<div class="specialist-nav ms-auto">
									<a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
							<div class="specialist-card d-flex">
								<div class="specialist-img">
									<img src="assets/img/category/3.png" alt="" class="img-fluid">
								</div>
								<div class="specialist-info">
									<a href="#"><h4>Neurology</h4></a>
									<p>21 Doctors</p>
								</div>
								<div class="specialist-nav ms-auto">
									<a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
							<div class="specialist-card d-flex">
								<div class="specialist-img">
									<img src="assets/img/category/2.png" alt="" class="img-fluid">
								</div>
								<div class="specialist-info">
									<a href="#"><h4>Orthopedic</h4></a>
									<p>21 Doctors</p>
								</div>
								<div class="specialist-nav ms-auto">
									<a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
							<div class="specialist-card d-flex">
								<div class="specialist-img">
									<img src="assets/img/category/4.png" alt="" class="img-fluid">
								</div>
								<div class="specialist-info">
									<a href="#"><h4>Cardiologist</h4></a>
									<p>21 Doctors</p>
								</div>
								<div class="specialist-nav ms-auto">
									<a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
							<div class="specialist-card d-flex">
								<div class="specialist-img">
									<img src="assets/img/category/1.png" alt="" class="img-fluid">
								</div>
								<div class="specialist-info">
									<a href="#"><h4>Urology</h4></a>
									<p>21 Doctors</p>
								</div>
								<div class="specialist-nav ms-auto">
									<a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
							<div class="specialist-card d-flex">
								<div class="specialist-img">
									<img src="assets/img/category/3.png" alt="" class="img-fluid">
								</div>
								<div class="specialist-info">
									<a href="#"><h4>Neurology</h4></a>
									<p>21 Doctors</p>
								</div>
								<div class="specialist-nav ms-auto">
									<a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
							<div class="specialist-card d-flex">
								<div class="specialist-img">
									<img src="assets/img/category/2.png" alt="" class="img-fluid">
								</div>
								<div class="specialist-info">
									<a href="#"><h4>Orthopedic</h4></a>
									<p>21 Doctors</p>
								</div>
								<div class="specialist-nav ms-auto">
									<a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 aos" data-aos="fade-up">
							<div class="specialist-card d-flex">
								<div class="specialist-img">
									<img src="assets/img/category/4.png" alt="" class="img-fluid">
								</div>
								<div class="specialist-info">
									<a href="#"><h4>Cardiologist</h4></a>
									<p>21 Doctors</p>
								</div>
								<div class="specialist-nav ms-auto">
									<a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Specialities Section -->
			
			<!-- Best Doctor Section -->
			<section class="our-doctors-section">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="section-heading aos" data-aos="fade-up">
								<h2>Clinic & Specialities</h2>
								<p>Access to expert physicians and surgeons, advanced technologies and top-quality surgery facilities right here.</p>
							</div>
						</div>
						<div class="col-md-6 text-end aos" data-aos="fade-up">
							<div class="owl-nav slide-nav-2 text-end nav-control"></div>
						</div>
					</div>
					<div class="owl-carousel our-doctors owl-theme aos" data-aos="fade-up">
						<div class="item">
							<div class="our-doctors-card">
								<div class="doctors-header">
									<a href="#"><img src="assets/img/doctors/doctor-01.jpg" alt="" class="img-fluid"></a>
									<div class="img-overlay">
										<span>$20 - $50</span>
									</div>
								</div>
								<div class="doctors-body">
									<div class="rating">
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<span class="d-inline-block average-ratings">3.5</span>
									</div>
									<a href="doctor-profile.html"><h4>Dr. Ruby Perrin</h4></a>
									<p>BDS, MDS - Oral & Maxillofacial Surgery</p>
									<div class="location d-flex">
										<p><i class="fas fa-map-marker-alt"></i> Georgia, USA</p>
										<p class="ms-auto"><i class="fas fa-user-md"></i> 450 Consultations</p>
									</div>
									<div class="row row-sm">
										<div class="col-6">
											<a href="doctor-profile.html" class="btn view-btn" tabindex="0">View Profile</a>
										</div>
										<div class="col-6">
											<a href="booking.html" class="btn book-btn" tabindex="0">Book Now</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="our-doctors-card">
								<div class="doctors-header">
									<a href="#"><img src="assets/img/doctors/doctor-04.jpg" alt="" class="img-fluid"></a>
									<div class="img-overlay">
										<span>$20 - $50</span>
									</div>
								</div>
								<div class="doctors-body">
									<div class="rating">
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<span class="d-inline-block average-ratings">3.5</span>
									</div>
									<a href="doctor-profile.html"><h4>Dr. Deborah Angel</h4></a>
									<p>MBBS, MD - General Medicine, DNB</p>
									<div class="location d-flex">
										<p><i class="fas fa-map-marker-alt"></i> Georgia, USA</p>
										<p class="ms-auto"><i class="fas fa-user-md"></i> 450 Consultations</p>
									</div>
									<div class="row row-sm">
										<div class="col-6">
											<a href="doctor-profile.html" class="btn view-btn" tabindex="0">View Profile</a>
										</div>
										<div class="col-6">
											<a href="booking.html" class="btn book-btn" tabindex="0">Book Now</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="our-doctors-card">
								<div class="doctors-header">
									<a href="#"><img src="assets/img/doctors/doctor-03.jpg" alt="" class="img-fluid"></a>
									<div class="img-overlay">
										<span>$20 - $50</span>
									</div>
								</div>
								<div class="doctors-body">
									<div class="rating">
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<span class="d-inline-block average-ratings">3.5</span>
									</div>
									<a href="doctor-profile.html"><h4>Dr. Sofia Brient</h4></a>
									<p>MBBS, MS - General Surgery, MCh</p>
									<div class="location d-flex">
										<p><i class="fas fa-map-marker-alt"></i> Georgia, USA</p>
										<p class="ms-auto"><i class="fas fa-user-md"></i> 450 Consultations</p>
									</div>
									<div class="row row-sm">
										<div class="col-6">
											<a href="doctor-profile.html" class="btn view-btn" tabindex="0">View Profile</a>
										</div>
										<div class="col-6">
											<a href="booking.html" class="btn book-btn" tabindex="0">Book Now</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="our-doctors-card">
								<div class="doctors-header">
									<a href="#"><img src="assets/img/doctors/doctor-02.jpg" alt="" class="img-fluid"></a>
									<div class="img-overlay">
										<span>$20 - $50</span>
									</div>
								</div>
								<div class="doctors-body">
									<div class="rating">
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<span class="d-inline-block average-ratings">3.5</span>
									</div>
									<a href="doctor-profile.html"><h4>Dr. Darren Elder</h4></a>
									<p>BDS, MDS - Oral & Maxillofacial Surgery</p>
									<div class="location d-flex">
										<p><i class="fas fa-map-marker-alt"></i> Georgia, USA</p>
										<p class="ms-auto"><i class="fas fa-user-md"></i> 450 Consultations</p>
									</div>
									<div class="row row-sm">
										<div class="col-6">
											<a href="doctor-profile.html" class="btn view-btn" tabindex="0">View Profile</a>
										</div>
										<div class="col-6">
											<a href="booking.html" class="btn book-btn" tabindex="0">Book Now</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Best Doctor Section -->
			
			<!-- Clinic Features Section -->
			<section class="clinic-features-section">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="section-heading aos" data-aos="fade-up">
								<h2>Availabe Features in Our Clinic</h2>
								<p>Meet our Experts & Book Online</p>
							</div>
						</div>
						<div class="col-md-6 text-end aos" data-aos="fade-up">
							<div class="owl-nav slide-nav-3 text-end nav-control"></div>
						</div>
					</div>
					<div class="owl-carousel clinic-feature owl-theme aos" data-aos="fade-up">
						<div class="item">
							<div class="clinic-features">
								<img src="assets/img/clinic/clinic-6.jpg" alt="" class="img-fluid">
							</div>
							<div class="clinic-feature-overlay">
								<a href="#" class="img-overlay">Operation</a>
							</div>
						</div>
						<div class="item">
							<div class="clinic-features">
								<img src="assets/img/clinic/clinic-7.jpg" alt="" class="img-fluid">
							</div>
							<div class="clinic-feature-overlay">
								<a href="#" class="img-overlay">Medical</a>
							</div>
						</div>
						<div class="item">
							<div class="clinic-features">
								<img src="assets/img/clinic/clinic-8.jpg" alt="" class="img-fluid">
							</div>
							<div class="clinic-feature-overlay">
								<a href="#" class="img-overlay">Patient Ward</a>
							</div>
						</div>
						<div class="item">
							<div class="clinic-features">
								<img src="assets/img/clinic/clinic-9.jpg" alt="" class="img-fluid">
							</div>
							<div class="clinic-feature-overlay">
								<a href="#" class="img-overlay">TEST ROOM</a>
							</div>
						</div>
						<div class="item">
							<div class="clinic-features">
								<img src="assets/img/clinic/clinic-10.jpg" alt="" class="img-fluid">
							</div>
							<div class="clinic-feature-overlay">
								<a href="#" class="img-overlay">ICU</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Clinic Features Section -->
			
			<!-- Blog Section -->
			<section class="our-blog-section">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="section-heading aos" data-aos="fade-up">
								<h2>Blogs and News</h2>
								<p>Read Professional Articles and Latest Articles</p>
							</div>
						</div>
						<div class="col-md-6 text-end aos" data-aos="fade-up">
							<div class="owl-nav slide-nav-4 text-end nav-control"></div>
						</div>
					</div>
					<div class="owl-carousel blogs owl-theme aos" data-aos="fade-up">
						<div class="item">
							<div class="our-blogs">
								<div class="blogs-img">
									<a href="blog-details.html"><img src="assets/img/blog-1.jpg" alt="" class="img-fluid"></a>
									<div class="blogs-overlay d-flex">
										<img src="assets/img/doctors/doctor-thumb-01.jpg" alt="" class="img-fluid">
											<span class="blogs-writter">Dr. Ruby Perrin</span>
									</div>
								</div>
								<div class="blogs-info">
									<span>Urology</span>
									<a href="blog-details.html"><h4>Doccure – Making your clinic painless visit?</h4></a>
									<p>Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
									<span class="blogs-time"><i class="far fa-clock"></i> 3 Dec 2021</span>
								</div>
								<div class="blogs-nav">
									<a href="blog-details.html" class="blogs-btn">Read More</a>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="our-blogs">
								<div class="blogs-img">
									<a href="blog-details.html"><img src="assets/img/blog-2.jpg" alt="" class="img-fluid"></a>
									<div class="blogs-overlay d-flex">
										<img src="assets/img/doctors/doctor-thumb-01.jpg" alt="" class="img-fluid">
											<span class="blogs-writter">Dr. Ruby Perrin</span>
									</div>
								</div>
								<div class="blogs-info">
									<span>Neurology</span>
									<a href="blog-details.html"><h4>What are the benefits of Online Doctor Booking?</h4></a>
									<p>Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
									<span class="blogs-time"><i class="far fa-clock"></i> 3 Dec 2021</span>
								</div>
								<div class="blogs-nav">
									<a href="blog-details.html" class="blogs-btn">Read More</a>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="our-blogs">
								<div class="blogs-img">
									<a href="blog-details.html"><img src="assets/img/blog-3.jpg" alt="" class="img-fluid"></a>
									<div class="blogs-overlay d-flex">
										<img src="assets/img/doctors/doctor-thumb-01.jpg" alt="" class="img-fluid">
											<span class="blogs-writter">Dr. Ruby Perrin</span>
									</div>
								</div>
								<div class="blogs-info">
									<span>Orthopedic</span>
									<a href="blog-details.html"><h4>Benefits of consulting with an Online Doctor</h4></a>
									<p>Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
									<span class="blogs-time"><i class="far fa-clock"></i> 3 Dec 2021</span>
								</div>
								<div class="blogs-nav">
									<a href="blog-details.html" class="blogs-btn">Read More</a>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="our-blogs">
								<div class="blogs-img">
									<a href="blog-details.html"><img src="assets/img/blog-4.jpg" alt="" class="img-fluid"></a>
									<div class="blogs-overlay d-flex">
										<img src="assets/img/doctors/doctor-thumb-01.jpg" alt="" class="img-fluid">
											<span class="blogs-writter">Dr. Ruby Perrin</span>
									</div>
								</div>
								<div class="blogs-info">
									<span>Cardiologist</span>
									<a href="blog-details.html"><h4>5 Great reasons to use an Online Doctor</h4></a>
									<p>Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed do eiusmod tempor.</p>
									<span class="blogs-time"><i class="far fa-clock"></i> 3 Dec 2021</span>
								</div>
								<div class="blogs-nav">
									<a href="blog-details.html" class="blogs-btn">Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Blog Section -->
			
			<!-- Footer -->
			<footer class="footer footer-2">
				
				<!-- Footer Top -->
				<div class="footer-top">
					<div class="container-fluid">
						<div class="row aos" data-aos="fade-up">
							
							<div class="col-lg-2 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title footer-title-two">Quick Links</h2>
									<ul>
										<li><a href="#">About Us</a></li>
										<li><a href="#">Our Mission</a></li>
										<li><a href="#">Our Approach</a></li>
										<li><a href="#">Our History</a></li>
										<li><a href="#">Awards And Achievements</a></li>
										<li><a href="#">Careers</a></li>
										<li><a href="#">Appointment</a></li>
										<li><a href="#">Facilities</a></li>
										<li><a href="#">Pricing Plans</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-about">
									<div class="footer-logo">
										<img src="assets/img/footer-logo.png" alt="logo">
									</div>
									<div class="footer-about-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									</div>
									<div class="footer-widget footer-contact mt-4">
										<h2 class="footer-title footer-title-two">Our Location</h2>
										<div class="footer-contact-info">
											<div class="footer-address">
												<span><i class="fas fa-map-marker-alt"></i></span>
												<p> 3556  Beech Street, San Francisco,<br> California, CA 94108 </p>
											</div>
											<p>
												<i class="fas fa-phone-alt"></i>
												+1 315 369 5943
											</p>
											<p class="mb-0">
												<i class="fas fa-envelope"></i>
												doccure@example.com
											</p>
										</div>
									</div>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title footer-title-two">Services</h2>
									<div class="row">
										<div class="col-lg-6">
											<ul>
												<li><a href="#">Cardiology</a></li>
												<li><a href="#">Diabetes</a></li>
												<li><a href="#">Plastic Surgery</a></li>
												<li><a href="#">Gastroenterology</a></li>
												<li><a href="#">Gynecology</a></li>
												<li><a href="#">Hepatology</a></li>
												<li><a href="#">Neurology</a></li>
												<li><a href="#">Radiology</a></li>
												<li><a href="#">Rhinology</a></li>
											</ul>
										</div>
										<div class="col-lg-6">
											<ul>
												<li><a href="#">Obstetrics</a></li>
												<li><a href="#">Ophthalmology</a></li>
												<li><a href="#">Oral Health</a></li>
												<li><a href="#">Orthopedics</a></li>
												<li><a href="#">Osteology</a></li>
												<li><a href="#">Otology</a></li>
												<li><a href="#">Pediatrics</a></li>
												<li><a href="#">Psychiatry</a></li>
												<li><a href="#">Pulmonology</a></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-2 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title footer-title-two">For Patients</h2>
									<ul>
										<li><a href="search.html">Search for Doctors</a></li>
										<li><a href="login.html">Login</a></li>
										<li><a href="register.html">Register</a></li>
										<li><a href="booking.html">Booking</a></li>
										<li><a href="patient-dashboard.html">Patient Dashboard</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-2 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title footer-title-two">For Doctors</h2>
									<ul>
										<li><a href="appointments.html">Appointments</a></li>
										<li><a href="chat.html">Chat</a></li>
										<li><a href="login.html">Login</a></li>
										<li><a href="doctor-register.html">Register</a></li>
										<li><a href="doctor-dashboard.html">Doctor Dashboard</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
						</div>
					</div>
				</div>
				<!-- /Footer Top -->
				
				<!-- Footer Bottom -->
                <div class="footer-bottom">
					<div class="container-fluid">
					
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								<div class="col-md-6 col-lg-6">
									<div class="copyright-text">
										<p class="mb-0">&copy; 2022 Doccure. All rights reserved.</p>
									</div>
								</div>
								<div class="col-md-6 col-lg-6">
								
									<!-- Copyright Menu -->
									<div class="copyright-menu">
										<ul class="policy-menu">
											<li><a href="term-condition.html">Terms and Conditions</a></li>
											<li><a href="privacy-policy.html">Policy</a></li>
										</ul>
									</div>
									<!-- /Copyright Menu -->
									
								</div>
							</div>
						</div>
						<!-- /Copyright -->
						
					</div>
				</div>
				<!-- /Footer Bottom -->
				
			</footer>
			<!-- /Footer -->
		   
	   </div>
	   <!-- /Main Wrapper -->
	  
		<!-- jQuery -->
		<script src="assets/js/jquery-3.6.0.min.js"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="assets/js/bootstrap.bundle.min.js"></script>
		
		<!-- Owl Carousel JS -->
		<script src="assets/js/owl.carousel.min.js"></script>
		
		<!-- Slick JS -->
		<script src="assets/js/slick.js"></script>

		<!-- Animation JS -->
		<script src="assets/js/aos.js"></script>
		
		<!-- Custom JS -->
		<script src="assets/js/script.js"></script>
		
	</body>
</html>