<!DOCTYPE html> 
<html lang="en">
	<head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<title>Doccure</title>
		
		<!-- Favicons -->
		<link type="image/x-icon" href="assets/img/favicon.png" rel="icon">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

		<!-- Feathericon CSS -->
    	<link rel="stylesheet" href="assets/css/feather.css">
		
		<!-- Datetimepicker CSS -->
		<link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css">
		
		<!-- Select2 CSS -->
		<link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">
		
		<!-- Jquery CSS -->
		<link rel="stylesheet" href="assets/plugins/jquery-ui/jquery-ui.css">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="assets/css/style.css">
	
	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
			<header class="header">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="index.html" class="navbar-brand logo">
							<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="index.html" class="menu-logo">
								<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav">
							<li class="has-submenu">
								<a href="">Home <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="index.html">Home</a></li>
									<li><a href="index-two.html">Home 2</a></li>
									<li><a href="index-three.html">Home 3</a></li>
									<li><a href="index-four.html">Home 4</a></li>
									<li><a href="index-five.html">Home 5</a></li>
									<li><a href="index-six.html">Home 6</a></li>
									<li><a href="index-seven.html">Home 7</a></li>
									<li><a href="index-eight.html">Home 8</a></li>
									<li><a href="index-nine.html">Home 9</a></li>
									<li><a href="index-ten.html">Home 10</a></li>
									<li><a href="index-leven.html">Home 11</a></li>
									<li><a href="index-twelve.html">Home 12</a></li>
									<li><a href="index-thirteen.html">Home 13</a></li>
									<li><a href="index-fourteen.html">Home 14</a></li>
										<li><a href="index-fifteen.html">Home 15</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="">Doctors <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="doctor-dashboard.html">Doctor Dashboard</a></li>
									<li><a href="appointments.html">Appointments</a></li>
									<li><a href="schedule-timings.html">Schedule Timing</a></li>
									<li><a href="my-patients.html">Patients List</a></li>
									<li><a href="patient-profile.html">Patients Profile</a></li>
									<li><a href="chat-doctor.html">Chat</a></li>
									<li><a href="invoices.html">Invoices</a></li>
									<li><a href="doctor-profile-settings.html">Profile Settings</a></li>
									<li><a href="reviews.html">Reviews</a></li>
									<li><a href="doctor-register.html">Doctor Register</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="">Patients <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li class="has-submenu">
										<a href="#">Doctors</a>
										<ul class="submenu">
											<li><a href="map-grid.html">Map Grid</a></li>
											<li><a href="map-list.html">Map List</a></li>
											<li><a href="map-list-1.html">Map List 1</a></li>
										</ul>
									</li>
									<li><a href="search.html">Search Doctor</a></li>
									<li><a href="doctor-profile.html">Doctor Profile</a></li>
									<li><a href="booking.html">Booking</a></li>
									<li><a href="checkout.html">Checkout</a></li>
									<li><a href="booking-success.html">Booking Success</a></li>
									<li><a href="patient-dashboard.html">Patient Dashboard</a></li>
									<li><a href="favourites.html">Favourites</a></li>
									<li><a href="chat.html">Chat</a></li>
									<li><a href="profile-settings.html">Profile Settings</a></li>
									<li><a href="change-password.html">Change Password</a></li>
								</ul>
							</li>
							<li class="has-submenu active">
								<a href="">Pharmacy <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="pharmacy-index.html">Pharmacy</a></li>
									<li><a href="pharmacy-details.html">Pharmacy Details</a></li>
									<li><a href="pharmacy-search.html">Pharmacy Search</a></li>
									<li class="active"><a href="product-all.html">Product</a></li>
									<li><a href="product-description.html">Product Description</a></li>
									<li><a href="cart.html">Cart</a></li>
									<li><a href="product-checkout.html">Product Checkout</a></li>
									<li><a href="payment-success.html">Payment Success</a></li>
									<li><a href="pharmacy-register.html">Pharmacy Register</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="">Pages <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="voice-call.html">Voice Call</a></li>
									<li><a href="video-call.html">Video Call</a></li>
									<li><a href="search.html">Search Doctors</a></li>
									<li><a href="calendar.html">Calendar</a></li>
									<li><a href="onboarding-email.html">Doctor Onboarding</a></li>
									<li><a href="patient-email.html">Patient Onboarding</a></li>
									<li><a href="components.html">Components</a></li>
									<li class="has-submenu">
										<a href="invoices.html">Invoices</a>
										<ul class="submenu">
											<li><a href="invoices.html">Invoices</a></li>
											<li><a href="invoice-view.html">Invoice View</a></li>
										</ul>
									</li>
									<li><a href="blank-page.html">Starter Page</a></li>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="contact-us.html">Contact Us</a></li>
									<li><a href="login.html">Login</a></li>
									<li><a href="register.html">Register</a></li>
									<li><a href="forgot-password.html">Forgot Password</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="">Blog <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="blog-list.html">Blog List</a></li>
									<li><a href="blog-grid.html">Blog Grid</a></li>
									<li><a href="blog-details.html">Blog Details</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="#" target="_blank">Admin <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="admin/index.html" target="_blank">Admin</a></li>
									<li><a href="pharmacy/index.html" target="_blank">Pharmacy Admin</a></li>
								</ul>
							</li>
							<li class="login-link">
								<a href="login.html">Login / Signup</a>
							</li>
						</ul>		 
					</div>		 
					<ul class="nav header-navbar-rht">
						<li class="nav-item contact-item">
							<div class="header-contact-img">
								<i class="far fa-hospital"></i>							
							</div>
							<div class="header-contact-detail">
								<p class="contact-header">Contact</p>
								<p class="contact-info-header"> +1 315 369 5943</p>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link header-login" href="login.html">login / Signup </a>
						</li>
					</ul>
				</nav>
			</header>
			<!-- /Header -->

			<!-- Breadcrumb -->
			<div class="breadcrumb-bar-six">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<h2 class="breadcrumb-title">Pharmacy</h2>
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Products </li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
		  	<!-- Page Content -->
			<div class="content pharmacy-cart-content">
				<div class="container">

					<!-- Product List -->
					<div class="row">
						<div class="col-lg-3 col-xl-3 theiaStickySidebar">
							
							<!-- Category -->
							<div class="filter-new">
								<div class="filter-header">
									<h4>Shop by Category</h4>
								</div>
								<div class="filter-widget">
									<ul>
										<li>
											<a href="javascript:void(0);">Medicine <span><i class="fas fa-angle-right"></i></span></a>
										</li>
										<li>
											<a href="javascript:void(0);">Mask <span><i class="fas fa-angle-right"></i></span></a>
										</li>
										<li>
											<a href="javascript:void(0);">Blood Pressure <span><i class="fas fa-angle-right"></i></span></a>
										</li>
										<li>
											<a href="javascript:void(0);">Hand Gloves <span><i class="fas fa-angle-right"></i></span></a>
										</li>
										<li>
											<a href="javascript:void(0);">Nutritions <span><i class="fas fa-angle-right"></i></span></a>
										</li>
										<li>
											<a href="javascript:void(0);">Safety Guard <span><i class="fas fa-angle-right"></i></span></a>
										</li>
										<li>
											<a href="javascript:void(0);">Pills <span><i class="fas fa-angle-right"></i></span></a>
										</li>
										<li>
											<a href="javascript:void(0);">Testing kit <span><i class="fas fa-angle-right"></i></span></a>
										</li>
										<li>
											<a href="javascript:void(0);">Pharmacies <span><i class="fas fa-angle-right"></i></span></a>
										</li>
										<li>
											<a href="javascript:void(0);javascript:void(0);">Vitamins <span><i class="fas fa-angle-right"></i></span></a>
										</li>
										<li>
											<a href="javascript:void(0);">Surgical Mask <span><i class="fas fa-angle-right"></i></span></a>
										</li>
									</ul>
								</div>
							</div>
							<!-- /Category -->
							
							<!-- Brands -->
							<div class="filter-new">
								<div class="filter-header">
									<h4>Price Range</h4>
								</div>
								<div class="filter-widget">
									<div class="filter-content filter-content-slider">										
										<div class="slider-wrapper"><div id="price-range"></div></div>
										<div class="price-wrapper">
											<h6>Price: <span>$<span id="pricerangemin"></span> - $<span id="pricerangemax"></span></span></h6>
										</div>
                                    </div>
								</div>
							</div>
							<!-- /Brands -->
							
							<!-- Brands -->
							<div class="filter-new">
								<div class="filter-header">
									<h4>By Brands</h4>
								</div>
								<div class="filter-widget">
									<ul>
										<li>
											<a href="javascript:void(0);">Aquare Pharma <span> (25)</span></a>
										</li>
										<li>
											<a href="javascript:void(0);">Med Care <span> (10)</span></a>
										</li>
										<li>
											<a href="javascript:void(0);">Happy Life Bio Care <span> (08)</span></a>
										</li>
										<li>
											<a href="javascript:void(0);">MediMall Pharma <span> (06)</span></a>
										</li>
									</ul>
								</div>
							</div>
							<!-- /Brands -->
							
							<!-- Brands -->
							<div class="filter-new">
								<div class="filter-header">
									<h4>By Rating</h4>
								</div>
								<div class="filter-widget">
									<ul>
										<li>
											<ul class="ratings">
												<li>
													<a href="javascript:void(0);"><i class="fas fa-star filled"></i></a>
												</li>
												<li>
													<a href="javascript:void(0);"><i class="fas fa-star filled"></i></a>
												</li>
												<li>
													<a href="javascript:void(0);"><i class="fas fa-star filled"></i></a>
												</li>
												<li>
													<a href="javascript:void(0);"><i class="fas fa-star filled"></i></a>
												</li>
												<li>
													<a href="javascript:void(0);"><i class="fas fa-star filled"></i></a>
												</li>
											</ul>
											<span> (10)</span>
										</li>
										<li>
											<ul class="ratings">
												<li>
													<a href="javascript:void(0);"><i class="fas fa-star filled"></i></a>
												</li>
												<li>
													<a href="javascript:void(0);"><i class="fas fa-star filled"></i></a>
												</li>
												<li>
													<a href="javascript:void(0);"><i class="fas fa-star filled"></i></a>
												</li>
												<li>
													<a href="javascript:void(0);"><i class="fas fa-star filled"></i></a>
												</li>
												<li>
													<a href="javascript:void(0);"><i class="fas fa-star"></i></a>
												</li>
											</ul>
											<span>(05)</span>
										</li>
										<li>
											<ul class="ratings">
												<li>
													<a href="javascript:void(0);"><i class="fas fa-star filled"></i></a>
												</li>
												<li>
													<a href="javascript:void(0);"><i class="fas fa-star filled"></i></a>
												</li>
												<li>
													<a href="javascript:void(0);"><i class="fas fa-star filled"></i></a>
												</li>
												<li>
													<a href="javascript:void(0);"><i class="fas fa-star"></i></a>
												</li>
												<li>
													<a href="javascript:void(0);"><i class="fas fa-star"></i></a>
												</li>
											</ul>
											<span>(30)</span>
										</li>
										<li>
											<ul class="ratings">
												<li>
													<a href="javascript:void(0);"><i class="fas fa-star filled"></i></a>
												</li>
												<li>
													<a href="javascript:void(0);"><i class="fas fa-star filled"></i></a>
												</li>
												<li>
													<a href="javascript:void(0);"><i class="fas fa-star"></i></a>
												</li>
												<li>
													<a href="javascript:void(0);"><i class="fas fa-star"></i></a>
												</li>
												<li>
													<a href="javascript:void(0);"><i class="fas fa-star"></i></a>
												</li>
											</ul>
											<span>(25)</span>
										</li>
										<li>
											<ul class="ratings">
												<li>
													<a href="javascript:void(0);"><i class="fas fa-star filled"></i></a>
												</li>
												<li>
													<a href="javascript:void(0);"><i class="fas fa-star"></i></a>
												</li>
												<li>
													<a href="javascript:void(0);"><i class="fas fa-star"></i></a>
												</li>
												<li>
													<a href="javascript:void(0);"><i class="fas fa-star"></i></a>
												</li>
												<li>
													<a href="javascript:void(0);"><i class="fas fa-star"></i></a>
												</li>
											</ul>
											<span>(14)</span>
										</li>
									</ul>
								</div>
							</div>
							<!-- /Brands -->
							
						</div>
						
						<div class="col-lg-9 col-xl-9">
							
							<!-- Filter -->
							<div class="filter-info">
								<div class="row align-items-center">	
									<div class="col-md-7 col-12 d-md-block custom-short-by">
										<div class="pharm-viewicon">
											<div class="view-icons ">
												<a href="product-all.html" class="grid-view"><i class="feather-grid"></i></a>
												<a href="product-list.html" class="list-view active"><i class="feather-list"></i></a>
											</div>
											<p>Showing 1–9 of 12 results</p>
										</div>
									</div>
									<div class="col-md-5 col-12 d-md-block custom-short-by">
										<div class="sort-by sort-byone">
											<span class="sortby-fliter">
												<select class="select">
													<option>Default Sorting</option>
													<option class="sorting">Rating</option>
													<option class="sorting">Popular</option>
													<option class="sorting">Latest</option>
													<option class="sorting">Free</option>
												</select>
											</span>
										</div>
									</div>
								</div>
							</div>
							<!-- /Filter -->

							<div class="pro-list">
								<div class="row">
								
									<!-- Product -->
									<div class="col-md-12">
										<div class="prod-widget">
											<div class="deal-pro-img">
												<div class="deal-pro-tags">
													<span class="offer">-25% OFF</span>
												</div>
												<a href="product-description.html">
													<img src="assets/img/products/product-06.jpg" alt="" class="img-fluid">
												</a>
											</div>
											<div class="deal-pro-detail">
												<h6>Vitamins, Health Chocolates</h6>
												<h4><a href="product-description.html">Protein Chocolate Flake</a></h4>
												<ul class="brand-pro">
													<li>By <span>HealthKart</span></li>
													<li>
														<ul class="ratings">
															<li>
																<a href="javascript:void(0);"><i class="fas fa-star filled"></i></a>
															</li>
															<li>
																<a href="javascript:void(0);"><i class="fas fa-star filled"></i></a>
															</li>
															<li>
																<a href="javascript:void(0);"><i class="fas fa-star filled"></i></a>
															</li>
															<li>
																<a href="javascript:void(0);"><i class="fas fa-star filled"></i></a>
															</li>
															<li>
																<a href="javascript:void(0);"><i class="fas fa-star"></i></a>
															</li>
															<li><span>(256)</span></li>
														</ul>
													</li>
												</ul>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
												<div class="pro-pricelist">
													<h2>$120  <span>$125.50</span></h2>
													<a href="cart.html" class="btn book-btn"><img src="assets/img/icons/cart-icon.svg" alt="" class="w-auto d-inline-block me-1"> Add to Cart</a>
													<ul>
														<li>
															<a href="javascript:void(0);"><i class="feather-eye"></i></a>
														</li>
														<li>
															<a href="javascript:void(0);"><i class="feather-heart"></i></a>
														</li>
														<li>
															<a href="javascript:void(0);"><i class="feather-shuffle"></i></a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<!-- /Product -->
									
									<!-- Product -->
									<div class="col-md-12">
										<div class="prod-widget">
											<div class="deal-pro-img">
												<div class="deal-pro-tags">
													<span class="offer">-15% OFF</span>
												</div>
												<a href="product-description.html">
													<img src="assets/img/products/product-03.jpg" alt="" class="img-fluid">
												</a>
											</div>
											<div class="deal-pro-detail">
												<h6>Vitamins, Health Chocolates</h6>
												<h4><a href="product-description.html">Vit D3, 60 tablets, Unflavoured</a></h4>
												<ul class="brand-pro">
													<li>By <span>Aenean </span></li>
													<li>
														<ul class="ratings">
															<li>
																<a href="javascript:void(0);"><i class="fas fa-star filled"></i></a>
															</li>
															<li>
																<a href="javascript:void(0);"><i class="fas fa-star filled"></i></a>
															</li>
															<li>
																<a href="javascript:void(0);"><i class="fas fa-star filled"></i></a>
															</li>
															<li>
																<a href="javascript:void(0);"><i class="fas fa-star filled"></i></a>
															</li>
															<li>
																<a href="javascript:void(0);"><i class="fas fa-star"></i></a>
															</li>
															<li><span>(150)</span></li>
														</ul>
													</li>
												</ul>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
												<div class="pro-pricelist">
													<h2>$120  <span>$125.50</span></h2>
													<a href="cart.html" class="btn book-btn"><img src="assets/img/icons/cart-icon.svg" alt="" class="w-auto d-inline-block me-1"> Add to Cart</a>
													<ul>
														<li>
															<a href="javascript:void(0);"><i class="feather-eye"></i></a>
														</li>
														<li>
															<a href="javascript:void(0);"><i class="feather-heart"></i></a>
														</li>
														<li>
															<a href="javascript:void(0);"><i class="feather-shuffle"></i></a>
														</li>
													</ul>
												</div>
											</div>
										</div>	
									</div>
									<!-- /Product -->
									
									<!-- Product -->
									<div class="col-md-12">
										<div class="prod-widget">
											<div class="deal-pro-img">
												<div class="deal-pro-tags">
													<span class="offer">-25% OFF</span>
												</div>
												<a href="product-description.html">
													<img src="assets/img/products/product-08.png" alt="" class="img-fluid">
												</a>
											</div>
											<div class="deal-pro-detail">
												<h6>Equipments</h6>
												<h4><a href="product-description.html">Eletric Toothbrush</a></h4>
												<ul class="brand-pro">
													<li>By <span>Aenean </span></li>
													<li>
														<ul class="ratings">
															<li>
																<a href="javascript:void(0);"><i class="fas fa-star filled"></i></a>
															</li>
															<li>
																<a href="javascript:void(0);"><i class="fas fa-star filled"></i></a>
															</li>
															<li>
																<a href="javascript:void(0);"><i class="fas fa-star filled"></i></a>
															</li>
															<li>
																<a href="javascript:void(0);"><i class="fas fa-star filled"></i></a>
															</li>
															<li>
																<a href="javascript:void(0);"><i class="fas fa-star"></i></a>
															</li>
															<li><span>(256)</span></li>
														</ul>
													</li>
												</ul>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
												<div class="pro-pricelist">
													<h2>$120  <span>$125.50</span></h2>
													<a href="cart.html" class="btn book-btn"><img src="assets/img/icons/cart-icon.svg" alt="" class="w-auto d-inline-block me-1"> Add to Cart</a>
													<ul>
														<li>
															<a href="javascript:void(0);"><i class="feather-eye"></i></a>
														</li>
														<li>
															<a href="javascript:void(0);"><i class="feather-heart"></i></a>
														</li>
														<li>
															<a href="javascript:void(0);"><i class="feather-shuffle"></i></a>
														</li>
													</ul>
												</div>
											</div>
										</div>	
									</div>
									<!-- /Product -->
									
									<!-- Product -->
									<div class="col-md-12">
										<div class="prod-widget">
											<div class="deal-pro-img">
												<div class="deal-pro-tags">
													<span class="offer">-25% OFF</span>
												</div>
												<a href="product-description.html">
													<img src="assets/img/products/product-09.png" alt="" class="img-fluid">
												</a>
											</div>
											<div class="deal-pro-detail">
												<h6>Safety Guard</h6>
												<h4><a href="product-description.html">Safety Gloves</a></h4>
												<ul class="brand-pro">
													<li>By <span>Med Care</span></li>
													<li>
														<ul class="ratings">
															<li>
																<a href="javascript:void(0);"><i class="fas fa-star filled"></i></a>
															</li>
															<li>
																<a href="javascript:void(0);"><i class="fas fa-star filled"></i></a>
															</li>
															<li>
																<a href="javascript:void(0);"><i class="fas fa-star filled"></i></a>
															</li>
															<li>
																<a href="javascript:void(0);"><i class="fas fa-star filled"></i></a>
															</li>
															<li>
																<a href="javascript:void(0);"><i class="fas fa-star"></i></a>
															</li>
															<li><span>(256)</span></li>
														</ul>
													</li>
												</ul>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
												<div class="pro-pricelist">
													<h2>$20   <span>$25.50</span></h2>
													<a href="cart.html" class="btn book-btn"><img src="assets/img/icons/cart-icon.svg" alt="" class="w-auto d-inline-block me-1"> Add to Cart</a>
													<ul>
														<li>
															<a href="javascript:void(0);"><i class="feather-eye"></i></a>
														</li>
														<li>
															<a href="javascript:void(0);"><i class="feather-heart"></i></a>
														</li>
														<li>
															<a href="javascript:void(0);"><i class="feather-shuffle"></i></a>
														</li>
													</ul>
												</div>
											</div>
										</div>	
									</div>
									<!-- /Product -->
                            	</div>

                             </div>
							 
							 <!-- Pagination -->
                             <div class="col-md-12 text-center">
                             	<div class="product-pagination">
									<nav>
										<ul class="pagination justify-content-end">
											<li class="page-item disabled">
												<a class="page-link" href="javascript:void(0);" tabindex="-1"><i class="fas fa-angle-left"></i></a>
											</li>
											<li class="page-item">
												<a class="page-link" href="javascript:void(0);">1</a>
											</li>
											<li class="page-item active">
												<a class="page-link" href="javascript:void(0);">2 <span class="visually-hidden">(current)</span></a>
											</li>
											<li class="page-item">
												<a class="page-link" href="javascript:void(0);">3</a>
											</li>
											<li class="page-item">
												<a class="page-link" href="javascript:void(0);"><i class="fas fa-angle-right"></i></a>
											</li>
										</ul>
									</nav>
								</div>
                         	</div>
							 <!-- /Pagination -->
						</div>
						
					</div>
					<!-- /Product List -->
					
				</div>
			</div>
			<!-- /Page Content -->
			
			<!-- Footer -->
			<footer class="footer">
				
				<!-- Footer Top -->
				<div class="footer-top">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-about">
									<div class="footer-logo">
										<img src="assets/img/footer-logo.png" alt="logo">
									</div>
									<div class="footer-about-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
										<div class="social-icon">
											<ul>
												<li>
													<a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">For Patients</h2>
									<ul>
										<li><a href="search.html">Search for Doctors</a></li>
										<li><a href="login.html">Login</a></li>
										<li><a href="register.html">Register</a></li>
										<li><a href="booking.html">Booking</a></li>
										<li><a href="patient-dashboard.html">Patient Dashboard</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">For Doctors</h2>
									<ul>
										<li><a href="appointments.html">Appointments</a></li>
										<li><a href="chat.html">Chat</a></li>
										<li><a href="login.html">Login</a></li>
										<li><a href="doctor-register.html">Register</a></li>
										<li><a href="doctor-dashboard.html">Doctor Dashboard</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-contact">
									<h2 class="footer-title">Contact Us</h2>
									<div class="footer-contact-info">
										<div class="footer-address">
											<span><i class="fas fa-map-marker-alt"></i></span>
											<p> 3556  Beech Street, San Francisco,<br> California, CA 94108 </p>
										</div>
										<p>
											<i class="fas fa-phone-alt"></i>
											+1 315 369 5943
										</p>
										<p class="mb-0">
											<i class="fas fa-envelope"></i>
											doccure@example.com
										</p>
									</div>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
						</div>
					</div>
				</div>
				<!-- /Footer Top -->
				
				<!-- Footer Bottom -->
                <div class="footer-bottom">
					<div class="container">
					
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								<div class="col-md-6 col-lg-6">
									<div class="copyright-text">
										<p class="mb-0">&copy; 2022 Doccure. All rights reserved.</p>
									</div>
								</div>
								<div class="col-md-6 col-lg-6">
								
									<!-- Copyright Menu -->
									<div class="copyright-menu">
										<ul class="policy-menu">
											<li><a href="term-condition.html">Terms and Conditions</a></li>
											<li><a href="privacy-policy.html">Policy</a></li>
										</ul>
									</div>
									<!-- /Copyright Menu -->
									
								</div>
							</div>
						</div>
						<!-- /Copyright -->
						
					</div>
				</div>
				<!-- /Footer Bottom -->
				
			</footer>
			<!-- /Footer -->
		   
	   </div>
	   <!-- /Main Wrapper -->
	  
		<!-- jQuery -->
		<script src="assets/js/jquery-3.6.0.min.js"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="assets/js/bootstrap.bundle.min.js"></script>
		
		<!-- Sticky Sidebar JS -->
        <script src="assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
        <script src="assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>
		
		<!-- Select2 JS -->
		<script src="assets/plugins/select2/js/select2.min.js"></script>
		
		<!-- Datetimepicker JS -->
		<script src="assets/js/moment.min.js"></script>
		<script src="assets/js/bootstrap-datetimepicker.min.js"></script>
		
		<!-- Jquery UI -->
		<script src="assets/plugins/jquery-ui/jquery-ui.min.js"></script>

		<!-- Feather Icon JS -->
		<script src="assets/js/feather.min.js"></script>
		
		<!-- Custom JS -->
		<script src="assets/js/script.js"></script>
		
	</body>
</html>