<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>Doccure - Purchase Page</title>
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="assets/img/favicon.png">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">
		
		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="assets/css/feather.css">
		
		<!-- Select2 CSS-->
        <link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">
				
		<!-- Datatables CSS -->
		<link rel="stylesheet" href="assets/plugins/datatables/datatables.min.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>
	
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
			<div class="header">
			
				<!-- Logo -->
				<div class="header-left">
					<a href="index.html" class="logo">
						<img src="assets/img/logo.png" alt="Logo">
					</a>
					<a href="index.html" class="logo logo-small">
						<img src="assets/img/logo-small.png" alt="Logo" width="30" height="30">
					</a>
					<a href="javascript:void(0);" id="toggle_btn">
						<i class="feather-chevrons-left"></i>
					</a>
				</div>
				<!-- /Logo -->
				
				<!-- Search -->
				<div class="top-nav-search">
					<div class="main">
						<form class="search" method="post" action="index.html" >
							<button class="btn" type="submit"><i class="fa fa-search"></i></button>
							<input type="text" class="form-control" placeholder="Search here...">
						</form>
					</div>
				</div>
				<!-- /Search -->
				
				<!-- Mobile Menu Toggle -->
				<a class="mobile_btn" id="mobile_btn">
					<i class="fas fa-bars"></i>
				</a>
				<!-- /Mobile Menu Toggle -->
				
				<!-- Header Menu -->
				<ul class="nav nav-tabs user-menu">
					<!-- Flag -->
					<li class="nav-item">
						<a href="#" id="dark-mode-toggle" class="dark-mode-toggle">
							<i class="feather-sun light-mode"></i><i class="feather-moon dark-mode"></i>
						</a>
					</li>
					<!-- /Flag -->
					
					<!-- Notifications -->
					<li class="nav-item dropdown noti-nav">
						<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
							<i class="feather-bell"></i> <span class="badge"></span>
						</a>
						<div class="dropdown-menu notifications">
							<div class="topnav-dropdown-header">
								<span class="notification-title">Notifications</span>
								<a href="javascript:void(0)" class="clear-noti"> Clear All </a>
							</div>
							<div class="noti-content">
								<ul class="notification-list">
									<li class="notification-message">
										<a href="#">
											<div class="media d-flex">
												<span class="avatar">
													<img class="avatar-img" alt="" src="assets/img/profiles/avatar-02.jpg">
												</span>
												<div class="media-body">
													<h6>Travis Tremble <span class="notification-time">18.30 PM</span></h6>
													<p class="noti-details">Sent a amount of $210 for his Appointment  <span class="noti-title">Dr.Ruby perin </span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="#">
											<div class="media d-flex">
												<span class="avatar">
													<img class="avatar-img" alt="" src="assets/img/profiles/avatar-05.jpg">
												</span>
												<div class="media-body">
													<h6>Travis Tremble <span class="notification-time">12 Min Ago</span></h6>
													<p class="noti-details"> has booked her appointment to  <span class="noti-title">Dr. Hendry Watt</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="#">
											<div class="media d-flex">
												<div class="avatar">
													<img class="avatar-img" alt="" src="assets/img/profiles/avatar-03.jpg">
												</div>
												<div class="media-body">
													<h6>Travis Tremble <span class="notification-time">6 Min Ago</span></h6>
													<p class="noti-details"> Sent a amount  $210 for his Appointment   <span class="noti-title">Dr.Maria Dyen</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="#">
											<div class="media d-flex">
												<div class="avatar avatar-sm">
													<img class="avatar-img" alt="" src="assets/img/profiles/avatar-06.jpg">
												</div>
												<div class="media-body">
													<h6>Travis Tremble <span class="notification-time">8.30 AM</span></h6>
													<p class="noti-details"> Send a message to his doctor</p>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="topnav-dropdown-footer">
								<a href="#">View all Notifications</a>
							</div>
						</div>
					</li>
					<!-- /Notifications -->
					
					<!-- User Menu -->
					<li class="nav-item dropdown main-drop">
						<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
							<span class="user-img">
								<img src="assets/img/profiles/avatar-01.jpg" alt="">
								<span class="status online"></span>
							</span>
						</a>
						<div class="dropdown-menu">
							<div class="user-header">
								<div class="avatar avatar-sm">
									<img src="assets/img/profiles/avatar-01.jpg" alt="User Image" class="avatar-img rounded-circle">
								</div>
								<div class="user-text">
									<h6>Robert Haddin</h6>
									<p class="text-muted mb-0">Administrator</p>
								</div>
							</div>
							<a class="dropdown-item" href="profile.html"><i class="feather-user me-1"></i> My Profile</a>
							<a class="dropdown-item" href="settings.html"><i class="feather-sliders me-1"></i>Settings</a>
							<hr class="my-0 ms-2 me-2">
							<a class="dropdown-item" href="index.html"><i class="feather-log-out me-1"></i> Logout</a>
						</div>
					</li>
					<!-- /User Menu -->
					
				</ul>
				<!-- /Header Menu -->
				
			</div>
			<!-- /Header -->
			
			<!-- Sidebar -->
			<div class="sidebar" id="sidebar">
				<div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="menu-title"><span>Main</span></li>
							<li>
								<a href="index.html"><i class="feather-home"></i> <span>Dashboard</span></a>
							</li>
							<li class="submenu">
								<a href="#"><i class="feather-shopping-cart"></i> <span> Products</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="products.html">Products</a></li>
									<li><a href="add-product.html">Add Product</a></li>
									<li><a href="outstock.html">Out Stock</a></li>
									<li><a href="expired.html">Expired</a></li>
								</ul>
							</li>
							<li>
								<a href="categories.html"><i class="feather-layout"></i> <span>Categories</span></a>
							</li>
							<li class="submenu">
								<a href="#"><i class="feather-star"></i> <span> Purchase</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="purchase.html" class="active">Purchase</a></li>
									<li><a href="add-purchase.html">Add Purchase</a></li>
									<li><a href="order.html">Orders</a></li>
								</ul>
							</li>
							<li>
								<a href="sales.html"><i class="feather-activity"></i> <span>Sales</span></a>
							</li>
							<li class="submenu">
								<a href="#"><i class="feather-user"></i> <span> Supplier</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="supplier.html">Supplier</a></li>
									<li><a href="add-supplier.html">Add Supplier</a></li>
								</ul>
							</li>	
							<li> 
								<a href="transactions-list.html"><i class="feather-credit-card"></i> <span> Transaction</span></a>
							</li>
							<li class="submenu">
								<a href="#"><i class="feather-file-text"></i> <span> Reports</span> <span class="menu-arrow"></span></a>
								<ul>
									<li><a href="invoice.html">Invoice</a></li>
									<li><a href="invoice-report.html">Invoice Reports</a></li>
								</ul>
							</li>	
							<li class="menu-title"> 
								<span>Pages</span>
							</li>				
							<li> 
								<a href="profile.html"><i class="feather-user"></i> <span>Profile</span></a>
							</li>
							<li> 
								<a href="settings.html"><i class="feather-sliders"></i> <span>Settings</span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row d-flex justify-content-between align-items-center">
							<div class="col-sm-7 col-auto">
								<h3 class="page-title mb-0">Purchase</h3>
							</div>
							<div class="col-sm-5 col">
								<a href="add-purchase.html" class="btn btn-primary float-end d-flex justify-content-between align-items-center">
									<i class="feather-plus-square me-1"></i> Add New</a>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					<div class="row">
						<div class="col-md-12">
						
							<!-- Recent Orders -->
							<div class="card">
								<div class="card-header border-bottom-0">
									<div class="row align-items-center">
										<div class="col">
											<h5 class="card-title">Purchase</h5>
										</div>
										<div class="col-auto custom-list d-flex">
											<div class="form-custom me-2">
												<div id="tableSearch"  class="dataTables_wrapper"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="card-body p-0">
									<div class="table-responsive">
										<table class="datatable table table-borderless hover-table" id="data-table">
											<thead class="thead-light">
												<tr>
													<th>Purchase Date</th>
													<th>Medicine Name</th>
													<th>Medicine Category</th>
													<th>Purchase Price</th>
													<th>Quantity</th>
													<th>Supplier</th>
													<th>Expire Date</th>
													<th class="text-end">Action</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>13-5-2020</td>
													<td>
														<h2 class="table-avatar">
															<a href="#"><img class="avatar avatar-img" src="assets/img/products/product1.jpg" alt="User Image"> Abilify</a>
														</h2>
													</td>
													<td>Aripiprazole</td>
													<td>$220</td>
													<td>60</td>
													<td>Bradley</td>
													<td>13-06-20</td>
													<td class="text-end">
														<div class="actions">
															<a href="edit-purchase.html" class="text-black">
																<i class="feather-edit-3 me-1"></i> Edit
															</a>
															<a  data-bs-toggle="modal" href="#delete_modal" class="text-danger">
																<i class="feather-trash-2 me-1"></i> Delete
															</a>
														</div>
													</td>
												</tr>
												<tr>
													<td>12-5-2020</td>
													<td>
														<h2 class="table-avatar">
															<a href="#"><img class="avatar avatar-img" src="assets/img/products/product2.jpg" alt="User Image"> Actamin</a>
														</h2>
													</td>
													<td>Phytopathology‎</td>
													<td>$30</td>
													<td>20</td>
													<td>Douglas</td>
													<td>13-06-20</td>
													<td class="text-end">
														<div class="actions">
															<a href="edit-purchase.html" class="text-black">
																<i class="feather-edit-3 me-1"></i> Edit
															</a>
															<a  data-bs-toggle="modal" href="#delete_modal" class="text-danger">
																<i class="feather-trash-2 me-1"></i> Delete
															</a>
														</div>
													</td>
												</tr>
												<tr>
													<td>11-5-2020</td>
													<td>
														<h2 class="table-avatar">
															<a href="#"><img class="avatar avatar-img" src="assets/img/products/product3.jpg" alt="User Image"> Adderall</a>
														</h2>
													</td>
													<td>Phytopathology‎</td>
													<td>$58</td>
													<td>33</td>
													<td>Douglas</td>
													<td>20-06-20</td>
													<td class="text-end">
														<div class="actions">
															<a href="edit-purchase.html" class="text-black">
																<i class="feather-edit-3 me-1"></i> Edit
															</a>
															<a  data-bs-toggle="modal" href="#delete_modal" class="text-danger">
																<i class="feather-trash-2 me-1"></i> Delete
															</a>
														</div>
													</td>
												</tr>
												<tr>
													<td>10-5-2020</td>
													<td>
														<h2 class="table-avatar">
															<a href="#"><img class="avatar avatar-img" src="assets/img/products/product4.jpg" alt="User Image"> Abilify	</a>
														</h2>
													</td>
													<td>Aripiprazole</td>
													<td>$336</td>
													<td>50</td>
													<td>Bradley</td>
													<td>13-06-20</td>
													<td class="text-end">
														<div class="actions">
															<a href="edit-purchase.html" class="text-black">
																<i class="feather-edit-3 me-1"></i> Edit
															</a>
															<a  data-bs-toggle="modal" href="#delete_modal" class="text-danger">
																<i class="feather-trash-2 me-1"></i> Delete
															</a>
														</div>
													</td>
												</tr>
												<tr>
													<td>9-5-2020</td>
													<td>
														<h2 class="table-avatar">
															<a href="#"><img class="avatar avatar-img" src="assets/img/products/product6.jpg" alt="User Image"> Actamin</a>
														</h2>
													</td>
													<td>Phytopathology‎</td>
													<td>$10</td>
													<td>605</td>
													<td>Douglas</td>
													<td>13-06-20</td>
													<td class="text-end">
														<div class="actions">
															<a href="edit-purchase.html" class="text-black">
																<i class="feather-edit-3 me-1"></i> Edit
															</a>
															<a  data-bs-toggle="modal" href="#delete_modal" class="text-danger">
																<i class="feather-trash-2 me-1"></i> Delete
															</a>
														</div>
													</td>
												</tr>
												<tr>
													<td>8-5-2020</td>
													<td>
														<h2 class="table-avatar">
															<a href="#"><img class="avatar avatar-img" src="assets/img/products/product3.jpg" alt="User Image"> Adderall</a>
														</h2>
													</td>
													<td>Phytopathology‎</td>
													<td>$15</td>
													<td>160</td>
													<td>Douglas</td>
													<td>20-06-20</td>
													<td class="text-end">
														<div class="actions">
															<a href="edit-purchase.html" class="text-black">
																<i class="feather-edit-3 me-1"></i> Edit
															</a>
															<a  data-bs-toggle="modal" href="#delete_modal" class="text-danger">
																<i class="feather-trash-2 me-1"></i> Delete
															</a>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div id="tablepagination"  class="dataTables_wrapper"></div>
							<!-- /Recent Orders -->
							
						</div>
					</div>
				</div>			
			</div>
			<!-- /Page Wrapper -->
		
        </div>
		<!-- /Main Wrapper -->

		<!-- Delete Modal -->
			<div class="modal fade" id="delete_modal" aria-hidden="true" role="dialog">
				<div class="modal-dialog modal-dialog-centered" role="document" >
					<div class="modal-content doctor-profile">
						<div class="modal-header border-bottom-0 justify-content-end">
							<button type="button" class="close-btn" data-bs-dismiss="modal" aria-label="Close"><i class="feather-x-circle"></i></button>
						</div>
						<div class="modal-body">
							<div class="delete-wrap text-center">
								<div class="del-icon"><i class="feather-x-circle"></i></div>
								<h2>Sure you Want to delete</h2>
								<p>“Purchase”</p>
								<div class="submit-section">
									<a href="product-category.html" class="btn btn-success me-2">Yes</a>
									<a href="#" class="btn btn-danger" data-bs-dismiss="modal">No</a>
								</div>								
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Delete Modal -->

		<!-- jQuery -->
        <script src="assets/js/jquery-3.6.0.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="assets/js/bootstrap.bundle.min.js"></script>

        <!-- Feather Icon JS -->
		<script src="assets/js/feather.min.js"></script>
		
		<!-- Slimscroll JS -->
        <script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
		
		<!-- Datatables JS -->
		<script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
		<script src="assets/plugins/datatables/datatables.min.js"></script>
		
		<!-- Custom JS -->
		<script  src="assets/js/script.js"></script>
		
    </body>
</html>