<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>Doccure - Login</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
		
		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="assets/css/feather.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="assets/css/style.css">
		
    </head>
    <body>
	
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<div class="header d-none">
				<!-- Header Menu -->
				<ul class="nav nav-tabs user-menu">
					<!-- Flag -->
					<li class="nav-item">
						<a href="#" id="dark-mode-toggle" class="dark-mode-toggle">
							<i class="feather-sun light-mode"></i><i class="feather-moon dark-mode"></i>
						</a>
					</li>
					<!-- /Flag -->
				</ul>
				<!-- Header Menu -->
			</div>
			
			<div class="row">
			
				<!-- Login Banner -->
				<div class="col-md-6 login-bg">
					<div class="login-banner"></div>
				</div>
				<!-- /Login Banner -->
				
				<div class="col-md-6 login-wrap-bg">		
				
					<!-- Restart Password -->
					<div class="login-wrapper">
						<div class="loginbox">
							<div class="img-logo">
								<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
							</div>
							<h3>Restart Password</h3>
							<p class="account-subtitle">Enter your email to get a password reset link</p>
										
							<form action="conform-email.html">
								<div class="form-group form-focus">
									<input type="email" class="form-control floating">
									<label class="focus-label">Enter Email</label>
								</div>
								<div class="d-grid">
									<button class="btn btn-primary" type="submit">Restart Password</button>
								</div>
								<div class="dont-have">Remember your password?  <a href="login.html">Login</a></div>
							</form>
						</div>
					</div>
					<!-- /Restart Password -->
					
				</div>
				
			</div>
        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="assets/js/jquery-3.6.0.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="assets/js/bootstrap.bundle.min.js"></script>
		
		<!-- Custom JS -->
		<script src="assets/js/script.js"></script>
		
    </body>
</html>