<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>Doccure - Login</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
		
		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="assets/css/feather.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="assets/css/style.css">
		
    </head>
    <body>
	
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<div class="header d-none">
				<!-- Header Menu -->
				<ul class="nav nav-tabs user-menu">
					<!-- Flag -->
					<li class="nav-item">
						<a href="#" id="dark-mode-toggle" class="dark-mode-toggle">
							<i class="feather-sun light-mode"></i><i class="feather-moon dark-mode"></i>
						</a>
					</li>
					<!-- /Flag -->
				</ul>
				<!-- Header Menu -->
			</div>
			
			<div class="row">
			
				<!-- Login Banner -->
				<div class="col-md-6 login-bg">
					<div class="login-banner"></div>
				</div>
				<!-- /Login Banner -->
				
				<div class="col-md-6 login-wrap-bg">		
				
					<!-- Login -->
					<div class="login-wrapper">
						<div class="loginbox">
							<div class="img-logo">
								<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
							</div>
							<h3>Login</h3>
							<p class="account-subtitle">login to your account to continue</p>
										
							<form action="index.html">
								<div class="form-group form-focus">
									<input type="text" class="form-control floating">
									<label class="focus-label">Enter Email</label>
								</div>
								<div class="form-group form-focus">
									<input type="password" class="form-control floating">
									<label class="focus-label">Enter Password</label>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-6">
											<label class="custom_check mr-2 mb-0 d-inline-flex"> Remember me  
												<input type="checkbox" name="radio">
												<span class="checkmark"></span>
											</label>
										</div>
										<div class="col-6 text-end">
											<a class="forgot-link" href="forgot-password.html">Forgot Password ?</a>
										</div>
									</div>
								</div>
								<div class="d-grid">
									<button class="btn btn-primary" type="submit">Login</button>
								</div>
								<div class="dont-have">Don't have an account? <a href="register.html">Sign up</a></div>
								<div class="login-or">
									<span class="or-line"></span>
									<p class="span-or">or login with </p>
								</div>
								<!-- Social Login -->
								<div class="social-login">
									<a href="#"><img src="assets/img/icon/google.png" class="img-fluid" alt="Logo"></a>
									<a href="#"><img src="assets/img/icon/facebook.png" class="img-fluid" alt="Logo"></a>
									<a href="#"><img src="assets/img/icon/twitter.png" class="img-fluid" alt="Logo"></a>
								</div>
								<!-- /Social Login -->
							</form>
						</div>
					</div>
					<!-- /Login -->
					
				</div>
				
			</div>
        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="assets/js/jquery-3.6.0.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="assets/js/bootstrap.bundle.min.js"></script>
		
		<!-- Custom JS -->
		<script src="assets/js/script.js"></script>
		
    </body>
</html>